{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Nome </td>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Tipo</td>
                                    <td>{% if entity.tipo == 1 %}Apostila{% else %}Outros{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Valor</td>
                                    <td>{{ entity.valor|number_format(2, ',', '.')  }}</td>
                                </tr>
                                <tr>
                                    <td>Peso</td>
                                    <td>{{ entity.peso|number_format(2, ',', '.')  }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Produto_new') }}">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
            <a class="btn btn-default" href="{{ path('Produto_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
