
<table class="table table-hover">
    <thead>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="20%">Código</td>
            <td width="80%">{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Tabela de Preços</td>
            <td>{{ entity.idTabelaPreco.titulo }}</td>
        </tr>
        <tr>
            <td>Responsável</td>
            <td>{{ entity.idPessoa.pfNome }}</td>
        </tr>
        <tr>
            <td>Titulo</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Órdem</td>
            <td>{{ entity.ordem }}</td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <td>Duracao</td>
            <td>{{ entity.duracao }} dias</td>
        </tr>
        <tr>
            <td>Horas/Aula</td>
            <td>{{ entity.horaAula }}</td>
        </tr>
        <tr>
            <td>Crédito(s)</td>
            <td>{{ entity.credito }}</td>
        </tr>
        <tr>
            <td>Destaque</td>
            <td>{{ entity.destaque|raw }}</td>
        </tr>
        <tr>
            <td>Apresentação</td>
            <td>{{ entity.apresentacao }}</td>
        </tr>
        <tr>
            <td>Chamada</td>
            <td>{{ entity.chamada|raw }}</td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td>{{ entity.descricao|raw }}</td>
        </tr>
        <tr>
            <td>Objetivo</td>
            <td>{{ entity.objetivo|raw }}</td>
        </tr>
        <tr>
            <td>Área de Atuação</td>
            <td>{{ entity.areaAtuacao|raw }}</td>
        </tr>
        <tr>
            <td>Publico Alvo</td>
            <td>{{ entity.publicoAlvo|raw }}</td>
        </tr>
        <tr>
            <td>Material Didático</td>
            <td>{{ entity.materialDidatico|raw }}</td>
        </tr>
        <tr>
            <td>Certificação</td>
            <td>{{ entity.certificacao|raw }}</td>
        </tr>
        <tr>
            <td>Avaliação</td>
            <td>{{ entity.avaliacao|raw }}</td>
        </tr>
        <tr>
            <td>Tutoria</td>
            <td>{{ entity.tutoria|raw }}</td>
        </tr>
        <tr>
            <td>Tecnologia</td>
            <td>{{ entity.tecnologia|raw }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus() }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-default" href="{{ path('Curso') }}">
    <span class="fa fa-list-alt"></span> Retornar para listagem
</a>
<a class="btn btn-default" href="{{ path('Curso_edit', { 'id': entity.id }) }}">
    <span class="fa fa-edit"></span> Alterar Registro
</a>
