<a href="{{ path('Disciplina_new', {"idCurso": entity.id }) }}" class="btn btn-primary mt20">
    <span class="fa fa-plus"></span> Nova Disciplina
</a>
{% if entity.Disciplina|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Título</th>
            <th>Aula</th>
            <th>Semana</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entity.disciplina %}
            <tr>

                <td>
                    {{ item.titulo }}
                </td>
                <td>
                    {{ item.returnAula }}
                </td>
                <td>
                    {{ item.returnSemana }}
                </td>
                <td>
                    {{ item.returnStatus }}
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path ("Disciplina_show", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-search"></span></a>
                    <a class="btn btn-default" href="{{ path ("Disciplina_edit", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-edit"></span></a>
                        {% if item.status == 1 %}
                        <a class="btn btn-danger" href="{{ path ("Disciplina_delete", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-close"></span></a>
                        {% else %}
                        <a class="btn btn-success" href="{{ path ("Disciplina_restaurar", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-check"></span></a>
                        {% endif %}
                    <a class="btn btn-primary" href="{{ path ("Disciplina_Aula_new", {"idCurso": entity.id , "idDisciplina": item.id }) }}"><span class="fa fa-plus"></span> Conteúdo</a>
                    {#<a class="btn btn-primary" href="{{ path ("Avaliacao_Questao_Disciplina_new", {"idDisciplina": item.id }) }}"><span class="fa fa-plus"></span> Exercício da Aula</a>#}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
