{% extends '::base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('admin/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(edit_form) }}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible mt" role="alert">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(edit_form) }}
                        </div>
                    {% endif %}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Curso') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('admin_adminbundle_curso_chamada');
            CKEDITOR.replace('admin_adminbundle_curso_descricao');
            CKEDITOR.replace('admin_adminbundle_curso_objetivo');
            CKEDITOR.replace('admin_adminbundle_curso_publicoAlvo');
            CKEDITOR.replace('admin_adminbundle_curso_areaAtuacao');
            CKEDITOR.replace('admin_adminbundle_curso_materialDidatico');
            CKEDITOR.replace('admin_adminbundle_curso_certificacao');
            CKEDITOR.replace('admin_adminbundle_curso_avaliacao');
            CKEDITOR.replace('admin_adminbundle_curso_tutoria');
            CKEDITOR.replace('admin_adminbundle_curso_tecnologia');
            $("input[name='admin_adminbundle_curso[duracao]']").TouchSpin({
                verticalbuttons: true,
                step: 1,
                max: 28,
                min: 1
            });
            $("input[name='admin_adminbundle_curso[horasAula]']").TouchSpin({
                verticalbuttons: true,
                step: 5,
                min: 1
            });
            $("input[name='admin_adminbundle_curso[credito]']").TouchSpin({
                verticalbuttons: true,
                step: 1,
                max: 5,
                min: 1
            });
            $("input[name='admin_adminbundle_curso[ordem]']").TouchSpin({
                verticalbuttons: true
            });
        });
    </script>
{% endblock %}
