<a class="btn btn-primary mt20" href="{{ path('Curso_Imagem_new', { 'idCurso': entity.id }) }}">
    <span class="fa fa-image"></span> Adicionar Imagem
</a>
{% if entity.Imagem|length > 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Imagem</th>
            <th>Opções</th>
        </tr>
        </thead>
        <tbody>
        {% for imagem in entity.imagem %}
            <tr>
                <td>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        {{ imagem.returnTipo() }}
                        <img src="/files/cursos/{{ imagem.imagem }}" class="thumbnail mt" width="300px"/>
                    </div>
                </td>
                <td>
                    <a class="btn btn-default"
                       href="{{ path ("Curso_Imagem_edit", {"idCurso": entity.id , "id": imagem.id }) }}">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}