{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab"><span class="fa fa-tag"></span> Gerenciar Curso</a></li>
                            <li><a href="#tab2" role="tab" data-toggle="tab"><span class="fa fa-tag"></span> Gerenciar Disciplinas</a></li>
                            <li><a href="#tab3" role="tab" data-toggle="tab"><span class="fa fa-image"></span> Gerenciar Imagens</a></li>
                            <li><a href="#tab4" role="tab" data-toggle="tab"><span class="fa fa-bullhorn"></span> Gerenciar Notificações</a></li>
                            <li><a href="#tab5" role="tab" data-toggle="tab"><span class="fa fa-exclamation-circle"></span> Gerenciar Fórum</a></li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in" id="tab1">
                                {% include 'AdminBundle:Curso:curso.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                {% include 'AdminBundle:Curso:disciplina.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                {% include 'AdminBundle:Curso:imagem.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <div class="mt">
                                    <a href="{{ path('admin_curso_notificacao_listar', { 'idCurso': entity.id }) }}" class="btn btn-primary">
                                        <span class="fa fa-bullhorn"></span> Gerenciar Notificações
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5">
                                <div class="mt">
                                    <a href="{{ path('admin_curso_forum_listar', { 'idCurso': entity.id }) }}" class="btn btn-primary">
                                        <span class="fa fa-exclamation-circle"></span> Gerenciar Fórum
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
