{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Arquivo</td>
                                    <td>{{ entity.arquivo }}</td>
                                </tr>
                                <tr>
                                    <td>Data da Remessa</td>
                                    <td>{{ entity.datahoraCadastro|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Remessa_Bancaria') }}">
                <span class="fa fa-list-alt"></span> Listar Registros
            </a>
            <a class="btn btn-default" href="{{ path('Remessa_Bancaria_new') }}">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt20">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">Fatura</th>
                                    <th width="10%">Contrato</th>
                                    <th width="20%">Aluno</th>
                                    <th width="20%">Cidade</th>
                                    <th width="10%">Vencimento</th>
                                    <th width="10%">Data de Pagamento</th>
                                    <th width="10%">Valor Pago</th>
                                    <th width="5%">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in boleto %}
                                    {% if item %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.idContrato.id }}</td>
                                            <td>{{ item.idContrato.idPessoa.pfNome }}</td>
                                            <td>
                                                {% if item.idContrato.idPessoa.endereco %}
                                                    {{ item.idContrato.idPessoa.endereco.cidade }} / {{ item.idContrato.idPessoa.endereco.estado }}
                                                {% endif %}
                                            </td>
                                            <td>{{ item.vencimento|date('d/m/Y') }}</td>
                                            <td>{{ item.pagamentoData|date('d/m/Y H:i:s') }}</td>
                                            <td>{{ item.pagamentoValor|number_format(2, ',', '.') }}</td>
                                            <td>{{ item.returnStatus }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Remessa_Bancaria_new') }}">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
            <a class="btn btn-default" href="{{ path('Remessa_Bancaria_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>#}
{% endblock %}
