<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('home/css/error.css') }}" rel="stylesheet" type="text/css" />
        <title>Erro inesperado: {{ status_text }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="center mt50">
                        <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="200px"  width="200px" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="hero-unit center">
                        <h2>Atenção: ocorreu um erro</h2>
                        <p>A página solicitada não pode ser encontrada. <span class="label label-danger">Código: {{ status_code }}</span></p>
                        <div class="mt">
                            <a href="{{ path('home_homepage') }}" class="btn btn-large btn-primary"><i class="fa fa-home"></i> Página Principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
        <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>
