{% extends '::base.html.twig' %}
{% block body -%}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-olive">
                <div class="inner">
                    <h3>
                        {{ inscritos }}
                    </h3>
                    <p>
                        Inscritos entre {{ dataInicial|date('d/m/Y') }} e {{ dataFinal|date('d/m/Y') }}
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-tag"></i>
                </div>
                <a href="/admin/EmailMarketing/?kitdg_grid_grid_selector_field=item.status&kitdg_grid_grid_selector_value=1" class="small-box-footer">
                    Mais informações <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        {{ cadastrados }}
                    </h3>
                    <p>
                        Confirmados entre {{ dataInicial|date('d/m/Y') }} e {{ dataFinal|date('d/m/Y') }}
                    </p>
                </div>
                <div class="icon">
                    <i class="ion-person-add"></i>
                </div>
                <a href="/admin/EmailMarketing/?kitdg_grid_grid_selector_field=item.status&kitdg_grid_grid_selector_value=2" class="small-box-footer">
                    Mais informações <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-light-blue">
                <div class="inner">
                    <h3>
                        {{ usuarios }}
                    </h3>
                    <p>
                        Cadastrados entre {{ dataInicial|date('d/m/Y') }} e {{ dataFinal|date('d/m/Y') }}
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="/admin/EmailMarketing/?kitdg_grid_grid_selector_field=item.status&kitdg_grid_grid_selector_value=2" class="small-box-footer">
                    Mais informações <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="mt10 mb20">
                <a href="{{ path('Mensagem_tag_new') }}" class="btn btn-default"><span class="fa fa-envelope-o"></span> Nova Mensagem</a>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <div class="pull-right box-tools">
                        <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-envelope-o"></i>
                    <h3 class="box-title">Caixa de Mensagens</h3>
                </div>
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}
                            {% block kit_grid_row_class %}
                                {% if item['t.deletedAt'] %} stroke {% endif %}
                            {% endblock %}
                            {% block kit_grid_before_table %}
                                <form action="{{ path('admin_delete_message') }}" method="POST">
                                {% endblock %}

                                {% block kit_grid_thead_before_column %}
                                    <th><input type="checkbox" name="all" id="all" value="all" /> </th>
                                    {% endblock %}

                                {% block kit_grid_tbody_before_column %}
                                    <td><input type="checkbox" class="item" name="check[]" value="{{ item['item.id'] }}" /></td>
                                    {% endblock %}

                                {% block kit_grid_after_table %}
                                    <input class="btn btn-danger" type="submit" value="Excluir"/></form>
                                {% endblock %}

                            {% block kit_grid_thead_column %}
                                <th>Opções</th>
                                {% endblock %}
                                {% block kit_grid_tbody_column %}
                                <td>
                                    <a class="btn btn-default" href="{{ path ("Mensagem_show", {"id": item['item.id']}) }}"><span class="fa fa-search"></span></a>
                                </td>
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

