<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>Teologia24Horas</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{{ asset('admin/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bg-black">
        {% set error = app.session.flashbag.get('error') %}
        {% if error %}
            <div id="msg" class="modal fade">
                <div class="mt_box col-sm-offset-4 col-sm-4">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">Atenção</h4>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                        <div class="box-body msg">
                            <p>
                                {% for item in error %}
                                    {{ item|raw }} <br />
                                {% endfor %}
                            </p>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class='fa fa-remove'></span> Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-box" id="login-box">
            <div class="header bg-orange">Login</div>
            <form name="login" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Inserir E-mail"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="senha" class="form-control" placeholder="Inserir Senha"/>
                    </div>
                </div>
                <div class="footer">
                    <button name="submit" type="submit" class="btn bg-orange btn-block" value="1"><span class='fa fa-sign-in'></span> Entrar</button>
                </div>
            </form>
        </div>
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
        <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#msg').modal({
                    show: true
                });
            });
        </script>
    </body>
</html>