<html>
<head>
    <title>Migração</title>
</head>
<body>
{% block notas %}
    <h2>{{ pessoa['pf_nome'] }}</h2>
    {% for fatura in dados %}
        <table>
            <thead>
            <tr>
                <th width="20%">Fatura</th>
                <th width="20%">Contrato</th>
                <th width="20%">Vencimento</th>
                <th width="20%">Data de Pagamento</th>
                <th width="20%">Valor</th>
            </tr>
            </thead>
            <tbody>
            {% for item in fatura %}
                {% if item['status'] == 2  and (item['pagamento_datahora']|date("Y") == 2014)%}
                    <tr>
                        <td align="center">
                            {{ item['id'] }}
                        </td>
                        <td align="center">
                            {{ item['id_contratacao'] }}
                        </td>
                        <td align="center">
                            {{ item['vencimento'] }}
                        </td>
                        <td align="center">
                            {{ item['pagamento_datahora']|date("Y-m-d") }}
                        </td>
                        <td align="center">
                            R$ {{ item['pagamento_valor'] }},00
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock notas %}
{% block financeiro %}

{% endblock financeiro %}
</body>
</html>
