{#{{ dump(result)}}#}
{#<span>Qtde: <strong>{{ count }}</strong></span> <br />
<table>
    <tr>
        <td>id</td>
        <td>nome</td>
        <td>status</td>
    </tr>
{% for item in result %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.pfNome }}</td>
        <td>{{ item.status }}</td>
    </tr>
{% endfor %}
</table>#}
<h2>Testando e-mail: </h2>
{{ dump(result) }}
{{ dump(message) }}
{#{% if result|length > 0 %}#}
    {#{{ result|length }} <br />#}
    {#{% for item in result %}#}
        {#{{ item.email }} <br />#}
    {#{% endfor %}#}
{#{% endif %}#}