{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        {% block plus %}

                        {% endblock %}
                        {% block view %}

                        {% endblock %}
                        {% block links %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
