{% include '@Admin/Default/header.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ modulo.titulo }}
                    <small>{{ modulo.descricao }}</small>
                </h1>
                {% block nav %}
                    {{ wo_render_breadcrumbs() }}
                {% endblock %}
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ titulo }}</h3>
                    </div>
                    <div class="box-body">
                        {% block message %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger alert-dismissable">
                                    <i class="fa fa-ban"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-remove"></i> Atenção</h4>
                                    {{ flashMessage }} <br/>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('info') %}
                                <div class="alert alert-info alert-dismissable">
                                    <i class="fa fa-info"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-exclamation"></i> Atenção</h4>
                                    {{ flashMessage }} <br/>
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success alert-dismissable">
                                    <i class="fa fa-check"></i>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-check"></i> Parabéns!</h4>
                                    {{ flashMessage }} <br/>
                                </div>
                            {% endfor %}
                        {% endblock %}
                        {% block body_header %}

                        {% endblock %}
                        {% block modal %}

                        {% endblock %}
                        {% block body %}

                        {% endblock %}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        {% block body_footer %}

                        {% endblock %}

                    </div>
                    <!-- /.box-footer-->

                </div>
                <footer class="main-footer">
                    <strong>Copyright &copy; 2015 <a href="http://teologia24horas.com.br">Instituto Bíblico Internacional</a>.</strong>
                    Todos os direitos reservados.
                </footer>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </aside>
    </div><!-- /.content-wrapper -->

{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script type="text/javascript" src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/morris/morris.min.js') }}"></script>
    <!-- Sparkline -->
    <script type="text/javascript" src="{{ asset('admin/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <!-- jvectormap -->
    <script type="text/javascript" src="{{ asset('admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
    <!-- jQuery Knob Chart -->
    <script type="text/javascript" src="{{ asset('admin/js/plugins/jqueryKnob/jquery.knob.js') }}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript" src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script type="text/javascript" src="{{ asset('admin/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('admin/js/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>
    <script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>

    <script type="text/javascript">
        function reloadPage() {
            location.reload(true);
        }
        $(function () {
            $(".datemask").inputmask("dd/mm/yyyy");
            $(".cpf").inputmask("999.999.999-99");
            $(".cnpj").inputmask("99.999.999/9999-99");
            $(".cep").inputmask("99.999-999");
            $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
            $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
            $('.datemask').datepicker({
                format: "dd/mm/yyyy",
                language: "pt-BR",
                todayHighlight: true
            });
        })
    </script>
{% endblock %}
    <script type="text/javascript" src="{{ asset('admin/js/AdminLTE/app.js') }}"></script>
</body>
</html>
