<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block styles %}
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/iCheck/all.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}{{ titulo }}{% endblock %}</title>
    <script>
        (function() {
         var _fbq = window._fbq || (window._fbq = []);
         if (!_fbq.loaded) {
           var fbds = document.createElement('script');
           fbds.async = true;
           fbds.src = '//connect.facebook.net/en_US/fbds.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(fbds, s);
           _fbq.loaded = true;
         }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '471483032976719', {'value':'0.00','currency':''}]);
    </script>
    <noscript>
        <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=471483032976719&amp;cd[value]=0.00&amp;cd[currency]&amp;noscript=1" />
    </noscript>
</head>
<body class="skin-blue">
    {% block header %}
    <header class="header">
        <!-- Logo -->
        <a href="{{ path('admin_home') }}" class="logo">
            <span class="logo-mini">Administração</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% set usuario = app.session.get('admin') %}
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{ usuario['nome'] }} <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="{{ asset('admin/img/avatar3.png') }}" class="img-circle" alt="User Image" />
                                <p>
                                    {{ usuario['nome'] }}
                                    <small>{{ usuario['email'] }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path ("Usuario_show", {"id": usuario['id']}) }}" class="btn btn-default btn-flat"><span class="fa fa-user"></span> Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path ("admin_logout") }}" class="btn btn-default btn-flat"><span class="fa fa-sign-out"></span> Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    <div class="wrapper row-offcanvas row-offcanvas-left">
        {{ include('@Admin/Default/menu.html.twig') }}