{% extends 'AdminBundle:Default:base.html.twig' %}
{% block body_header %}
    <a class="btn btn-success" href="{{ novo }}">
        <span class="glyphicon glyphicon-plus"></span> Novo Registro
    </a>
{% endblock %}
{% block modal %}
    <div id="modal-dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Atenção</h3>
                </div>
                <div class="modal-body">
                    <div class="mensagem_body">
                        <p>Você deseja remover os itens selecionados</p>
                    </div>
                    <div class="progress" style="display: none">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Aguarde...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="btnYes" class="btn btn-danger confirm"><span class="fa fa-remove"></span> Remover Selecionados</a>
                    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default secondary"><span class="fa fa-sign-out"></span> Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="kit-grid {{ grid.getGridCssName }}">
        {% block kit_grid_selector %}
            {% if grid.gridConfig.selectorList != null %}
                <div class="kit-grid-selector">
                    <ul class="nav nav-pills">
                        {% for selector in grid.gridConfig.selectorList %}
                            <li class="{% if grid.isSelectorSelected(selector.field, selector.value) %}active{% endif %}">
                                <a href="{{ grid.getSelectorUrl(selector.field, selector.value) }}">{{ selector.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
        {% block kit_grid_filter %}
            <div class="kit-grid-filter">
                <form class="form-inline"
                      action="{{ grid.requestUri }}"
                      id="{{ grid.filterFormName }}_form"
                      method="GET">
                    <div class="form-group mt mb">
                        <div class="input-group">
                            <label class="sr-only"
                                   for="{{ grid.filterFormName }}">{{ "kitpages_data_grid.Filter" | trans }}</label>
                            <input type="text" class="form-control" id="{{ grid.filterFormName }}"
                                   value="{{ grid.filterValue }}" name="{{ grid.filterFormName }}"
                                   placeholder="{{ "Pesquisar Registros" | trans }}"/>

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="fa fa-search"></span> {{ "Pesquisar Registros" | trans }}
                                </button>
                                <a class="btn btn-default"
                                   href="{{ path( grid.requestCurrentRoute, grid.requestCurrentRouteParams ) }}"
                                   id="{{ grid.filterFormName }}_reset_button">
                                    <span class="fa fa-close"></span> {{ "Limpar Pesquisa" | trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}
        {% block kit_grid_debug %}
            {% if grid.debugMode %}
                {{ grid.dump() | raw }}
            {% endif %}
        {% endblock %}
        {{ block('kit_grid_before_table') }}
        {% block kit_grid_before_table %}
        <form action="{{ delete }}" id="form_delete" method="POST">
        {% endblock %}
        <div class="mb">
            <table class="table table-striped table-hover">
                {% block kit_grid_thead %}
                    <thead>
                    <tr>
                        {% block kit_grid_thead_before_column %}
                            <th>
                                <input type="checkbox" name="todos" id="select" value="todos" /> <br/>
                            </th>
                        {% endblock %}
                        {% for field in grid.gridConfig.fieldList %}
                            {% if field.visible %}
                                <th class="{{ grid.getSortCssClass(field.fieldName) }}">
                                    {% if field.sortable %}
                                        <a href="{{ grid.getSortUrl(field.fieldName) }}">{{ field.label | trans }}</a>
                                    {% else %}
                                        {{ field.label | trans }}
                                    {% endif %}
                                </th>
                            {% endif %}
                        {% endfor %}
                        {{ block('kit_grid_thead_column') }}
                    </tr>
                    </thead>
                {% endblock %}
                {% block kit_grid_tbody %}
                    <tbody>
                    {% for item in grid.itemList %}
                        <tr class="{% if loop.index % 2 == 0 %}kit-grid-even {% else %}kit-grid-odd {% endif %}">
                            {% block kit_grid_tbody_before_column %}
                                <td><input type="checkbox" class="checked" name="check[]" value="{{ item['item.id'] }}" /></td>
                            {% endblock %}
                            {% for field in grid.gridConfig.fieldList %}
                                {% if field.visible %}
                                    <td class="kit-grid-cell-{{ field.fieldName | replace({'.': '-'}) }}">
                                        {% if field.translatable %}
                                            {{ grid.displayGridValue ( item, field) | raw | trans }}
                                        {% else %}
                                            {{ grid.displayGridValue ( item, field) | raw }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            {{ block('kit_grid_tbody_column') }}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ grid.gridConfig.fieldList | length }}"
                                class="kit-grid-no-data">{{ "Registro não localizado" | trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endblock %}
            </table>
        </div>
    </div>
{% endblock %}
{% block body_footer %}
    {% block kit_grid_after_table %}
        <a href="#modal-dialog" class="btn btn-danger modal-toggle"
           data-toggle="modal" data-href="{{ delete }}"
           data-modal-type="confirm" data-backdrop="static" data-keyboard="false">
            <i class="icon-trash"></i><span class="fa fa-remove"></span> Remover Registros Selecionados
        </a>
    </form>
{% endblock %}
    {% block kit_grid_paginator %}
        {% embed kitpages_data_grid.paginator.default_twig with {'paginator':grid.paginator} %}
        {% endembed %}
    {% endblock %}
    {{ block(' kit_grid_after_paginator') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include "KitpagesDataGridBundle:Grid:javascript.html.twig" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#select').click(function (event) {  //on click
                if (this.checked) { // check select status
                    $('.checked').each(function () { //loop through each checkbox
                        this.checked = true;  //select all checkboxes with class "checkbox1"
                    });
                } else {
                    $('.checked').each(function () { //loop through each checkbox
                        this.checked = false; //deselect all checkboxes with class "checkbox1"
                    });
                }
            });
        });
        $('#modal-dialog').on('show', function () {
            var link = $(this).data('link'),
                    confirmBtn = $(this).find('.confirm');
        })
        $('#btnYes').click(function () {
            $(".mensagem_body").hide();
            $(".modal-footer").hide();
            $(".progress").show();
            $('form').submit();
        });
    </script>
{% endblock %}
