{% block menu %}
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            {#<form action="#" method="get" class="sidebar-form">#}
                {#<div class="input-group">#}
                    {#<input type="text" name="q" class="form-control" placeholder="Pesquisar..." />#}
                      {#<span class="input-group-btn">#}
                          {#<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
                      {#</span>#}
                {#</div>#}
            {#</form>#}
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            {{
                knp_menu_render('AdminBundle:BuildMenu:mainMenu', {
                    'currentClass': 'active',
                    'ancestorClass' : 'active',
                    'firstClass' : '',
                    'lastClass ' : '',
                })
            }}
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}