{% extends "AdminBundle:Default:base.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block modal %}
    <!-- Modal Dialog -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Parmanently</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure about this ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <table class="table table-responsive">
        {% block view %}

        {% endblock %}
    </table>
{% endblock %}
{% block body_footer %}
    {% block links %}

    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $('#remove').on('show', function () {
            var link = $(this).data('link'),
            agreeBtn = $(this).find('.agree');
        })

        $('.confirm-link').on('click', function (e) {
            e.preventDefault();

            var link = $(this).data('link');
            $('#remove').data('link', link).modal('show');
        });

        $('#btnYes').click(function () {
            // handle redirect here
            var link = $('#remove').data('link');
            location.href = link;
            $('#remove').modal('hide');
        });
    </script>
{% endblock %}