{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th width="20%">Código</th>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th>Título</th>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <th>Slug</th>
                                    <td>{{ entity.slug }}</td>
                                </tr>
                                <tr>
                                    <th>Resumo</th>
                                    <td>{{ entity.resumo }}</td>
                                </tr>
                                <tr>
                                    <th>Texto</th>
                                    <td>{{ entity.texto|raw }}</td>
                                </tr>
                                {% if entity.foto %}
                                    <tr>
                                        <th>Foto</th>
                                        <td>                                        
                                            <img src="/files/paginas/{{ entity.foto }}" />
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Data do Cadastro</th>
                                    <td>{{ entity.datahoraCadastro|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Última Atualização</th>
                                    <td>{{ entity.datahoraAtualizacao|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a class="btn btn-default" href="{{ path('Pagina') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
            <a class="btn btn-default" href="{{ path('Pagina_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
            <a class="btn btn-primary" href="{{ path('Pagina_new') }}">
                <span class="fa fa-plus"></span> Nova Página
            </a>
            <a class="btn btn-primary" href="{{ path('Pagina_filho_new', {'idPaginaPai' : entity.id}) }}">
                <span class="fa fa-plus"></span> Nova Página Filho
            </a>
        </div>
        {% if filhos %}
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Prioridade</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in filhos %}
                                        <tr>
                                            <td>
                                                {{ item.idPaginaFilho.titulo }}
                                            </td>
                                            <td>
                                                {{ item.prioridade }}
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path('Pagina_edit', { 'id': item.idPaginaFilho.id }) }}">
                                                    <span class="fa fa-edit"></span> 
                                                </a>
                                                <a class="btn btn-default" href="{{ path('Pagina_show', { 'id': item.idPaginaFilho.id }) }}">
                                                    <span class="fa fa-search"></span> 
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
