{% block body %}
    <p>
        Estou aqui, para informar que você alterou recentemente o endereço de e-mail associado a sua conta no IBI/Teologia24horas. 
    </p>
    <p>
        Para confirmar, {{ entity.email }}, como o seu novo e-mail de contato, clique no link abaixo:   <br />
        <a href="{{ dominio }}AVA/Usuario/entrar-{{ entity.idEmailMarketing.identificador }}">Quero confirmar meu novo e-mail</a>
    </p>
{% endblock %}
{% block observacao %}
    <p>
        Obs.: Ao confirmar o seu login e todos os e-mails futuros vindos do IBI/Teologia24horas, <br />
        serão enviados para este endereço de e-mail.
    </p>
{% endblock %}