{# empty Twig template #}
<html>
    <head>
        <title>{{ titulo }}</title>
    </head>
    <body>
        <p>
            Olá, {{ entity.pfNome }}, graça e paz, aqui é o seu amigo de sempre, Francisco Miranda do IBI/Teologia24horas.
        </p>
        {% block body %}
        {% endblock %}
        <p>
            Desde já, informo que você poderá entrar em contato comigo quando quiser, 
            para tirar dúvidas, pedir dicas ou informações sobre Teologia Sistemática. 
        </p>
        <p>
            Um grande abraço, e até a próxima! 
            <br /><br />
            Seu amigo de sempre, Francisco Miranda IBI/Teologia24horas<br />
            Rua NC 4 Qd. 40 Lt. 20 - Bela Vista - CEP 77.064-719<br />
            Palmas - Tocantins - Brasil<br />
            sac@teologia24horas.com.br <br />
            <a href="{{ dominio }}">www.teologia24horas.com.br</a>
        </p>
        {% block observacao %}
            <p>
                P.S.: Cada email que você receber, incluirá, no seu final, <br />
                um link que poderá ser usado para remover o seu email da nossa lista de contato. <br />
                Esse link pode ser usado caso você não queira mais receber os nossos emails.
            </p>
            <p>
                Caso você não queira receber mais nenhum email do Teologia24horas, basta clicar uma vez no link abaixo.
                <br /><br />
                <a href="{{ dominio}}LandPage/remover-email/{{ entity.idEmailMarketing.identificador }}">Esse link te removerá seguramente da nossa lista.</a>
                <br /><br />
            </p>
        {% endblock %}
        {% block rodape %}
            <p>
                <strong>Requisitado por: </strong> {{ entity.email }}<br />
                <strong>Data da sua inscrição: </strong> {{ entity.datahoraCadastro|date('d/m/Y H:i:s')}}<br />
                <strong>Endereço IP: </strong>{{ app.request.server.get("REMOTE_ADDR") }}
            </p>
        {% endblock %}
    </body>
</html>