{% extends ':Emails:base.html.twig' %}
{# empty Twig template #}
{% block body %}
    <p>
        Estou aqui para dizer que sua inscrição no IBI/Teologia24horas, foi confirmada..
    </p>
    <p>
        Mais uma vez, o meu muito obrigado pelo seu interesse em aprender mais 
        sobre teologia sistemática, e por querer fazer parte da minha lista de 
        relacionamentos.
    </p>
    <p>
        Fique tranquilo(a), pois não vou inundar sua caixa de emails com coisas 
        sem sentido. 
    </p>
    <p>
        Quero fazer deste nosso canal de comunicação algo especial, 
        onde eu possa lhe enviar conteúdos que possam agregar valor a sua vida 
        e ao seu ministério.
    </p>
{% endblock %}