{% extends ':Emails:base.html.twig' %}
{# empty Twig template #}
{% block body %}
    <p>
        Recebi com muita alegria a sua inscrição em nossa Plataforma de Ensino Teológico.
    </p>
    <p>
        Para darmos continuidade a nossa parceria, e você garantir o seu bônus, é necessário a confirmação do seu email.
    </p>
    <p>
        Clique no link abaixo e confirme a sua inscrição:   <br />
        <a href="{{ dominio }}AVA/Usuario/entrar-{{ entity.identificador }}">Quero confirmar a minha inscrição</a>
    </p>
    <p>
        Se você se inscreveu no IBI/Teologia24horas através da nossa LandPage, Website, Facebook ou pelo nosso programa de Afiliados, por favor, confirme a sua inscrição e nos autorize a usar o seu e-mail para futuros contatos.
    </p>
    <p>
        É simples, fácil e rápido! 
    </p>
    <p>
        Caso você não tenha solicitado estas informações, simplesmente ignore essa *mensagem* e você não receberá mais.
    </p>
    <p>
        Clique no link abaixo e confirme a sua inscrição:   <br />
        <a href="{{ dominio }}AVA/Usuario/entrar-{{ entity.identificador }}">Quero confirmar a minha inscrição</a>
    </p>
{% endblock %}
{% block observacao %}
    <p>
        P.S.: Após a sua confirmação, cada email que você receber, <br />
        incluirá, no seu final, um link que poderá ser usado para remover o seu email <br />
        da nossa lista de contato.
    </p>
{% endblock %}