{% block body %}
    {% if fatura.valor > 0 %}
        <p>
            Estou aqui para CONFIRMAR com sucesso o PAGAMENTO da FATURA 
            nº <strong>{{ fatura.id }}</strong>, no valor de 
            R$ {{ fatura.valor|number_format(2, ',', '.') }}, 
            referente ao CONTRATO nº <strong>{{ contrato.id }}</strong>, 
            correspondente ao <strong>{{ curso.titulo }}</strong>. 
        </p>
    {% endif %}
    <p>
        Como também, informa-lo(a) que AVA (Ambiente Virtual de Aprendizagem), 
        já se encontra LIBERADO. 
    </p>
    <p>
        É MUITO IMPORTANTE que você leia esse e-mail até o final... 
    </p>
    <p>
        Porque aqui está toda a ORIENTAÇÃO NECESSÁRIA, 
        acerca do funcionamento do seu curso.
    </p>
    <p>
        Para ter acesso ao seu curso basta entrar em nossa site 
        ( <a href="www.teologia24horas.com.br">www.teologia24horas.com.br</a> ), 
        acessar a ÁREA EXCLUSIVA com o seu LOGIN e SENHA.
    </p>
    <p>
        Com isso, lhe damos as boas vindas ao IBI/Teologia24horas, 
        é uma honra tê-lo(a) como aluno(a), saiba que você está entrando 
        numa das melhores Instituições de Ensino Teológico do Brasil, 
        que se preocupa em transmitir a seus alunos, o melhor 
        em termos de conhecimento teológico, com qualidade 
        de ensino e debaixo da unção do Espírito Santo.
    </p>
    <p>
        Você está investido o seu tempo e dinheiro se matriculando nesse curso, 
        e agora você precisa me dar a chance de te ensinar o que prometi, 
        e para que eu possa fazer isso, 
        é necessário que você siga as instruções abaixo.
    </p>
    <p>
        Todo o conteúdo dos nossos cursos, 
        foi desenvolvido para acontecer em 4 (quatro) semanas de 7(sete) dias, 
        ou seja, do 1º ao 7º dia (1ª semana/aulas 1 e 2), 
        do do 8º ao 14º dia (2ª semana/aulas 3 e 4), 
        do 15º ao 21º dia (3ª semana/aulas 5 e 6) e finalmente do 22º ao 28º dia 
        (4ª semana/aulas 7 e 8 + Avaliação), totalizando 28(vinte e oito) dias. 
    </p>
    <p>
        Para facilitar seu aprendizado, cada etapa é definida para ser estudada 
        em um determinado dia e a próxima etapa só fica disponível no dia que 
        foi determinada para seu estudo, mas você pode organizar de acordo 
        com o seu ritmo, por um prazo máximo de 90 (noventa) dias.
    </p>
    <p>
        As aulas são ministradas por professores qualificados, 
        que interage com os conteúdos que são apresentados em objetos multimídia, 
        como animações, livros virtuais, infográficos, ilustrações, artigos, 
        vídeo aulas exclusivas, atividades interativas, entre outros.
    </p>
    <p>
        Tudo isso será desenvolvido no AVA (Ambiente Virtual de Aprendizagem), 
        onde você organizará de acordo com sua disponibilidade e atender 
        assim os prazos definidos para a entrega das atividades propostas 
        em cada cursos.
    </p>
    <p>
        Você poderá assistir as aulas que está sendo ministrada ou até mesmo 
        ver as que já foram ministradas, com objetivo de rever conteúdos 
        durante o período do curso, ou seja, durante 90(noventa) dias, 
        a contar a partir da confirmação do pagamento.
    </p>
    <p>
        Todo o conteúdo do curso fica totalmente online, 
        tudo funciona via internet, não existindo a necessidade de se 
        deslocamento, ou seja, você pode acessar o conteúdo do seu curso 
        do seu computador, notebook, tablet ou celular, onde estiver, 
        a hora e quando quiser, 24h por dia, 7 dias por semana, 
        30 dias por mês e 365 dias por ano.
    </p>
    <p>
        Para nós do IBI/Teologia24horas é uma honra tê-lo(a) como aluno(a), 
        é um grande privilégio termos sido escolhido para prestar-lhe 
        este serviço que exige absoluta competência e responsabilidade.
    </p>
    <p>
        Tenho orgulho da relação de confiança que conseguimos estabelecer 
        e estou aberto para qualquer sugestão que possa melhorar ainda mais 
        a prestação dos nossos serviços educacionais. 
    </p>
    <p>
        Sem mais pelo momento, desejo que a sua trajetória em direção 
        ao conhecimento chegue com excelência e coroada de êxitos. 
    </p>
    <p>
        "Pois sei que aquele que busca a sabedoria encontra um tesouro e, 
        com ele, uma porta aberta para enfrentar os desafios inerentes 
        às mudanças e as transformações contemporâneas". 
    </p>
{% endblock %}