{% block body %}
    <p>Estou aqui para lhe PARABENIZAR pela SÁBIA DECISÃO em adquirir o 
        <strong>{{ curso.titulo }}</strong>, no IBI/Teologia24horas. </p>
    <p>
        É MUITO IMPORTANTE que você leia esse e-mail até o final... 
    </p>
    <p>
        Porque aqui está toda a ORIENTAÇÃO NECESSÁRIA, acerca do funcionamento 
        do seu curso.
    </p>
    <p>
        O acesso COMPLETO ao AVA (Ambiente Virtual de Aprendizagem), é contado 
        após a CONFIRMAÇÃO DO PAGAMENTO.
    </p>
    {#<p>
        Pagamento feito através de CARTÃO DE CRÉDITO (Paypal=internacional ou Bcash=nacional)
        A liberação acontecerá em questão de minutos ou horas, após aprovação da análise e a confirmação do pagamento.
    </p>#}
    <p>
        Pagamento feito através de BOLETO BANCÁRIO (Rede bancária do Brasil) 
        <br />
        O boleto deve ser impresso na finalização da compra, caso não seja possível, 
        ele se manterá disponível na seção FATURAS no AMBIENTE DO ALUNO, 
        onde também poderá ser salvo no seu computador ou impresso para pagamento. 
        <br />
        O prazo de validade para pagamento é de 5(cinco) dias (a contar da data da compra), 
        a liberação do acontecerá no prazo mínimo de 24 horas e máximo de 72 horas, 
        após a data de pagamento.
    </p>
    <p>
        Para nós do IBI/Teologia24horas é uma honra tê-lo(a) como aluno(a), 
        é um grande privilégio termos sido escolhido para prestar-lhe este 
        serviço que exige absoluta competência e responsabilidade.
    </p>
    <p>
        Tenho orgulho pela relação de confiança que conseguimos estabelecer 
        e estou aberto para qualquer sugestão que possa melhorar ainda mais 
        a prestação dos nossos serviços educacionais. 
    </p>
    <p>
        Sem mais pelo momento, desejo que a sua trajetória em direção 
        ao conhecimento chegue com excelência e coroada de êxitos. 
    </p>
    <p>
        "Pois sei que aquele que busca a sabedoria encontra um tesouro e, 
        com ele, uma porta aberta para enfrentar os desafios inerentes às 
        mudanças e as transformações contemporâneas"
    </p>
{% endblock %}