{% block body %}
    <p>
        Estou passando por aqui apenas para garantir que você não tenha nenhum 
        problema no seu acesso a nossa Plataforma de Ensino Teológico.
    </p>
    <p>
        Para isso, é MUITO IMPORTANTE... Que você leia esse e-mail até o final...
    </p>
    <p>
        Porque aqui está toda a ORIENTAÇÃO NECESSÁRIA, acerca do 
        funcionamento do seu <strong>Curso de INTRODUÇÃO à Teológica Sistemática</strong>, 
        que havia lhe prometido através do IBI/Teologia24horas, maior portal 
        teológico do Brasil. 
    </p>
    <p>
        O AVA (Ambiente Virtual de Aprendizagem), já está LIBERADO, 
        e o acesso poderá ser feito pela Área Exclusiva, 
        em nosso site (www.teologia24horas.com.br ), 
        através do seu login e senha.
    </p>
    <p>
        Tenho certeza que este curso será um grande "divisor de águas" 
        em sua vida e no seu ministério. 
    </p>
    <p>
        Você está investido o seu tempo se matriculando nesse curso, 
        e agora você precisa me dar a chance de te ensinar o que prometi, 
        e para que eu possa fazer isso, é necessário que você siga as 
        instruções abaixo.
    </p>
    <p>
        Todo o conteúdo dos cursos do IBI/Teologia24horas são desenvolvidos 
        para acontecer em 4 (quatro) semanas de 7(sete) dias, ou seja, 
        do 1º ao 7º dia (1ª semana/aulas 1 e 2), do do 8º ao 14º dia 
        (2ª semana/aulas 3 e 4), do 15º ao 21º dia (3ª semana/aulas 5 e 6) 
        e finalmente do 22º ao 28º dia (4ª semana/aulas 7 e 8), 
        totalizando 28(vinte e oito) dias. 
    </p>
    <p>
        Para facilitar seu aprendizado, cada etapa é definida para 
        ser estudada em um determinado dia e a próxima etapa só fica 
        disponível no dia que foi determinada para seu estudo, 
        mas você pode organizar de acordo com o seu ritmo, 
        um prazo máximo de 90 (noventa) dias.
    </p>
    <p>
        As aulas são ministradas por professores qualificados, que interage 
        com os conteúdos que são apresentados em objetos multimídia, 
        como animações, livros virtuais, infográficos, ilustrações, artigos, 
        vídeo aulas exclusivas, atividades interativas, entre outros.
    </p>
    <p>
        Tudo isso é desenvolvido no AVA (Ambiente Virtual de Aprendizagem), 
        onde você organizará de acordo com sua disponibilidade e atender 
        assim os prazos definidos para a entrega das atividades propostas 
        em cada curso.
    </p>
    <p>
        Você poderá assistir as aulas que estão sendo ministradas ou até mesmo 
        ver as que já foram ministradas, com objetivo de rever conteúdos 
        durante o período do curso.
    </p>
    <p>
        O conteúdo nos nosso cursos ficam TOTALMENTE ONLINE, 
        não existindo a necessidade de se deslocamento, ou seja, 
        você pode acessar o conteúdo do seu curso do seu computador, notebook, 
        tablet ou celular, onde estiver, a hora e quando quiser, 
        24h por dia, 7 dias por semana, 30 dias por mês e 365 dias por ano.
    </p>
    <p>
        Para nós do IBI/Teologia24horas, é uma honra tê-lo(a) como aluno(a), 
        é um grande privilégio termos sido escolhido para prestar-lhe este 
        serviço que exige absoluta competência e responsabilidade.
    </p>
{% endblock %}