{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Curso</td>
                                    <td>{{ entity.idCurso.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Inicio</td>
                                    <td>{{ entity.inicio|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <td>Ordem</td>
                                    <td>{{ entity.ordem }}</td>
                                </tr>
                                <tr>
                                    <td>Duracao</td>
                                    <td>{{ entity.duracao }} dias</td>
                                </tr>
                                <tr>
                                    <td>Horas/Aula</td>
                                    <td>{{ entity.horaAula }}</td>
                                </tr>
                                <tr>
                                    <td>Crédito(s)</td>
                                    <td>{{ entity.credito }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_show', { "id": entity.idCursoOfertado}) }}">
                <span class="fa fa-search"></span> Retornar para o Pacote
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_Ligacao_new', { "idCursoOfertado": idCursoOfertado }) }}">
                <span class="fa fa-edit"></span> Novo Registro
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_Ligacao_edit', { "idCursoOfertado": entity.idCurso.id, 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
