{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Aqui os alunos estudam Teologia Sistemática na hora e forma que quiserem."/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/landpage.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/shadowbox.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/raty.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/style.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/cliente.css') }}" rel="stylesheet" type="text/css" media="screen">
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background: #00aff0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="box-xs box-sm box-md box-lg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="500px"  alt="Teologia24horas">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="titulo-landpage" style="margin-bottom: 8px;">
                                    Obrigado por iniciar a sua inscrição!
                                </p>
                                <p class="chamada-landpage" style="margin-bottom: 8px;">
                                    <span style="font-size: 36px;">Espere um segundo...</span><br />
                                    <span style="font-size: 36px;">... Você precisa confirmar o seu e-mail</span> <br /> 
                                    <span style="font-size: 24px;">(Não leva nem 10 segundos)</span> <br /> 
                                </p>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-1 col-lg-offset-2 col-xs-8 col-sm-8 col-md-8 col-lg-8 mt20">
                                <div class="grupo_coluna_titulo">
                                    <p class="subtitulo-landpage">
                                        Siga os passos abaixo para receber o seu bônus...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-11 col-lg-10">
                                <div class="grupo_coluna">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="coluna">
                                            <p class="normal-landpage" >
                                                <a href="#" class="btn btn-default mb">Passo 1</a> <br/>
                                                Entre em seu e-mail agora 
                                                <span style="font-size: 10px;">
                                                    <br /><br/>
                                                    (Exemplo: Gmail, Hotmail, Yahoo, Outlook)
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="coluna">
                                            <p class="normal-landpage" >
                                                <a href="#" class="btn btn-default mb">Passo 2</a> <br/>
                                                <span style="font-size: 16px;">
                                                    Procure o e-mail que <br />
                                                    enviamos para você!
                                                </span>
                                                <span style="font-size: 10px;">
                                                    <br /><br/>
                                                    O título do e-mail é <br />
                                                    Teologia24horas - Falta só um clique...<br/><br/>
                                                    Caso não encontre o e-mail, procure <br/>
                                                    na pasta de Promoções, Lixo ou Spam
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="coluna">
                                            <p class="normal-landpage" >
                                                <a href="#" class="btn btn-default mb">Passo 3</a> <br/>
                                                <span style="font-size: 16px;">
                                                    Ao Abrir o e-mail que <br />
                                                    lhe enviamos, clique no link<br />
                                                    Confirme seu cadastro
                                                </span> 
                                                <span style="font-size: 10px;">
                                                    <br /><br/>
                                                    Se não encontrar nosso e-mail em lugar  <br />
                                                    nenhum, é porque você digitou o seu e-mail <br />
                                                    incorretamente, pedimos que inscreva-se <br />
                                                    novamente ou use outro e-mail
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/maxlength.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/maskmoney.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/autosize.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/ias.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/shadowbox.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/pdf.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/raty.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/tabdrop.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/plugins.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/site.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>