{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('home/css/home.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('landpage/css/main.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="primeira_etapa">
        {% block body -%}
            {% if errors %}
                <div id="msg" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Atenção</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form">
                                    {{ form_errors(form) }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-close"></span> Fechar</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            {% endif %}
            <div class="apresentacao mb20">
                <div class="container">
                    <div class="mt70">
                        <div class="row">
                            <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="500px"  alt="Teologia24horas">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="chamada mt20" id='cadastro'>
                                    <p>
                                        Conheça <strong>3 PASSOS</strong> para você <strong>CONTRIBUIR</strong> de uma forma <br />
                                        <strong>RÁPIDA e PRÁTICA</strong> com o <strong>DESENVOLVIMENTO</strong> <br />
                                        das <strong>PESSOAS</strong> em sua volta... <br />
                                        ...A partir do seu <strong>CONHECIMENTO TEOLÓGICO...</strong> <br />
                                        ... Em apenas <strong>1 CURSO</strong> de teologia... 
                                    </p>
                                    <h3>TOTALMENTE GRATUITO!</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{ form_start(form) }}
                            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                                <div class="box mt20">
                                    <p><span>Digite o seu email abaixo, para receber o seu bônus</span></p>
                                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                                        {{ form_widget(form.email)}}
                                        {{ form_widget(form.submit)}}    
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                                <div class="rede mt20 mb">
                                    <div id="fb-root"></div>
                                    <div class="fb-like" data-href="https://www.facebook.com/pages/Teologia24horas/417114088445163" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="chamada">
                            <p>
                                <span>Nossa política de privacidade garante que nós NUNCA iremos</span><br />
                                <span>vender, alugar, dar ou divulgar seu e-mail para NINGUÉM.</span><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
        <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <!-- InputMask -->

        <script type="text/javascript">
            $(function () {
                $(".datemask").inputmask("dd/mm/yyyy");
                $(".cpf").inputmask("999.999.999-99");
                $(".cnpj").inputmask("99.999.999/9999-99");
                $(".cep").inputmask("99.999-999");
                $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                $('.datemask').datepicker({
                    format: "dd/mm/yyyy",
                    language: "pt-BR",
                    todayHighlight: true
                });
                $('.dropdown-menu').find('form').click(function (e) {
                    e.stopPropagation();
                });
                $('#Carousel').carousel({
                    interval: 8000
                });
                $('#msg').modal('show');
            });
        </script>
        <script type = "text/javascript" >
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-45523521-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    {% endblock %}
</body>
</html>