{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Aqui os alunos estudam Teologia Sistemática na hora e forma que quiserem."/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/landpage.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background: #37A3F2;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
                    <div class="box-xs box-sm box-md box-lg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="500px"  alt="Teologia24horas">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="chamada-landpage mt20" style="font-size: 40px;" >
                                    Parabéns, pela sua inscrição!
                                </p>
                                <p class="subtitulo-landpage" style="font-size: 20px;" >
                                    Seu endereço de email foi verificado com sucesso, <br />
                                    com isso, você já pode entrar no maior portal teológico <br />
                                    do Brasil, complementar os seus dados e começar o seu curso!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mt">
                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-11 col-lg-10">
                                    <a href="{{ path ("ambiente_usuario_homepage", {"ide": entity.identificador}) }}" class="btn btn-default btn-large"><span class="fa fa-sign-in"></span> ACESSAR O MEU CURSO GRATUITO</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                <p class="normal-landpage" >
                                    Mais uma vez, o meu muito obrigado pelo seu interesse em aprender mais sobre<br />
                                    Teologia sistemática, e por querer fazer parte da minha lista de relacionamentos.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                <p class="normal-landpage" >
                                    Será um prazer contribuir com seu desenvolvimento teológico, <br />
                                    na certeza de que você contribuirá com o desenvolvimento de outroas pessoas.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                <p class="normal-landpage" >
                                    Meu maior prazer é ajudar pessoas.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                <p class="normal-landpage" >
                                    Seu amigo de sempre, Francisco Miranda do IBI/Teologia24Horas
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt">
                                <p class="normal-landpage" >
                                    Rua NC 4 Qd. 40 Lt. 20 - Bela Vista - CEP 77.064-719 <br />
                                    Palmas - Tocantins - Brasil <br />
                                    sac@teologia24horas.com.br / <a href="www.teologia24horas.com.br">www.teologia24horas.com.br</a> <br />
                                    (63) 3571-8061
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>     
        </div>
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
