{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Aqui os alunos estudam Teologia Sistemática na hora e forma que quiserem."/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/landpage.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background: #FFF;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="box-xs box-sm box-md box-lg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                                <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="500px"  alt="Teologia24horas">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="chamada-landpage mt20" style="font-size: 40px;" >
                                    {{ titulo }}
                                </p>
                                <p class="subtitulo-landpage" style="font-size: 20px;" >
                                    Você tem certeza que deseja remover seu e-mail da <br />
                                    <strong>base de relacionamento do Teologia24horas</strong>?
                                </p>
                                <a href="{{ path('land_page_excluir_email', { 'identificador': entity.identificador })}}" class="btn btn-danger"> 
                                    <span class="fa fa-check"></span> Confirmar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
