{% extends '::base_list.html.twig' %}
{% block search -%}
    
{% endblock %}
{% block body -%}
    {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}
        {% block kit_grid_thead_column %}
            <th>Opções</th>
        {% endblock %}
        {% block kit_grid_tbody_column %}
            <td>
                <a class="btn btn-default" href="{{ path ("Pessoa_Fisica_edit", {"id": item['item.id']}) }}"><span class="fa fa-edit"></span></a>
                <a class="btn btn-default" href="{{ path ("Pessoa_Fisica_show", {"id": item['item.id']}) }}"><span class="fa fa-search"></span></a>
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}

