{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th width="20%">Código</th>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th>Responsável</th>
                                    <td>{{ entity.idPessoa.pfNome }}</td>
                                </tr>
                                <tr>
                                    <th>Título</th>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica_show', { 'id' : entity.idPessoa.id }) }}">
                <span class="fa fa-user"></span> Retornar para o perfil do responsável
            </a>
            <a class="btn btn-default" href="{{ path('Nucleo_edit', { 'idPessoa' : entity.idPessoa.id, 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td colspan="2">
                                    Alunos do Núcleo
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Opção</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  if pessoas|length > 0 %}
                                {% for nucleo in pessoas %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ path('Pessoa_Fisica_show', {'id' : nucleo.idPessoa.id }) }}" target="_blank">
                                            {{ nucleo.idPessoa.pfNome }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ nucleo.idPessoa.email }}
                                    </td>
                                    <td>
                                        {{ nucleo.idPessoa.celular }}
                                    </td>
                                    <td>
                                        <a href="{{ path('NucleoPessoa_delete', {'id' : nucleo.id, 'idPessoa': nucleo.idPessoa.id }) }}" class="btn btn-danger">
                                            <span class="fa fa-remove"></span> Excluir do Núcleo
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>
                                        Não possui alunos no núcleo
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}