{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Ionicons -->
            <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('admin/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/iCheck/all.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="skin-blue">
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Main content -->
            <section class="content">
                {% block body %}


                {% endblock %}
            </section><!-- /.content -->
        </div><!-- ./wrapper -->
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <!-- InputMask -->
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
            <!-- date-range-picker -->
            <script src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <!-- bootstrap color picker -->
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>
            <!-- bootstrap time picker -->
            <script src="{{ asset('admin/js/plugins/timepicker/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorbox-master/jquery.colorbox.js') }}" type="text/javascript"></script>

            <!-- CK Editor -->
            <script src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>

            <!-- AdminLTE App -->
            <script src="{{ asset('admin/js/AdminLTE/app.js') }}" type="text/javascript"></script>

            <script type="text/javascript">
                function reloadPage() {
                    location.reload(true);
                }
                $(function () {
                    $(".datemask").inputmask("dd/mm/yyyy");
                    $(".cpf").inputmask("999.999.999-99");
                    $(".cnpj").inputmask("99.999.999/9999-99");
                    $(".cep").inputmask("99.999-999");
                    $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                    $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
                    $('.datemask').datepicker({
                        format: "dd/mm/yyyy",
                        language: "pt-BR",
                        todayHighlight: true
                    });
                })
            </script>
        {% endblock %}
    </body>
</html>