{% extends('base_ava_usuario.html.twig') %}
{% block section_top %}{% endblock %}
{% block content %}
    <section id="mc-section-1" class="mc-section-1 section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ wo_render_breadcrumbs() }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mt">
                    <h2><span class='fa fa-graduation-cap'></span> Ambiente do Aluno</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" {% if attr == 'home' %}class="active"{% endif %}><a href="/AVA/Usuario/Home/" class="tab"><span class="fa fa-dashboard"></span> Home</a></li>
                        <li role="presentation" {% if attr == 'usuario' %}class="active"{% endif %}><a href="/AVA/Usuario/Perfil/gerenciar" class="tab"><span class="fa fa-user"></span> Perfil</a></li>
                        <li role="presentation" {% if attr == 'meus_cursos' %}class="active"{% endif %}><a href="{{ path('ava_aluno_list_cursos') }}" title="Meus Cursos" class="tab"><span class="fa fa-video-camera"></span> Meus Cursos</a></li>
                        <li role="presentation" {% if attr == 'financeiro' %}class="active"{% endif %}><a href="{{ path('ava_aluno_faturas') }}" title="Minhas Faturas" class="tab"><span class="fa fa-dollar"></span> Faturas</a></li>
                        <li role="presentation" {% if attr == 'notas' %}class="active"{% endif %}><a href="{{ path('ava_aluno_notas') }}" title="Cursos Concluídos" class="tab"><span class="fa fa-bookmark"></span> Histórico de Notas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="{{ attr }}">
                            {% block body %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}