{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Ionicons -->
            <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{{ asset('admin/css/AdminLTE.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/iCheck/all.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="skin-blue">
        <header class="header">
            <a href="/admin/Home/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Administração
            </a>
            {% block header %}
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            {#<li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope"></i>
                                    <span class="label label-primary">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('admin/img/avatar3.png') }}" class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li><!-- end message -->
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('admin/img/avatar2.png') }}" class="img-circle" alt="user image"/>
                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team
                                                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('admin/img/avatar.png') }}" class="img-circle" alt="user image"/>
                                                    </div>
                                                    <h4>
                                                        Developers
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('admin/img/avatar2.png') }}" class="img-circle" alt="user image"/>
                                                    </div>
                                                    <h4>
                                                        Sales Department
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ asset('admin/img/avatar.png') }}" class="img-circle" alt="user image"/>
                                                    </div>
                                                    <h4>
                                                        Reviewers
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>#}
                            <!-- Notifications: style can be found in dropdown.less -->
                            {#<li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-warning"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users warning"></i> 5 new members joined
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ion ion-ios7-cart primary"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ion ion-ios7-person danger"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>#}
                            <!-- Tasks: style can be found in dropdown.less -->
                            {#<li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><!-- end task item -->
                                            <li><!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Create a nice theme
                                                        <small class="pull-right">40%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><!-- end task item -->
                                            <li><!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Some task I need to do
                                                        <small class="pull-right">60%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">60% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><!-- end task item -->
                                            <li><!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Make beautiful transitions
                                                        <small class="pull-right">80%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>#}
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% set usuario = app.session.get('admin') %}
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>{{ usuario['nome'] }} <i class="caret"></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header bg-light-blue">
                                        <img src="{{ asset('admin/img/avatar3.png') }}" class="img-circle" alt="User Image" />
                                        <p>
                                            {{ usuario['nome'] }}
                                            <small>{{ usuario['email'] }}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    {#<li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </li>#}
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path ("Usuario_show", {"id": usuario['id']}) }}" class="btn btn-default btn-flat"><span class="fa fa-user"></span> Perfil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path ("admin_logout") }}" class="btn btn-default btn-flat"><span class="fa fa-sign-out"></span> Sair</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- /.sidebar -->
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    {% block menu %}
                        {{ knp_menu_render('AdminBundle:BuildMenu:mainMenu', { 'depth' : 2, 'currentClass' : 'active', 'branch_class' : 'treeview', 'ancestorClass' : 'treeview active'}) }}
                    {% endblock %}
                </section>
            </aside>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{ modulo }}
                        <small>{{ titulo }}</small>
                    </h1>
                    {{ wo_render_breadcrumbs() }}
                </section>
                <!-- Main content -->
                <section class="content">
                    {% block search %}
                        <div class="row mt20">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <div class="box-body no-padding">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <div class="row mt20">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="box-body table-responsive no-padding">
                                        {% block body %}


                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        {% include "msg.html.twig" %}
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <!-- InputMask -->
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
            <!-- date-range-picker -->
            <script src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>
            <!-- bootstrap color picker -->
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <!-- bootstrap time picker -->
            <script src="{{ asset('admin/js/plugins/timepicker/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>

            <!-- AdminLTE App -->
            <script src="{{ asset('admin/js/AdminLTE/app.js') }}" type="text/javascript"></script>

            <script type="text/javascript">
                $(function () {
                    $(".datemask").inputmask("dd/mm/yyyy");
                    $(".cpf").inputmask("999.999.999-99");
                    $(".cnpj").inputmask("99.999.999/9999-99");
                    $(".cep").inputmask("99.999-999");
                    $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                    $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
                    $('.datemask').datepicker({
                        format: "dd/mm/yyyy",
                        language: "pt-BR",
                        todayHighlight: true
                    });
                    $('#msgAdmin').modal({
                        'show': true,
                        'keyboard': false,
                        'backdrop': 'static'
                    });
                })
            </script>
        {% endblock %}
    </body>
</html>