{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <title>{{ titulo }}</title>
        <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('ava/css/main.css') }}" rel="stylesheet" type="text/css" />

            {#<link href="{{ asset('landpage/css/style.min.css') }}" rel="stylesheet" type="text/css">#}
            {#<link href="{{ asset('landpage/css/cliente.css') }}" rel="stylesheet" type="text/css" media="screen">#}

            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

            <link href="{{ asset('ead/css/library/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
            <link href="{{ asset('ead/css/md-font.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('ead/css/style.css') }}" rel="stylesheet" type="text/css">

            <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
            <link href="{{ asset('js/intl-tel/build/css/intlTelInput.css') }}" rel="stylesheet" >
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
        {% set usuario = app.session.get('ava') %}
        {% block menu %}
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="fa fa-bar"></span>
                                    <span class="fa fa-bar"></span>
                                    <span class="fa fa-bar"></span>
                                </button>
                                <a class="navbar-brand" style="height:80px;" title="Teologia24horas" href="{{ path('ambiente_usuario_homepage_home') }}">
                                    <div class="navbar-brand-ibi"></div>
                                    <img style="position: absolute;top: 5px;left: 30px;" src="{{ asset('home/img/Logo IBI 2015.png') }}" width="200px" alt="English Now">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" id="navbar" style="margin-top: 7px">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="foto dropdown-toggle" href="#">
                                            <span>Olá{% if usuario['nome'] != "" %}, <strong>{{ usuario['nome'] }} </strong>{% endif %}</span>
                                            <img class="img-circle" src="/files/usuarios/{{ usuario['foto'] }}" class="img-circle" style="height: 45px;">
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('ambiente_usuario_homepage_home') }}"><i class="fa fa-user"></i> Ambiente do Aluno</a></li>
                                            {% if usuario['id'] %}
                                                <li class="divider" role="presentation"></li>
                                                <li><a href="{{ path('gerenciar_usuario_editar', {'id' :  usuario['id'] }) }}"><i class="fa fa-pencil"></i> Perfil</a></li>
                                                <li><a href="{{ path('gerenciar_senha') }}"><i class="fa fa-lock"></i> Alterar Senha</a></li>
                                                <li><a href="{{ path('gerenciar_foto') }}"><i class="fa fa-picture-o"></i> Foto</a></li>
                                                <li><a href="{{ path('gerenciar_endereco') }}"><i class="fa fa-map-marker"></i> Endereço</a></li>
                                            {% endif %}
                                            <li class="divider" role="presentation"></li>
                                            <li><a href="{{ path('ambiente_usuario_homepage_gerenciar_logout') }}"><i class="fa fa-sign-out"></i> Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block section_top %}
            <section id="mc-section-1" class="mc-section-1">
                {% block bread %}
                {% endblock %}
            </section>
        {% endblock %}
        {% block content %}
        <section id="mc-section-3" class="mc-section-3 section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mt">
                        <h2><span class='fa fa-graduation-cap'></span> Ambiente do Aluno</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" {% if attr == 'home' %}class="active"{% endif %}><a href="/AVA/Usuario/Home/" class="tab"><span class="fa fa-dashboard"></span> Home</a></li>
                            <li role="presentation" {% if attr == 'usuario' %}class="active"{% endif %}><a href="/AVA/Usuario/Perfil/gerenciar" class="tab"><span class="fa fa-user"></span> Perfil</a></li>
                            <li role="presentation" {% if attr == 'meus_cursos' %}class="active"{% endif %}><a href="{{ path('ava_aluno_list_cursos') }}" title="Meus Cursos" class="tab"><span class="fa fa-video-camera"></span> Meus Cursos</a></li>
                            <li role="presentation" {% if attr == 'financeiro' %}class="active"{% endif %}><a href="{{ path('ava_aluno_faturas') }}" title="Minhas Faturas" class="tab"><span class="fa fa-dollar"></span> Faturas</a></li>
                            <li role="presentation" {% if attr == 'notas' %}class="active"{% endif %}><a href="{{ path('ava_aluno_notas') }}" title="Cursos Concluídos" class="tab"><span class="fa fa-bookmark"></span> Histórico de Notas</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="{{ attr }}">
                                {% block body %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    {% block curso %}
    {% endblock %}
    {% if usuario['nome'] %}
        {% include('@Home/Home/cursos2.html.twig') %}
    {% endif %}
    {% include('@Home/Home/footer.html.twig') %}

    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <!-- InputMask -->
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
    <!-- date-range-picker -->
    <script src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/autosize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/ias.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/shadowbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/pdf.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/raty.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/tabdrop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('landpage/js/site.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/plugins/colorbox-master/jquery.colorbox.js') }}" type="text/javascript"></script>

    <script src="{{ asset('ead/js/library/jquery.owl.carousel.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('ead/js/library/jquery.appear.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('ead/js/library/perfect-scrollbar.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('ead/js/library/jquery.easing.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('ead/js/scripts.js') }}" type="text/javascript" ></script>

    {% block javascript %}
        <script type="text/javascript">
            $(function () {
                $(".datemask").inputmask("dd/mm/yyyy");
                $(".cpf").inputmask("999.999.999-99");
                $(".cnpj").inputmask("99.999.999/9999-99");
                $(".cep").inputmask("99.999-999");
                //$('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
                $('.datemask').datepicker({
                    format: "dd/mm/yyyy",
                    language: "pt-BR",
                    todayHighlight: true
                });
                $('#accordion').on('shown.bs.collapse', function () {
                    $(".servicedrop").addClass('fa-caret-down').removeClass('fa-caret-right');
                });

                $('#accordion').on('hidden.bs.collapse', function () {
                    $(".servicedrop").addClass('fa-caret-right').removeClass('fa-caret-down');
                });
                $(".helpdesk").colorbox({iframe: true, escKey: false, width: "80%", height: "80%", overlayClose: false});
            });
        </script>
        <script type = "text/javascript" >
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-45523521-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) {
                    z._.push(c)
                }, $ = z.s =
                        d.createElement(s), e = d.getElementsByTagName(s)[0];
                z.set = function (o) {
                    z.set.
                            _.push(o)
                };
                z._ = [];
                z.set._ = [];
                $.async = !0;
                $.setAttribute('charset', 'utf-8');
                $.src = '//v2.zopim.com/?2mCyvBqMBtHbyTUQfh6O3b2zXAjYJ94n';
                z.t = +new Date;
                $.
                        type = 'text/javascript';
                e.parentNode.insertBefore($, e)
            })(document, 'script');
        </script>
    {% endblock %}
</body>
</html>