{# empty Twig template #}
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>{{ titulo }}</title>
    <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
    {% block style %}
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('ava/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('landpage/css/Roboto.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('landpage/css/shadowbox.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('landpage/css/raty.css') }}" rel="stylesheet" type="text/css">
        {#<link href="{{ asset('landpage/css/style.min.css') }}" rel="stylesheet" type="text/css">#}
        {#<link href="{{ asset('landpage/css/cliente.css') }}" rel="stylesheet" type="text/css" media="screen">#}

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

        <link href="{{ asset('ead/css/library/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
        <link href="{{ asset('ead/css/md-font.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('ead/css/style.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{% set usuario = app.session.get('ava') %}
{% block titulo %}
    <section class="sub-banner sub-banner-course mt70">
        <div class="awe-static bg-sub-banner-course"></div>
        <div class="container">
            <div class="sub-banner-content">
                <h2 class="text-center"><span class='fa fa-graduation-cap'></span> {{ titulo }}</h2>
            </div>
        </div>
    </section>
{% endblock %}
{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

{% endblock %}
{% set usuario = app.session.get('ava') %}
{% if usuario['nome'] %}
    {% include('@Home/Home/cursos2.html.twig') %}
{% endif %}
{% include 'HomeBundle:Home:footer.html.twig' %}