{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <title>{{ titulo }}</title>
        <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('ava/css/main.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/Roboto.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/shadowbox.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/raty.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/style.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/cliente.css') }}" rel="stylesheet" type="text/css" media="screen">
            <link href="{{ asset('home/css/carousel.css') }}" rel="stylesheet" type="text/css" media="screen">
            <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% set usuario = app.session.get('ava') %}
        {% block menu %}
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="fa fa-bar"></span>
                                    <span class="fa fa-bar"></span>
                                    <span class="fa fa-bar"></span>
                                </button>
                                <a class="navbar-brand" style="height:80px;" title="Teologia24horas" href="{{ path('ava_aluno_home') }}">
                                    <div class="navbar-brand-ibi"></div>
                                    <img style="position: absolute;top: 5px;left: 30px;" src="{{ asset('home/img/Logo IBI 2015.png') }}" width="200px" alt="English Now">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" id="navbar" style="margin-top: 7px">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="foto dropdown-toggle" href="#">
                                            <span>Olá{% if usuario['nome'] != "" %}, <strong>{{ usuario['nome'] }} </strong>{% endif %}</span>
                                            <img class="img-circle" src="/files/usuarios/{{ usuario['foto'] }}" class="img-circle" style="height: 45px;">
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('ambiente_usuario_homepage_home') }}"><i class="fa fa-user"></i> Ambiente do Usuário</a></li>
                                                {% if usuario['id'] %}
                                                <li class="divider" role="presentation"></li>
                                                <li><a href="{{ path('gerenciar_usuario_editar', {'id' :  usuario['id'] }) }}"><i class="fa fa-pencil"></i> Perfil</a></li>
                                                <li><a href="{{ path('gerenciar_senha') }}"><i class="fa fa-lock"></i> Alterar Senha</a></li>
                                                <li><a href="{{ path('gerenciar_foto') }}"><i class="fa fa-picture-o"></i> Foto</a></li>
                                                <li><a href="{{ path('gerenciar_endereco') }}"><i class="fa fa-map-marker"></i> Endereço</a></li>
                                                {% endif %}
                                            <li class="divider" role="presentation"></li>
                                            <li><a href="{{ path('ambiente_usuario_homepage_gerenciar_logout') }}"><i class="fa fa-sign-out"></i> Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="container-fluid">
            <div class="row mt70">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ wo_render_breadcrumbs() }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mt mb20">
                    <h2><span class='fa fa-graduation-cap'></span> {{ titulo }}</h2>
                </div>
            </div>

            {% block body %}

            {% endblock %}
        </div>
        {% block footer %}
            <div class="offset-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-1 col-sm-6 col-xs-4">
                            <img src="{{ asset('home/img/teologia-logo.png') }}" alt="">
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-8">
                            <h4 class="social-title"><strong>FAÇA PARTE DA NOSSA REDE</strong> <br> Curta, siga, e deixe sua opinião!</h4>
                            <div class="rede_social">
                                <a href="//twitter.com/teologia24horas" target="_blank">
                                    <img src="{{ asset('home/img/1423190581_Twitter.png') }}" alt="">
                                </a>
                                <a href="//www.youtube.com/teologia24horas" target="_blank">
                                    <img src="{{ asset('home/img/1423190586_YouTube.png') }}" alt="">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="{{ asset('home/img/1423190572_Skype.png') }}" alt="">
                                </a>
                                <a href="#" target="_blank">
                                    <img src="{{ asset('home/img/1423190654_LinkedIn.png') }}" alt="">
                                </a>
                                <a href="http://instagram.com/teologia24horas" target="_blank">
                                    <img src="{{ asset('home/img/1423257048_Instagram.png') }}" alt="">
                                </a>
                                <a href="//www.facebook.com/teologia24horas" target="_blank">
                                    <img src="{{ asset('home/img/1423190669_Facebook.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top: 50px;">
                            <div id="fb-root"></div>
                            <div class="fb-like" data-href="https://www.facebook.com/pages/Teologia24horas/417114088445163" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" id="links-footer-container">
                            <a href="https://teologia24horas.zendesk.com/hc/pt-br" class="links-footer" target="_blank">Perguntas Frequentes </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                            <a href="#" class="links-footer">Consultar Certificado </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                            <a href="#" class="links-footer">Abertura de Núcleos</a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                            <a href="#" class="links-footer">Programa Afiliados</a><br class="visible-xs">
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="col-md-6 col-sm-12">
                        <h3>Contato</h3>
                        <p style="font-size: 14px;">
                            IBI Serviços Educacionais Ltda / IBI (Instituto Bíblico Internacional) <br>
                            Plataforma Virtual de Ensino Teologia24horas <br>
                            CPNJ 14.767.521/0001-83 <br>
                            Rua NC 4 Qd. 40 Lt. 20 - CEP 77.064-719 <br>
                            Bela Vista - Palmas - Tocantins <br>
                            Atendimento: Segunda à Sexta das 9h às 12h e das 14h às 17h <br>
                            63. 3571-8061 / <span class="fa fa-envelope-o"></span> sac@teologia24horas.com.br</a> <br>
                        </p>
                        <h3>Comunicado</h3>
                        <p style="font-size: 10px;">
                            Antes de receber alguma pessoa que diz fazer parte do IBI (Instituto Bíblico Internacional), entre em contato conosco. <br>
                            Infelizmente algumas pessoas alegam fazer parte do nosso ministério, quando não fazem. <br>
                            Este comunicado não tem intenção de prejudicar quem quer que seja. <br>
                            Estamos apenas zelando por um ministério construído com integridade e fidelidade aos princípios da Palavra de Deus. <br>
                            Que o Senhor de toda terra abençoe a todos e faça prosperar todos que servem o Verbo (Jesus) em Espírito e em Verdade. <br>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="text-center">Somos Associados</h3>
                        <img src="{{ asset('home/img/logo-abed.png') }}" alt="">
                        <img class="mt20" src="{{ asset('home/img/logo-aetal.png') }}" alt="">
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul>
                            <h3 style="color: #373535;">Nossos números</h3>
                            <li>0 Certificados emitidos</li>
                            <li>0 Núcleos presenciais</li>
                            <li>0 Grupos de estudos</li>
                            <li>0 Vídeos aulas</li>
                            <li>0 Horas/aulas</li>
                            <li>0 Professores</li>
                            <li>0 Monitores</li>
                            <li>0 Afiliados</li>
                            <li>0 Tutores</li>
                            <li>0 Alunos</li>
                            <li>0 Cursos</li>
                            <li>0 Aulas</li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div id="copyright-footer">
                            <span>© Copyright 2010-2015 - IBI Serviços Educacionais Ltda - <br class="visible-xs">Todos os direitos reservados</span>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <!-- InputMask -->
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
            <!-- date-range-picker -->
            <script src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/autosize.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/ias.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/shadowbox.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/pdf.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/raty.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/tabdrop.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/site.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorbox-master/jquery.colorbox.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                $(function () {
                    $(".datemask").inputmask("dd/mm/yyyy");
                    $(".cpf").inputmask("999.999.999-99");
                    $(".cnpj").inputmask("99.999.999/9999-99");
                    $(".cep").inputmask("99.999-999");
                    $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                    $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
                    $('.datemask').datepicker({
                        format: "dd/mm/yyyy",
                        language: "pt-BR",
                        todayHighlight: true
                    });
                    $('#accordion').on('shown.bs.collapse', function () {
                        $(".servicedrop").addClass('fa-caret-down').removeClass('fa-caret-right');
                    });

                    $('#accordion').on('hidden.bs.collapse', function () {
                        $(".servicedrop").addClass('fa-caret-right').removeClass('fa-caret-down');
                    });
                    $(".helpdesk").colorbox({iframe: true, escKey: false, width: "80%", height: "80%", overlayClose: false});
                });
            </script>
            <script type = "text/javascript" >
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function () {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-45523521-1', 'auto');
                ga('send', 'pageview');
            </script>
            <script type="text/javascript">
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <!--Start of Zopim Live Chat Script-->
            <script type="text/javascript">
                window.$zopim || (function (d, s) {
                    var z = $zopim = function (c) {
                        z._.push(c)
                    }, $ = z.s =
                            d.createElement(s), e = d.getElementsByTagName(s)[0];
                    z.set = function (o) {
                        z.set.
                                _.push(o)
                    };
                    z._ = [];
                    z.set._ = [];
                    $.async = !0;
                    $.setAttribute('charset', 'utf-8');
                    $.src = '//v2.zopim.com/?2mCyvBqMBtHbyTUQfh6O3b2zXAjYJ94n';
                    z.t = +new Date;
                    $.
                            type = 'text/javascript';
                    e.parentNode.insertBefore($, e)
                })(document, 'script');
            </script>
        {% endblock %}
    </body>
</html>