{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('home/css/home.css') }}" rel="stylesheet" type="text/css" media="screen"/>
			{#<link href="{{ asset('landpage/css/Roboto.css') }}" rel="stylesheet" type="text/css">#}
			{#<link href="{{ asset('landpage/css/shadowbox.min.css') }}" rel="stylesheet" type="text/css">#}
			{#<link href="{{ asset('landpage/css/raty.css') }}" rel="stylesheet" type="text/css">#}

            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

            <link href="{{ asset('ead/css/library/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
            <link href="{{ asset('ead/css/md-font.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('ead/css/style.css') }}" rel="stylesheet" type="text/css">

            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="body">
        {% set usuario = app.session.get('ava') %}
        {% block menu %}
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" title="Teologia24horas" href="{{ path('home_homepage') }}">
                                    <div class="navbar-brand-ibi"></div>
                                    <img src="{{ asset('home/img/Logo IBI 2015.png') }}" width="200px"  alt="Teologia24horas">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" id="navbar" style="margin-top: 7px">
                                <ul class="nav navbar-nav">
                                    <li class="active">
                                        <a href="{{ path('front_pagina', { 'id' : paginas['quem_somos'].id, 'slug' : paginas['quem_somos'].slug }) }}">
                                            <i class="icon-globe"></i> Quem Somos
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="{{ path('front_pagina', { 'id' : paginas['como_funciona'].id, 'slug' : paginas['como_funciona'].slug }) }}"><i class="icon-cogs"></i> Como Funciona</a>
                                    </li>
                                    <li class="active dropdown">
                                        <a href="#area_exclusiva" data-toggle="modal" data-target="#area_exclusiva"><span class="fa fa-sign-in"></span> Área Exclusiva </a>
                                        {% include('@Home/Home/login_modal.html.twig') %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% include('@Home/Home/footer.html.twig') %}
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <!-- InputMask -->
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
            <!-- date-range-picker -->
            <script src="{{ asset('admin/js/plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/datepicker/locales/bootstrap-datepicker.pt-BR.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/colorpicker/bootstrap-colorpicker.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('ead/js/library/jquery.owl.carousel.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('ead/js/library/jquery.appear.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('ead/js/library/perfect-scrollbar.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('ead/js/library/jquery.easing.min.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('ead/js/scripts.js') }}" type="text/javascript" ></script>

            <script src="{{ asset('landpage/js/autosize.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/ias.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/shadowbox.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/pdf.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/raty.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/tabdrop.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/site.js') }}" type="text/javascript"></script>

            <script type="text/javascript">
                function getBoletoBancario(email) {
                    $.ajax({
                        url: "/admin/Pessoa/Fisica/Faturas/list",
                        type: 'post',
                        data: {
                            "email": email
                        },
                        beforeSend: function () {
                            $(".carregando").show('slow');
                        },
                        success: function (data) {
                            var tag = "";
                            var msg = "";
                            if (data.status == 2)
                            {
                                tag = "boleto_nao_localizado";
                                changeContentDiv("boleto_body", data.msg);
                                showModal(tag);
                            } else {
                                tag = "visualizar_boletos";
                                var result = data.result;
                                $(".boleto_body > tbody > tr").detach();
                                if (result.length == 0)
                                {
                                    msg += "<tr>";
                                    msg += "<td colspan='4'>";
                                    msg += "Não existe boleto para impressão";
                                    msg += "</td>";
                                    msg += "</tr>";
                                } else {
                                    $.each(result, function (index, value) {
                                        msg += "<tr>";
                                        msg += "<td>" + value.id + "</td>";
                                        msg += "<td>" + value.curso + "</td>";
                                        msg += "<td>" + value.vencimento + "</td>";
                                        msg += "<td>";
                                        msg += "<a href='/Aluno/Fatura-" + value.id + "' class='btn btn-success' target='_blank'><span class='fa fa-print'></span> Imprimir Boleto </a>";
                                        msg += "</td>";
                                        msg += "</tr>";
                                    });

                                }
                                $(".boleto_body > tbody").append(msg);
                                showModal(tag);
                            }
                        },
                        complete: function () {
                            $(".carregando").hide();
                        },
                        error: function () {
                            changeContentDiv("boleto_body", "não foi possível efetuar a requisição");
                            showModal("boleto_nao_localizado");
                        }
                    });
                    return false;
                }
                function changeContentDiv(div, valor) {
                    $("." + div).html(valor);
                }
                function showModal(tag) {
                    $('#' + tag).modal({
                        'show': true,
                        'keyboard': false,
                        'backdrop': 'static'
                    });
                }
                function sendDicaSenha(email) {
                    if (email != "") {
                        $.ajax({
                            url: "/admin/Pessoa/Fisica/DicaSenha/",
                            type: 'post',
                            data: {
                                "email": email
                            },
                            beforeSend: function () {
                                $(".carregando").show('slow');
                            },
                            success: function (data) {
                                var tag = "erro";
                                if (data.status != 2)
                                {
                                    tag = "mensagem";
                                }
                                $('#' + tag).modal({
                                    'show': true,
                                    'keyboard': false,
                                    'backdrop': 'static'
                                });
                            },
                            complete: function () {
                                $(".carregando").hide();
                            },
                            error: function () {
                                alert('Não foi possível efetuar requisição');
                            }
                        });
                        return false;
                    } else {
                        $("#dados").hide('slow');
                    }
                }
                $("#FrmBoletoFacil").submit(function () {
                    var email = $("input[name=email_aluno_fatura]").val();
                    getBoletoBancario(email);
                    return false;
                });
                $(function () {
                    $(".datemask").inputmask("dd/mm/yyyy");
                    $(".cpf").inputmask("999.999.999-99");
                    $(".cnpj").inputmask("99.999.999/9999-99");
                    $(".cep").inputmask("99.999-999");
                    $('.celular').inputmask({mask: "(99) 9999-9999[9]", greedy: true});
                    $(".valor").maskMoney({thousands: '', decimal: ',', allowZero: true});
                    $('.datemask').datepicker({
                        format: "dd/mm/yyyy",
                        language: "pt-BR",
                        todayHighlight: true
                    });
                    $('#Carousel').carousel({
                        interval: 8000
                    });
                    $("#btnSubmit").on('click', function () {
                        var email = $("input[name='dica_senha']").val();
                        sendDicaSenha(email);
                    });
                    $('.close_all').on('click', function () {
                        $('#mensagem').modal('hide');
                        $('#area_exclusiva').modal('hide');
                    });
                    $('#msg').modal({
                        'show': true,
                        'keyboard': false,
                        'backdrop': 'static'
                    });
                });

            </script>
            <script type = "text/javascript" >
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function () {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-45523521-1', 'auto');
                ga('send', 'pageview');</script>
            <script type="text/javascript">
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <!--Start of Zopim Live Chat Script-->
            <script type="text/javascript">
                window.$zopim || (function (d, s) {
                    var z = $zopim = function (c) {
                        z._.push(c)
                    }, $ = z.s =
                            d.createElement(s), e = d.getElementsByTagName(s)[0];
                    z.set = function (o) {
                        z.set.
                                _.push(o)
                    };
                    z._ = [];
                    z.set._ = [];
                    $.async = !0;
                    $.setAttribute('charset', 'utf-8');
                    $.src = '//v2.zopim.com/?2mCyvBqMBtHbyTUQfh6O3b2zXAjYJ94n';
                    z.t = +new Date;
                    $.
                            type = 'text/javascript';
                    e.parentNode.insertBefore($, e)
                })(document, 'script');
            </script>
            <!--End of Zopim Live Chat Script-->
        {% endblock %}
    </body>
</html>