{# empty Twig template #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Aqui os alunos estudam Teologia Sistemática na hora e forma que quiserem."/>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta name="robots" content="index, follow">
        
        <title>{{ titulo }}</title>
        {% block style %}
            <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/landpage.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('landpage/css/Roboto.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/shadowbox.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/raty.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/style.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('landpage/css/cliente.css') }}" rel="stylesheet" type="text/css" media="screen">
            <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascript %}
            <script src="{{ asset('admin/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/maxlength.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/maskmoney.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/autosize.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/ias.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/shadowbox.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/pdf.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/raty.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/tabdrop.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/plugins.js') }}" type="text/javascript"></script>
            <script src="{{ asset('landpage/js/site.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
                if ($(window).width() > 740) {
                    window.$zopim || (function (d, s) {
                        var z = $zopim = function (c) {
                            z._.push(c)
                        }, $ = z.s =
                                d.createElement(s), e = d.getElementsByTagName(s)[0];
                        z.set = function (o) {
                            z.set.
                                    _.push(o)
                        };
                        z._ = [];
                        z.set._ = [];
                        $.async = !0;
                        $.setAttribute('charset', 'utf-8');
                        $.src = '//v2.zopim.com/?2cPV4fqhl7u2KwODD7ahCvIZqT9QKkBz';
                        z.t = +new Date;
                        $.
                                type = 'text/javascript';
                        e.parentNode.insertBefore($, e)
                    }
                    )(document, 'script');
                }
            </script>

        {% endblock %}
    </body>
</html>