{% set msg = app.session.flashbag.get('msg') %}
{% if msg %}
    <div id="msgAdmin" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Atenção</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {% for item in msg %}
                            {{ item|raw }} <br />
                        {% endfor %}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}