<section id="mc-section-3" class="mc-section-3 section">
    <div class="container">
        <div class="feature-course">
            <h3 class="title-box" style="font-size: 24px;">Conheça melhor os nossos cursos</h3>
            <a href="{{ path('front_cursos') }}" class="all-course mc-btn btn-style-1" style="margin-top: 10px">Visualizar Todos</a>
            <div class="row">
                <div class="feature-slider">
                    {% set cursos = app.session.get('cursos') %}
                    {% for item in cursos %}
                        {% if item["status"] == 1 %}
                            <div class="mc-item mc-item-1">
                                <div class="image-heading">
                                    <img src="/files/cursos/{{item['imagem']}}" alt="{{ item['titulo'] }}" alt="">
                                </div>
                                <div class="meta-categories">
                                    <a href="{{ path('front_categorias', { 'idCategoria' : item['id_categoria'], 'slug' : item['slug_categoria'] }) }}" title="{{ item['categoria'] }}">
                                        <i class="fa fa-tag"></i> {{ item['categoria'] }}
                                    </a>
                                </div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="/files/cursos/{{item['imagem']}}" alt="{{ item['titulo'] }}">
                                    </div>
                                    <h4><a href="{{ path('ava_aluno_ver_curso', { 'idCurso' : item['id'], 'slug' : item['slug'] }) }}" title="{{ item['titulo'] }}">{{ item['titulo'] }}</a></h4>
                                    <div class="name-author">
                                        Por <a href="#">Francisco Miranda</a>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-time"></i> {{ item['duracao'] }} Dias
                                    </div>
                                    <div class="price">
                                        <a href="{{ path('ava_aluno_contratar_carrinho_compra', { 'idCurso' : item['id'], 'slug' : item['slug'] }) }}" title="Comprar Curso">
                                            <i class="fa fa-shopping-cart"></i> {{ item['valor']|number_format(2, ',', '.') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
