<div class="offset-bg">
    <div class="container">        
        <div class="row">
            <div class="col-md-12 text-center" id="links-footer-container">
                <a href="{{ path('front_pagina', { 'id' : paginas['perguntas_frequentes'].id, 'slug' : paginas['perguntas_frequentes'].slug }) }}" class="links-footer" target="_blank">Perguntas Frequentes </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                <a href="{{ path('front_pagina', { 'id' : paginas['certificacao'].id, 'slug' : paginas['certificacao'].slug }) }}" class="links-footer">Certificação </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                <a href="{{ path('front_pagina', { 'id' : paginas['metodologia'].id, 'slug' : paginas['metodologia'].slug }) }}" class="links-footer">Metodologia </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                <a href="{{ path('front_pagina', { 'id' : paginas['grupos_estudos'].id, 'slug' : paginas['grupos_estudos'].slug }) }}" class="links-footer">Grupos de Estudos</a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                <a href="{{ path('front_pagina', { 'id' : paginas['programa_afiliados'].id, 'slug' : paginas['programa_afiliados'].slug }) }}" class="links-footer">Programa de Afiliados</a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                <a href="{{ path('front_pagina', { 'id' : paginas['rede_network'].id, 'slug' : paginas['rede_network'].slug }) }}" class="links-footer">Rede Network</a><br class="visible-xs">
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <h3>Contato</h3>
            <p style="font-size: 14px; color: #FFF;">
                IBI Serviços Educacionais Ltda / IBI (Instituto Bíblico Internacional) <br>
                Plataforma Virtual de Ensino Teológico - Teologia24horas<br>
                CPNJ 14.767.521/0001-83 <br>
                Rua NC 4 Qd. 40 Lt. 20 - CEP 77.064-719 <br>
                Bela Vista - Palmas - Tocantins <br>
                <span class="fa fa-envelope-o"></span> sac@teologia24horas.com.br</a> <br>
            </p>
            <h3>Comunicado</h3>
            <p style="font-size: 10px; color: #FFF;"">
            Antes de receber alguma pessoa que diz fazer parte do IBI (Instituto Bíblico Internacional), entre em contato conosco. <br>
            Infelizmente algumas pessoas alegam fazer parte do nosso ministério, quando não fazem. <br>
            Este comunicado não tem intenção de prejudicar quem quer que seja. <br>
            Estamos apenas zelando por um ministério construído com integridade e fidelidade aos princípios da Palavra de Deus. <br>
            Que o Senhor de toda terra abençoe a todos e faça prosperar todos que servem o Verbo (Jesus) em Espírito e em Verdade. <br>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3 class="text-center">Somos Associados</h3>
            <img src="{{ asset('home/img/logo-abed.png') }}" alt="">
            <img class="mt20" src="{{ asset('home/img/logo-aetal.png') }}" alt="">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mt30" >
            <ul>
                <h3>Nossos números</h3>
                <li>0 Certificados emitidos</li>
                <li>0 Núcleos presenciais</li>
                <li>0 Grupos de estudos</li>
                <li>0 Vídeos aulas</li>
                <li>0 Horas/aulas</li>
                <li>0 Professores</li>
                <li>0 Monitores</li>
                <li>0 Afiliados</li>
                <li>0 Tutores</li>
                <li>0 Alunos</li>
                <li>0 Cursos</li>
                <li>0 Aulas</li>
            </ul>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div id="copyright-footer">
                <span>© Copyright 2010-2015 - IBI Serviços Educacionais Ltda - <br class="visible-xs">Todos os direitos reservados</span>
            </div>
        </div>
    </div>
</footer>