{% extends '::front.html.twig' %}
{% block style %}
    <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
    {{ parent() }}
{% endblock %}
{% block body %}
    {% include('@Home/Home/topo.html.twig') %}
    {% include('@Home/Home/cursos.html.twig') %}
    <section id="mc-section-3" class="mc-section-3 section">
        <div class="container">
            <div class="chamada">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mb20 text-center">
                            SATISFAÇÃO GARANTIDA ou 100% do seu DINHEIRO de volta!
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12 text-center hidden-sm hidden-xs">
                        <div class="mt">
                            <img src="{{ asset('home/img/satisfacao-total.png') }}" alt="" style="width:50%;float: right;">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-md-12 no-padding">
                        <p class="text-center" style="font-size: 14px;">
                            Nós temos tanta CERTEZA do que VIVEMOS e ENSINAMOS e do RESULTADO <br />
                            da TRANSFORMAÇÂO que acontecerá em sua VIDA e no seu MINISTÉRIO, através <br />
                            do CONHECIMENTO adquirido em nossos CURSOS DE TEOLOGIA, que iremos <br />
                            permitir que faça o primeiro curso TOTALMENTE GRATUITO... <br><br>
                            ... E mais, durante 30 (trinta) dias, contados a partir da data de pagamento de qualquer <br>
                            um dos nossos cursos, se por qualquer motivo do mundo, você perceber que o curso não <br />
                            lhe trará desenvolvimento pessoal ou ministerial, poderá solicitar seu dinheiro de volta. <br /><br />
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-12 text-center hidden-sm hidden-xs">
                        <div class="mt">
                            <img src="{{ asset('home/img/dinheiro-de-volta.png') }}" alt="" style="width:50%;float: left;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if error %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color: #666">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in error %}
                                {{ item|raw }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if app.session.flashbag.get('error') %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color: #666">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in app.session.flashbag.get('error') %}
                                {{ item }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if result %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color: #666">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Obrigado por <strong>INICIAR</strong> a sua <strong>INSCRIÇÃO!</strong><br /><br />
                            Entre <strong>AGORA MESMO</strong> no e-mail informado e <strong>PROCURE</strong> pela mensagem que acabamos de lhe enviar com o título: Teologia24horas - Falta só um clique... <br /><br />
                            Você precisa fazer essa <strong>CONFIRMAÇÃO</strong> para darmos continuidade a nossa parceria e garantir o seu bônus.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal"><span class="fa fa-check"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}