{% extends '::front.html.twig' %}
{% block style %}
    {{ parent() }}
    <style>
        .apresentacao
        {
            background: none !important;
        }
        .mc-section-1
        {
            background: none !important;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- SUB BANNER -->
    <section class="sub-banner section">
        <div class="awe-parallax bg-profile-feature"></div>
        <div class="awe-overlay overlay-color-3"></div>
        <div class="container">
            <div class="sub-banner-content">
                {% include('@Home/Home/topo.html.twig') %}
            </div>
        </div>
    </section>
    <!-- END / SUB BANNER -->
    <!-- PAGE CONTROL -->
    <section class="page-control">
        <div class="container">
            <div class="page-info">
                <a href="{{ path('home_homepage') }}"><i class="icon md-arrow-left"></i>Início</a>
            </div>
            <div class="page-view">
                Visualização
                <span class="page-view-info view-grid active" title="View grid"><i class="icon md-ico-2"></i></span>
                <span class="page-view-info view-list" title="View list"><i class="icon md-ico-1"></i></span>
                {#<div class="mc-select">#}
                    {#<select class="select" name="" id="all-categories">#}
                        {#<option value="">All level</option>#}
                        {#<option value="">2</option>#}
                    {#</select>#}
                {#</div>#}
            </div>
        </div>
    </section>
    <!-- CATEGORIES CONTENT -->
    <section id="categories-content" class="categories-content">
        <div class="container">
            <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="content grid">
                    <div class="row">
                        {% if cursos|length > 0 %}
                        <!-- ITEM -->
                        {% for item in cursos %}
                        <div class="col-sm-6 col-md-4">
                            <div class="mc-item mc-item-2">
                                <div class="image-heading">
                                    <img src="{{ asset('/files/cursos/' ~ item.imagem[1]) }}" alt="{{ item.titulo }}" />
                                </div>
                                <div class="meta-categories">
                                    <a href="{{ path('front_categorias', { 'idCategoria' : item.idCursoCategoria.id, 'slug' : item.idCursoCategoria.slug }) }}" title="{{ item.idCursoCategoria.titulo }}">
                                        <i class="fa fa-tag"></i> {{ item.idCursoCategoria.titulo }}
                                    </a>
                                </div>
                                <div class="content-item">
                                    <div class="image-author">
                                        <img src="{{ asset('/files/cursos/' ~ item.imagem[1]) }}" alt="{{ item.titulo }}" />
                                    </div>
                                    <h4>
                                        <a href="{{ path('ava_aluno_ver_curso', { 'idCurso' : item.id, 'slug' : item.slug }) }}" title="{{ item.titulo }}">{{ item.titulo }}</a>
                                    </h4>
                                    <div class="name-author">
                                        Por <a href="#">Francisco Miranda</a>
                                    </div>
                                </div>
                                <div class="ft-item">
                                    <div class="rating">
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                        <a href="#" class="active"></a>
                                    </div>
                                    <div class="view-info">
                                        <i class="icon md-time"></i> {{ item.duracao }} Dias
                                    </div>
                                    <div class="price">
                                        <a href="{{ path('ava_aluno_contratar_carrinho_compra', { 'idCurso' : item.id, 'slug' : item.slug }) }}" title="Comprar Curso">
                                            <i class="fa fa-shopping-cart"></i> {{ item.idTabelaPreco.valor|number_format(2, ',', '.') }}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <div class="mt">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Atenção!</strong> Nenhum curso foi localizado
                                </div>
                            </div>
                        {% endif %}
                        <!-- ENDITEM -->
                    </div>
                </div>
            </div>
            <!-- SIDEBAR CATEGORIES -->
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar-categories">
                    <div class="inner">
                        <!-- WIDGET TOP -->
                        <div class="widget">
                            <ul class="list-style-block">
                                {% for categoria in categorias %}
                                <li {% if idCategoria == categoria.id %}class="current" {% endif %}>
                                    <a href="{{ path('front_categorias', {'idCategoria': categoria.id, 'slug': categoria.slug}) }}">{{ categoria.titulo }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- END / WIDGET TOP -->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}