<div class="modal fade" id="area_exclusiva" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- TAB NAVIGATION -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#tab1" role="tab" data-toggle="tab">
                            <span class="fa fa-sign-in"></span> Entrar
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" role="tab" data-toggle="tab">
                            </span> Lembrar Senha</a>
                        </a>
                    </li>
                </ul>
                <!-- TAB CONTENT -->
                <div class="tab-content">
                    <div class="active tab-pane fade in" id="tab1">
                        <form class="form" role="form" method="post" action="{{ path('ambiente_usuario_homepage_gerenciar_login') }}" accept-charset="UTF-8" id="login-nav">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control" id="exampleInputEmail2" placeholder="Inserir o E-mail" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="senha" class="form-control" id="exampleInputPassword2" placeholder="Inserir a Senha" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-primary btn-block" value="Log in" ><span class="fa fa-lock"> Entrar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <form class="form" role="form" method="post" accept-charset="UTF-8" >
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="dica_senha" class="form-control" id="exampleInputEmail2" placeholder="Inserir o E-mail" required>
                                </div>
                                <div class="form-group">
                                    <a id="btnSubmit" class="btn btn-primary btn-block" ><span class="fa fa-check"> Enviar Lembrete de Senha</a>
                                </div>
                                <center>
                                    <div class="carregando"></div>
                                </center>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-sm" id="mensagem" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Verifique seu e-mail </h4>
            </div>
            <div class="modal-body">
                <p>Dados enviados com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close_all" data-dismiss="modal"><span class="fa fa-close"></span> Fechar</button>
            </div>
        </div>
    </div>
</div>