<div class="modal fade" id="visualizar_boletos" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Impressão de Boletos</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover boleto_body">
                    <thead>
                    <tr>
                        <td>Código</td>
                        <td>Curso</td>
                        <td>Vencimento</td>
                        <td>Imprimir</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary close_all" data-dismiss="modal"><span class="fa fa-close"></span> Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-sm" id="boleto_nao_localizado" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Atenção </h4>
            </div>
            <div class="modal-body">
                <div class="boleto_body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="fa fa-close"></span> Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-sm" id="erro" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Atenção </h4>
            </div>
            <div class="modal-body">
                <p>Não foi possível localizar o seu usário, confira o enderço de e-mail ou faça sua inscrição</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="fa fa-close"></span> Fechar</button>
            </div>
        </div>
    </div>
</div>