<html>
<head>
	<title>Testando requisição POST</title>
</head>
<body>
	<form name="form" method="POST" action="{{ path('front_teste') }}">
		<label>
			Nome: <input type="text" name="nome" />
		</label> <br />
		<label>
			Email: <input type="text" name="email" />
		</label> <br />
		<input type="submit" name="submit" value="salvar" />
	</form>

	{{ dump(dados) }}
</body>
</html>