<section id="mc-section-1" class="mc-section-1 section">
    <div class="apresentacao">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="mb">
                        <iframe src="//player.vimeo.com/video/120107657" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="chamada" id='cadastro'>
                        <p>
                            Conheça <strong>3 PASSOS</strong> para você <strong>CONTRIBUIR</strong> de uma forma <br />
                            <strong>RÁPIDA e PRÁTICA</strong> com o <strong>DESENVOLVIMENTO</strong> <br />
                            das <strong>PESSOAS</strong> que estão em sua volta... <br />
                            ...A partir do seu <strong>CONHECIMENTO TEOLÓGICO...</strong> <br />
                            ... Em apenas <strong>1 CURSO</strong> de teologia...
                        </p>
                        <h3>TOTALMENTE GRATUITO!</h3>
                        <p><span>Digite o seu email abaixo, para receber o seu bônus</span></p>
                    </div>
                    <div class="mt">
                        {{ form_start(form) }}
                        {{ form_widget(form.email)}}
                        {{ form_widget(form.submit)}}
                        {{ form_end(form) }}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="rede mb">
                                <div id="fb-root"></div>
                                <div class="fb-like" data-href="https://www.facebook.com/pages/Teologia24horas/417114088445163" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>