{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form) }}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible mt" role="alert">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Assunto') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
{% endblock %}
