<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('ead/css/library/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('ead/css/library/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('ead/css/library/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('ead/css/md-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('ead/css/style.css') }}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('js/bower_components/angular/angular.min.js') }}"></script>
    <title>{{ aula.titulo }}</title>
    <script>
        (function() {
         var _fbq = window._fbq || (window._fbq = []);
         if (!_fbq.loaded) {
           var fbds = document.createElement('script');
           fbds.async = true;
           fbds.src = '//connect.facebook.net/en_US/fbds.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(fbds, s);
           _fbq.loaded = true;
         }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '471483032976719', {'value':'0.00','currency':''}]);
    </script>
    <noscript>
        <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=471483032976719&amp;cd[value]=0.00&amp;cd[currency]&amp;noscript=1" />
    </noscript>
</head>
<body id="page-top">
<!-- PAGE WRAP -->
<div id="page-wrap">
    <div class="top-nav">
        <h4 class="sm black bold">{{ aula.idDisciplina.idCurso.titulo }}</h4>
        <script type="text/javascript">
            (function(angular) {
                'use strict';
                var myApp = angular.module('AulaApp', []).config(['$httpProvider', function($httpProvider) {
                    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                }]);

                myApp.controller('AcessoController', ['$scope', '$http', function($scope, $http) {
                    $scope.data = {
                        'contrato' : {{ contrato.id }},
                        'aula' : {{ aula.id }}
                    };

                    $scope.salvar = function()
                    {
                        $http({
                            method: 'POST',
                            url: Routing.generate('ajax_aula_acesso'),
                            data: $.param($scope.data)
                        }).success(function(data){
                            console.log(data.mensagem);
                        });
                    }
                }]);
                myApp.controller('AnotacaoController', ['$scope', '$http', function($scope, $http) {
                    $scope.texto = '{{ anotacao.texto }}';
                    $scope.animationsEnabled = true;
                    $scope.enviar = function()
                    {
                        $http({
                            method: 'POST',
                            url: Routing.generate('ajax_anotacao', { 'idContrato' : {{ contrato.id }}, 'idAula' : {{ aula.id }} }),
                            data: $.param({ 'texto' : $scope.texto })
                        }).success(function(data){
                            console.log(data.Mensagem);
                        });
                    }
                }]);
                myApp.controller('ForumController', ['$scope', '$http', function($scope, $http) {
                    $scope.comentario = '';
                    $scope.id_forum = '';
                    $scope.animationsEnabled = true;
                    $scope.data = '';
                    $scope.enviar = function()
                    {
                        $http({
                            method: 'POST',
                            url: Routing.generate('ajax_forum_post', { 'idContrato' : {{ contrato.id }} }),
                            data: $.param({ 'comentario' : $scope.comentario })
                        }).success(function(data){
                            $scope.comentario = "";

                            $scope.data = $scope.listar();
                        });
                    }
                    $scope.resposta = function()
                    {
                        $http({
                            method: 'POST',
                            url: Routing.generate('ajax_forum_resposta', { 'idContrato' : {{ contrato.id }} }),
                            data: $.param({ 'id_forum' : $scope.id_forum, 'comentario' : $scope.comentario })
                        }).success(function(data){
                            $scope.comentario = "";

                            $scope.data = $scope.listar();
                        });
                    }
                    $scope.listar = function()
                    {
                        $http({
                            method: 'GET',
                            url: Routing.generate('ajax_forum_list', { 'idCurso' : {{ idCurso }} }),
                        }).success(function(response){
                            if (angular.isArray(response))
                            {
                                $scope.data = response;
                            } else {
                                $scope.data = [response];
                            }
                        });
                    }
                }]);
            })(window.angular);
        </script>
        <ul class="top-nav-list" ng-app="AulaApp">
            <li class="prev-course"><a href="{{ navegacao["anterior"] }}"><i class="icon md-angle-left"></i><span class="tooltip">Anterior</span></a></li>
            <li class="next-course"><a href="{% if navegacao["proximo"] == "0" %}{{ navegacao["anterior"] }}{% else %}{{ navegacao["proximo"] }}{% endif %}"><i class="icon md-angle-right"></i><span class="tooltip">Próximo</span></a></li>
            <li class="outline-learn">
                <a href="#"><i class="icon md-list"></i></a>
                <div class="list-item-body outline-learn-body">
                {% for itens in grade.disciplina %}
                    <div class="section-learn-outline">
                        <h5 class="section-title">
                            {{ itens.returnSemana }} <br />
                            {{ itens.titulo }}
                        </h5>
                        <ul class="section-list">
                            {% for aulaItem in itens.conteudoAula %}
                            	{% if aulaItem.status == 1 %}
                                <li>
                                    <div class="list-body">
                                        <a href="{{ path("ava_aluno_curso_aula", { 'idAula' : aulaItem.id, 'slug' : aulaItem.slug }) }}">
                                            <h6>
                                                {{ itens.returnAula }} <br />
                                                {{ aulaItem.titulo }} | <small>{{ aula.returnTipoConteudo|raw }}</small>
                                            </h6>
                                            {% if aulaItem.resumo %}
                                                <p>{{ aulaItem.resumo }}</p>
                                            {% endif %}
                                        </a>
                                    </div>
                                    {#<div class="download">#}
                                    {#<a href="#"><i class="icon md-download-1"></i></a>#}
                                    {#<div class="download-ct">#}
                                    {#<span>Reference 12 mb</span>#}
                                    {#</div>#}
                                    {#</div>#}
                                    <div class="div-x"><i class="icon md-check-2"></i></div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </li>

            <!-- DISCUSSION -->
            <li class="discussion-learn" ng-controller="ForumController">
                <a href="#"><i class="icon md-comments"></i></a>
                <div class="list-item-body discussion-learn-body">
                    <div class="inner">
                        <div class="form-discussion">
                            <h3>Em construção</h3>
                            {#<form method="POST" ng-submit="enviar();">#}
                                {#<div class="text-title">#}
                                    {#Fórum do curso#}
                                {#</div>#}
                                {#<div class="post-editor text-form-editor">#}
                                    {#<textarea name="comentario" ng-model="comentario" ng-bind="comentario" placeholder="Comentar no Fórum"></textarea>#}
                                {#</div>#}
                                {#<div class="form-submit" >#}
                                    {#<input type="submit" value="Enviar" class="mc-btn-2 btn-style-2">#}
                                {#</div>#}
                                {#<h5 ng-init="listar();">{% verbatim %}{{data.length}}{% endverbatim %} Posts</h5>#}
                            {#</form>#}
                        </div>

                        <ul class="list-discussion">
                            <!-- LIST ITEM -->
                            <li>
                                {#<div class="list-body">#}
                                    {#<div class="list-content" ng-repeat="value in data;">#}
                                        {#<cite class="name-author"><a href="#">{% verbatim %}{{ value.id_contrato.id_pessoa.pf_nome }}{% endverbatim %}</a></cite>#}
                                        {#<p>{% verbatim %}{{ value.tema }}<br />{{ value.datahora_cadastro|date:'d/MM/yyyy h:mm' }}{% endverbatim %}</p>#}
                                        {#<div class="inner">#}
                                            {#<div class="form-discussion">#}
                                                {#<form method="POST" ng-submit="resposta();">#}
                                                    {#<div class="text-title">#}
                                                        {#Responder#}
                                                    {#</div>#}
                                                    {#<div class="post-editor text-form-editor">#}
                                                        {#<input type="hidden" name="id_forum" ng-model="id_forum" value="{% verbatim %}{{ value.id }}{% endverbatim %}" />#}
                                                        {#<textarea name="comentario" ng-model="comentario" ng-bind="comentario" placeholder="Comentar no Fórum" class="form-group-lg" ></textarea>#}
                                                    {#</div>#}
                                                    {#<div class="form-submit" >#}
                                                        {#<input type="submit" value="Enviar" class="mc-btn-2 btn-style-2">#}
                                                    {#</div>#}
                                                {#</form>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="comment-meta">#}
                                            {#&#123;&#35;<a href="#">{% verbatim %}{{ value.datahora_cadastro }}{% endverbatim %}</a>&#35;&#125;#}
                                            {#&#123;&#35;<a href="#"><i class="icon md-arrow-up"></i>13</a>&#35;&#125;#}
                                            {#&#123;&#35;<a href="#"><i class="icon md-arrow-down"></i>25</a>&#35;&#125;#}
                                            {#&#123;&#35;<a href=""><i class="icon md-back"></i>384 replies</a>&#35;&#125;#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            </li>
                            <!-- END / LIST ITEM -->

                        </ul>
                    </div>
                </div>
            </li>

            <!-- NOTE LEARN -->
            <li class="note-learn" ng-controller="AnotacaoController">
                <a href="#"><i class="icon md-file"></i></a>
                <div class="list-item-body note-learn-body">
                    <div class="note-title">
                        <h5>Anotações</h5>
                        <a href="#"><i class="icon md-share"></i></a>
                    </div>
                    <form name="send" ng-submit="enviar();">
                        <textarea name="texto" class="note-body" ng-keyup="$event.keyCode == 13 && enviar()" ng-model="texto" rows="15" ng-bind="texto">
                        </textarea>
                        {#<button type="submit" name="submit">teste</button>#}
                    </form>
                </div>
            </li>
            <li class="backpage">
                <a href="{{ path('ava_aluno_curso', {'idCurso': grade.id, 'slug': grade.slug }) }}"><i class="icon md-close-1"></i></a>
            </li>
        </ul>
    </div>
    <section id="learning-section" class="learning-section learn-section">
        <div class="container">
            <div class="title-ct" ng-controller="AcessoController">
                <h3><strong>{{ aula.titulo }}</strong></h3>
                <div class="tt-right">
                    <input name="contrato" type="hidden" ng-model="data.contrato" />
                    <input name="aula" type="hidden" ng-model="data.aula" />
                    <input name="acesso" type="checkbox" id="markaslearned" ng-click="salvar()" {% if acesso == 1 %}checked='checked'{% endif %} />
                    <label for="markaslearned">
                        Marcar se o conteúdo foi assimilado
                        <i class="icon md-check-2"></i>
                    </label>
                </div>
            </div>
            <div class="abc">
                <div class="video embed-responsive embed-responsive-16by9">
                    <iframe src="{{ aula.link }}" class="embed-responsive-item">
                    </iframe>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END / PAGE WRAP -->

<!-- Load jQuery -->
<script type="text/javascript" src="{{ asset('ead/js/library/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/library/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/library/jquery.owl.carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/library/jquery.appear.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/library/perfect-scrollbar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/library/jquery.easing.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('ead/js/scripts.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

</body>
</html>