<!-- FORM CHECKOUT -->
<div class="form-checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form>
                    <ul id="bar">
                        <li class="active"><span class="count">1</span>Register</li>
                        <li><span class="count">2</span>Order and payment</li>
                        <li><span class="count">3</span>Finish checkout</li>
                    </ul>
                    <span class="closeForm"><i class="icon md-close-1"></i></span>
                    <div class="form-body">
                        <!-- fieldsets -->
                        <fieldset>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-1">
                                        <h3 class="fs-title text-capitalize">sign in</h3>
                                        <div class="form-email">
                                            <input type="text" placeholder="Email">
                                        </div>
                                        <div class="form-password">
                                            <input type="password" placeholder="Password">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" id="check">
                                            <label for="check">
                                                <i class="icon md-check-2"></i>
                                                Remember me</label>
                                            <a href="#">Forget password?</a>
                                        </div>
                                        <div class="form-submit-1">
                                            <input type="button" value="Sign In and Continue" class="next mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-2">
                                        <h3 class="fs-title text-capitalize">New Member</h3>
                                        <div class="form-firstname">
                                            <input type="text" placeholder="First name" />
                                        </div>
                                        <div class="form-lastname">
                                            <input type="text" placeholder="Last name" />
                                        </div>
                                        <div class="form-datebirth">
                                            <input type="text" placeholder="Date of Birth">
                                        </div>
                                        <div class="form-email">
                                            <input type="text" name="pass" placeholder="Annamolly@outlook.com" class="error">
                                            <span class="text-error">this email has been already taken</span>
                                        </div>
                                        <div class="form-password">
                                            <input type="password" name="pass" placeholder="Password" class="valid">
                                        </div>
                                        <div class="form-submit-1">
                                            <input type="button" value="Sign Up and Continue" class="next mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-1">
                                        <div class="mc-item mc-item-2">
                                            <div class="image-heading">
                                                <img src="images/feature/img-1.jpg" alt="">
                                            </div>
                                            <div class="meta-categories"><a href="#">Web design</a></div>
                                            <div class="content-item">
                                                <div class="image-author">
                                                    <img src="images/avatar-1.jpg" alt="">
                                                </div>
                                                <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                                <div class="name-author">
                                                    By <a href="#">Name of Mr or Mrs</a>
                                                </div>
                                            </div>
                                            <div class="ft-item">
                                                <div class="rating">
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="view-info">
                                                    <i class="icon md-users"></i>
                                                    2568
                                                </div>
                                                <div class="comment-info">
                                                    <i class="icon md-comment"></i>
                                                    25
                                                </div>
                                                <div class="price">
                                                    $190
                                                    <span class="price-old">$134</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-2">
                                        <h3 class="fs-title">Choose your payment method</h3>
                                        <ul class="pay">
                                            <li>
                                                <input type="radio" name="pay" id="visa">
                                                <label for="visa">
                                                    <i class="icon-radio"></i>
                                                    Visa / Master Card
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" name="pay" id="paypal">
                                                <label for="paypal">
                                                    <i class="icon-radio"></i>
                                                    Paypal
                                                </label>
                                            </li>
                                            <li>
                                                <input type="radio" name="pay" id="cash">
                                                <label for="cash">
                                                    <i class="icon-radio"></i>
                                                    Cash
                                                </label>
                                            </li>
                                        </ul>

                                        <div class="form-cardnumber">
                                            <label for="cardnumber">Card number</label>
                                            <input type="text" id="cardnumber">
                                        </div>

                                        <div class="form-expirydate">
                                            <label for="expirydate">Expiry date</label>
                                            <input type="text" id="expirydate">
                                            <input type="text">
                                        </div>

                                        <div class="form-code">
                                            <label for="code">Code</label>
                                            <input type="text" id="code">
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="form-couponcode">
                                            <label for="couponcode">Coupon code</label>
                                            <input type="text" id="couponcode">
                                        </div>

                                        <div class="form-total">
                                            <h4>Total Payment</h4>
                                            <span class="price">$89</span>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="form-submit-1">
                                            <input type="button" value="Confirm and Finish" class="next mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-1">
                                        <div class="mc-item mc-item-2">
                                            <div class="image-heading">
                                                <img src="images/feature/img-1.jpg" alt="">
                                            </div>
                                            <div class="meta-categories"><a href="#">Web design</a></div>
                                            <div class="content-item">
                                                <div class="image-author">
                                                    <img src="images/avatar-1.jpg" alt="">
                                                </div>
                                                <h4><a href="course-intro.html">The Complete Digital Photography Course Amazon Top Seller</a></h4>
                                                <div class="name-author">
                                                    By <a href="#">Name of Mr or Mrs</a>
                                                </div>
                                            </div>
                                            <div class="ft-item">
                                                <div class="rating">
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#" class="active"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                </div>
                                                <div class="view-info">
                                                    <i class="icon md-users"></i>
                                                    2568
                                                </div>
                                                <div class="comment-info">
                                                    <i class="icon md-comment"></i>
                                                    25
                                                </div>
                                                <div class="price">
                                                    $190
                                                    <span class="price-old">$134</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-2">
                                        <h3 class="fs-title">Thank You For Your Purchase</3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>

                                        <div class="widget widget_share">
                                            <h4>Share</h4>
                                            <div class="share-body">
                                                <a href="#" class="twitter" title="twitter">
                                                    <i class="icon md-twitter"></i>
                                                </a>
                                                <a href="#" class="pinterest" title="pinterest">
                                                    <i class="icon md-pinterest-1"></i>
                                                </a>
                                                <a href="#" class="facebook" title="facebook">
                                                    <i class="icon md-facebook-1"></i>
                                                </a>
                                                <a href="#" class="google-plus" title="google plus">
                                                    <i class="icon md-google-plus"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="form-submit-1">
                                            <input type="submit" value="Start Learning" class="next mc-btn btn-style-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END / FORM CHECKOUT -->