{% extends '::base_ava_aula.html.twig' %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('ava/css/carrinho.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block titulo %}{% endblock %}
{% block body %}
    <div class="mt70">
        <div class="content">
            <div class="container">
                <div class="content_body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {{ wo_render_breadcrumbs() }}
                        </div>
                    </div>
                    <form name="frm" id="contratar" class="form-group" method="post">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="mt30 mb20">
                                    <h2>
                                        <span class="fa fa-shopping-cart"></span> Carrinho de Compras
                                    </h2>
                                </div>
                                <div class="mt">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <strong>Produto</strong>
                                                </td>
                                                <td align='center'>
                                                    <strong>Valor</strong>
                                                </td>
                                                <td align='center'>
                                                    <strong>Opção</strong>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width='15%'>
                                                    {% if curso.Imagem %}
                                                        <img src="/files/cursos/{{ curso.imagem[1].imagem }}" style="width: 100px;" />
                                                    {% endif %}
                                                </td>
                                                <td width='65%' valign='bottom'>
                                                    {{ curso.titulo }}
                                                </td>
                                                <td width='10%' align='center'>
                                                    {{ curso.idTabelaPreco.valor|number_format(2, ',', '.') }}
                                                </td>
                                                <td width='10%' align='center'>
                                                    <input name="curso" id="curso" type="hidden" value="{{ curso.id }}" />
                                                    <label>
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                </td>
                                                <td align='center'>
                                                    <strong><div id="total">{{ total|number_format(2, ',', '.') }}</div></strong>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="mt20 mb20">
                                        <a href="{{ path('ambiente_usuario_homepage_home') }}" class="btn btn-default btn-lg btn-block"><span class="fa fa-long-arrow-left"></span> Continuar Comprando </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                	{% if fatura %}
                                	<div class="mt20 mb20">
                                        <a href="{{ path('gerar_boleto', {'idFatura' : fatura.id }) }}" class="btn btn-primary btn-lg btn-block" target="_blank">Imprimir Boleto <span class="fa fa-barcode"></span> </a>
                                    </div>
                                	{% else %}
                                    <div class="mt20 mb20">
                                        <button typ="submit" name="submit" class="btn btn-success btn-lg btn-block" value="2">Concluir Pedido <span class="fa fa-long-arrow-right"></span> </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block boleto %}
{% endblock %}