{% extends 'AmbienteAlunoBundle:layout:base.html.twig' %}

{% set usuario = app.session.get('ava') %}
{% set dia = "now"|date('d') %}
{% set links = app.session.get('links') %}
{% set duracao = app.session.get('duracao') %}
{% set credito = app.session.get('credito') %}
{% set hora_aula = app.session.get('hora_aula') %}
{% set aluno = app.session.get('aluno') %}
{% block nav %}{% endblock %}
{% block body %}
    <section class="course-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="sidebar-course-intro">
                        <!-- CURRENT PROGRESS -->
                        <div class="current-progress">
                            <h4 class="sm black">Progresso do Curso</h4>
                            <div class="percent">Completo <span class="count"></span></div>
                            <div class="progressbar">
                                <div class="progress-run"></div>
                            </div>
                            <ul class="current-outline">
                                {#<li><span>4</span>section</li>#}
                                {#<li><span>1</span>quizzes</li>#}
                                {#<li><span>30</span>units</li>#}
                                {#<li><span>5</span>assignments</li>#}
                            </ul>
                        </div>
                        <!-- END / CURRENT PROGRESS -->

                        <div class="video-course-intro">
                            <div class="video embed-responsive embed-responsive-16by9">
                                <iframe src="{{ introducao.link }}" class="embed-responsive-item">
                                </iframe>
                            </div>
                        </div>
                        <div class="new-course">
                            {#<div class="item course-code">#}
                                {#<i class="icon md-barcode"></i>#}
                                {#<h4><a href="#">Course Code</a></h4>#}
                                {#<p class="detail-course"># A 15273</p>#}
                            {#</div>#}
                            <div class="item course-code">
                                <i class="icon md-time"></i>
                                <h4><a href="#">Duração</a></h4>
                                <p class="detail-course">{{ duracao }} Dias</p>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="about-instructor">
                            <p class="detail-course">
                                <strong>Curso Adquirido em: </strong>{{ Contrato.dataContratacao|date('d/m/Y') }}<br />
                                <strong>Tempo restante: </strong>{{ dias }} {% if dias != "Liberado" %}Dias{% endif %}
                            </p>
                        </div>
                        <hr class="line">
                        <div class="about-instructor">
                            <h4 class="xsm black bold">Sobre o Professor</h4>
                            <ul>
                                <li>
                                    <div class="image-instructor text-center">
                                        <img src="{{ asset('ead/images/team-13.jpg') }}" alt="">
                                    </div>
                                    <div class="info-instructor">
                                        <cite class="sm black"><a href="#">Francisco Miranda</a></cite>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <a href="#"><i class="fa fa-check-square"></i></a>
                                        <p>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor eget imperdiet libero</p>
                                    </div>
                                </li>
                                {#<li>#}
                                    {#<div class="image-instructor">#}
                                        {#<img src="images/team-13.jpg" alt="">#}
                                    {#</div>#}
                                    {#<div class="info-instructor">#}
                                        {#<cite class="sm black"><a href="#">John Doe</a></cite>#}
                                        {#<a href="#"><i class="fa fa-envelope"></i></a>#}
                                        {#<a href="#"><i class="icon md-user-plus"></i></a>#}
                                        {#<p>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor eget imperdiet libero</p>#}
                                    {#</div>#}
                                {#</li>#}
                            </ul>
                        </div>
                        <hr class="line">
                        {#<div class="widget widget_equipment">#}
                            {#<i class="icon md-config"></i>#}
                            {#<h4 class="xsm black bold">Equipment</h4>#}
                            {#<div class="equipment-body">#}
                                {#<a href="#">Photoshop CC</a>,#}
                                {#<a href="#">Illustrator CC</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="widget widget_tags">#}
                            {#<i class="icon md-download-2"></i>#}
                            {#<h4 class="xsm black bold">Tag</h4>#}
                            {#<div class="tagCould">#}
                                {#<a href="#">Design</a>,#}
                                {#<a href="#">Photoshop</a>,#}
                                {#<a href="#">Illustrator</a>,#}
                                {#<a href="">Art</a>,#}
                                {#<a href="">Graphic Design</a>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="widget widget_share">#}
                            {#<i class="icon md-forward"></i>#}
                            {#<h4 class="xsm black bold">Share course</h4>#}
                            {#<div class="share-body">#}
                                {#<a href="#" class="twitter" title="twitter">#}
                                    {#<i class="icon md-twitter"></i>#}
                                {#</a>#}
                                {#<a href="#" class="pinterest" title="pinterest">#}
                                    {#<i class="icon md-pinterest-1"></i>#}
                                {#</a>#}
                                {#<a href="#" class="facebook" title="facebook">#}
                                    {#<i class="icon md-facebook-1"></i>#}
                                {#</a>#}
                                {#<a href="#" class="google-plus" title="google plus">#}
                                    {#<i class="icon md-google-plus"></i>#}
                                {#</a>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="tabs-page">
                        <ul class="nav-tabs" role="tablist">
                            <li class="active"><a href="#outline" role="tab" data-toggle="tab">Aulas</a></li>
                            <li><a href="#student" role="tab" data-toggle="tab">Alunos</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- Aulas -->
                            <div class="tab-pane fade in active" id="outline">
                                <!-- SECTION OUTLINE -->
                                {% if grade.Disciplina %}
                                    {% for disciplina in grade.disciplina %}
                                        {% if disciplina.status == 1%}
                                        <div class="section-outline">
                                            <h4 class="tit-section xsm">
                                                {{ disciplina.returnSemana }}<br />
                                                {{ disciplina.titulo }}
                                            </h4>
                                            <ul class="section-list">
                                            {% for aula in disciplina.conteudoAula %}
                                            	{% if aula.status == 1 %}
                                                <li {#class="o-view"#}>
                                                    <div class="count"><span>{{ loop.index }}</span></div>
                                                    <div class="list-body">
                                                        <i class="icon md-camera"></i>
                                                        <p>
                                                            {% if Contrato.status == 1 %}
                                                                <a href="{{ path("ava_aluno_curso_aula", { 'idAula' : aula.id, 'slug' : aula.slug }) }}">
                                                                    {{ disciplina.returnAula }} <br />
                                                                    {{ aula.titulo}}
                                                                </a>
                                                            {% else %}
                                                                {{ disciplina.returnAula }} <br />
                                                                {{ aula.titulo}}
                                                            {% endif %}
                                                            <br /><small>{{ aula.returnTipoConteudo|raw }}</small>
                                                        </p>
                                                        <div class="data-lessons">
                                                            <span>{% if aula.duracao %}{{ aula.duracao }}{% else %} Não Possuí {% endif %}</span>
                                                        </div>
                                                        <div class="div-x"><i class="icon md-check-2"></i></div>
                                                        <div class="line"></div>
                                                    </div>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <!-- END / SECTION OUTLINE -->
                            </div>
                            <!-- END / OUTLINE -->
                            <!-- Alunos -->
                            <div class="tab-pane fade" id="student">
                                <h3 class="md black">{{ alunos|length}} Pessoas que compraram o curso</h3>
                                <div class="tab-list-student">
                                    <ul class="list-student">
                                    	{% for item in alunos %}
                                    	<!-- LIST STUDENT -->
                                        <li>
                                            <div class="image">
                                                {% if item.foto == "" %}
                                            		{% if item.pfSexo == 1 %}
                                            		<img src="{{ asset('files/usuarios/user.png') }}" alt="{{ item.pfNome }}">
                                            		{% else %}
                                            		<img src="{{ asset('files/usuarios/user_woman.png') }}" alt="{{ item.pfNome }}">
                                            		{% endif %}
                                            	{% else %}
                                                	<img src="{{ asset('files/usuarios/' ~ item.foto) }}" alt="{{ item.pfNome }}">
                                                {% endif %}
                                            </div>
                                            <div class="list-body">
                                                <cite class="xsm"><a href="#">{{ item.pfNome }}</a></cite>
                                            </div>
                                        </li>
                                        <!-- END / LIST STUDENT -->  
                                    	{% endfor %}
                                    </ul>
                                </div>
                                <div class="load-more">
                                    <a href="">
                                        <i class="icon md-time"></i>
                                        Visualizar mais alunos</a>
                                </div>
                            </div>
                            <!-- END / STUDENT -->

                            {#<!-- UPDATE LOG -->#}
                            {#<div class="tab-pane fade" id="updatelog">#}
                                {#<ul class="list-update">#}
                                    {#<li>#}
                                        {#<div class="time-update">#}
                                            {#<span>5 dias atrás</span>#}
                                        {#</div>#}
                                        {#<div class="content-update">#}
                                            {#<p>#}
                                                {#<a href="#">Morbi nec nisi ante. </a>#}
                                                {#Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor#}
                                            {#</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="time-update">#}
                                            {#<span>5, May 2014</span>#}
                                        {#</div>#}
                                        {#<div class="content-update">#}
                                            {#<p>#}
                                                {#<a href="#">Morbi nec nisi ante. </a>#}
                                                {#Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor#}
                                            {#</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="time-update">#}
                                            {#<span>5, May 2014</span>#}
                                        {#</div>#}
                                        {#<div class="content-update">#}
                                            {#<p>#}
                                                {#<a href="#">Morbi nec nisi ante. </a>#}
                                                {#Quisque lacus ligula,#}
                                                {#<a href="#">iaculis in elit et</a>#}
                                            {#</p>#}
                                            {#<ul class="list-content-update">#}
                                                {#<li>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, </li>#}
                                                {#<li>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, </li>#}
                                                {#<li>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, </li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="time-update">#}
                                            {#<span>5, May 2014</span>#}
                                        {#</div>#}
                                        {#<div class="content-update">#}
                                            {#<p>#}
                                                {#<a href="#">Morbi nec nisi ante. </a>#}
                                                {#Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor#}
                                            {#</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<div class="time-update">#}
                                            {#<span>5, May 2014</span>#}
                                        {#</div>#}
                                        {#<div class="content-update">#}
                                            {#<p>#}
                                                {#<a href="#">Morbi nec nisi ante. </a>#}
                                                {#Quisque lacus ligula,#}
                                                {#<a href="#">iaculis in elit et</a>#}
                                            {#</p>#}
                                        {#</div>#}
                                    {#</li>#}
                                {#</ul>#}
                                {#<div class="load-more">#}
                                    {#<a href="">#}
                                        {#<i class="icon md-time"></i>#}
                                        {#Load more previous update</a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- END / UPDATE LOG -->#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / COURSE TOP -->
{% endblock %}