{% extends '::base_ava_usuario_2.html.twig' %}
{% block body %}
    <div class="row">
        {% for item in contratos %}
            <div class="col-sm-12">
                <div class="mt20">
                    <div class="box">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                                            <span class="servicedrop fa fa-caret-down"></span> {{ item.idCurso.titulo }}
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapse_{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="box-body table-responsive no-padding">
                                            {% if item.idCurso.idTabelaPreco.valor == 0 %}
                                                <div class="alert alert-success" role="alert">
                                                    O Curso <strong>{{ item.idCurso.titulo }}</strong> é gratuito.
                                                </div>
                                            {% else %}
                                                {% if item.Fatura|length > 0 %}
                                                    <table class="table table-hover">
                                                        {#{% if item.Fatura.vencimento|date('m') == 'now'|date('m') %}#}
                                                        <tr>
                                                            <th width="20%">Fatura</th>
                                                                {% if item.Fatura.status == 2 %}
                                                                <th width="20%">Pagamento</th>
                                                                {% else %}
                                                                <th width="20%">Vencimento</th>
                                                                {% endif %}
                                                            <th width="10%">Valor</th>
                                                            <th width="10%">Boleto</th>
                                                            <th width="10%">Status</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ item.Fatura.id }}</td>
                                                            <td>
                                                                {% if item.Fatura.status == 2 %}
                                                                    {{ item.Fatura.pagamentoData|date("d/m/Y") }}
                                                                {% else %}
                                                                    {{ item.Fatura.vencimento|date("d/m/Y") }}
                                                                {% endif %}
                                                            </td>
                                                            <td>{% if item.Fatura.status == 2 %}{{ item.Fatura.pagamentoValor|number_format(2, ',', '.') }}{% else %}{{ item.Fatura.valor|number_format(2, ',', '.') }}{% endif %}</td>
                                                            {% if item.Fatura.status == 1 %}
                                                                <td>
                                                                    <a href="{{ path("gerar_boleto", { idFatura : item.Fatura.id }) }}" target="_blank" class="btn btn-default">
                                                                        <span class="fa fa-barcode"></span> Imprimir
                                                                    </a>
                                                                </td>
                                                            {% else %}
                                                                <td style="padding-top: 15px !important;">
                                                                    <span class="label label-success">
                                                                        <span class="fa fa-exclamation-circle"></span> Indisponível
                                                                    </span>
                                                                </td>
                                                            {% endif %}
                                                            <td style="padding-top: 15px !important;">
                                                                {% if item.Fatura.status == 1 %}
                                                                    <span class="label label-warning">
                                                                        <span class="fa fa-exclamation-circle"></span> Em Aberto
                                                                    </span>
                                                                {% else %}
                                                                    <span class="label label-success">
                                                                        <span class="fa fa-check"></span> Pago
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <div class="alert alert-warning" role="alert">
                                                            <span class="fa fa-warning"></span> No momento a fatura do <strong>{{ item.idCurso.titulo }}</strong> está indisponível.
                                                        </div>
                                                    {% endif %}
                                                </table>
                                            {% endif %}
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
