{% extends '::base_ava_usuario.html.twig' %}
{% block bread %}
    <div class="apresentacao">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                    <div class="mb">
                        <iframe src="https://player.vimeo.com/video/120793536" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="destaque">
                        <div class="cabecalho">
                            <h2><span class="fa fa-video-camera"></span> Curso atual</h2>
                        </div>
                        <div class="titulo">
                            {{ Curso.titulo }}
                        </div>
                        <div class="subtitulo" style="margin: 0px 0px 10px 0px;">
                            ESTE CURSO FAZ PARTE DA GRADE CURRICULAR <br />
                            DO CURSO DE TEOLOGIA SISTEMÁTICA
                        </div>
                        <div class="conteudo">
                            {{ Curso.chamada|raw }}
                        </div>
                        <div class="titulo simples">
                            {% if Contrato %}
                                {% if Contrato[0].status == 1 %}
                                    <div style="color: #008d4c;">
                                        PAGO
                                    </div>
                                {% else %}
                                    <div style="color: red;">
                                        AGUARDANDO PAGAMENTO
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="detalhe mb">
                            <ul>
                                <li><span class="fa fa-calendar"></span> {{ Curso.duracao }} Dias de duração</li>
                                <li><span class="fa fa-dashboard"></span> {{ Curso.horaAula }} Horas/Aula</li>
                                <li><span class="fa fa-star"></span> {{ Curso.credito }} Créditos</li>
                            </ul>
                        </div>
                        <div class="mb" style="margin-top: 15px;">
                            {% if Contrato %}
                                <a href="{{ path('ava_aluno_curso', { 'idCurso' : Curso.id , 'slug' : Curso.slug }) }}" class="btn btn-success"> ACESSAR O CURSO</a>
                            {% endif %}
                        </div>
                        <div class="observacao">
                            Este curso tem início imediato
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
{% block body %}
    {% set error = app.session.flashbag.get('info') %}
    {% if error %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in error %}
                                {{ item|raw }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="mt">
                <div class="aluno_home mb20">
                    <h1>
                        Seja <br />
                        Bem <br/>
                        Vindo(a)
                    </h1>
                </div>
                <div>
                    <p>
                        Olá, {{ usuario["nome"]}}, graça e paz.
                    </p>
                    <blockquote>
                        <p>
                            "Esperamos que esteja bem em todas as coisas, e que tenha saúde, assim como vai bem a sua alma" 
                        </p>
                        <cite title="(III João 1:2)">(III João 1:2)</cite>
                    </blockquote>
                    <p>
                        É com imensa satisfação que lhe damos as boas vindas a Plataforma Teologia24horas do IBI (Instituto Bíblico Internacional), 
                        saiba que você está fazendo parte de uma das melhores Instituições de Ensino Teológico do Brasil, 
                        que se preocupa em transmitir a você, a melhor experiência técnica e pedagógica, 
                        através de um conteúdo teológico educacional, com qualidade e debaixo da unção do Espírito Santo.
                    </p>
                    <p>
                        Através do AVA (Ambiente Virtual de Aprendizagem) da Plataforma Teologia24horas do IBI (Instituto Bíblico Internacional), 
                        estaremos proporcionando para você, a melhor experiência do processo de ensino-aprendizagem, 
                        24h por dia, 7 dias por semana, 30 dias por mês e 365 dias por ano, onde são desenvolvidas atividades como: 
                    </p>
                    <p>
                    <ol>
                        <li>
                            Para nós do IBI é uma honra tê-lo como aluno(a), é um grande privilégio termos sido escolhido para prestar-lhe este serviço 
                            que exige absoluta competência e responsabilidade.
                        </li>
                        <li>
                            Temos orgulho pela relação de confiança que conseguimos estabelecer e 
                            estamos abertos para qualquer sugestão que possa melhorar ainda mais a prestação dos nossos serviços educacionais.
                        </li>
                        <li>
                            Se, por acaso, desagradarmos por conduta inconveniente de nossa parte ou mesmo da parte de algum de nossos colaboradores, 
                            temos a humildade de pedir-lhes perdão, manifestamos, imediatamente, a vontade de reparar tal erro e poder voltar a contar com a sua fidelidade e confiança.
                        </li>
                    </ol>
                    <p>
                        Tudo isso com objetivo de promover a formação, ascensão ministerial dos nossos alunos através de uma educação teológica de qualidade.
                    </p>
                    <p>
                        Sem mais pelo momento, desejamos que a sua trajetória, em direção ao conhecimento chegue com excelência e coroada de êxitos.
                    </p>
                    <p>
                        "Pois sabemos que aquele que busca a sabedoria encontra um tesouro e, com ele, 
                        uma porta aberta para enfrentar os desafios inerentes às mudanças e as transformações contemporâneas".
                    </p>
                    <p>
                        Seu amigo de sempre, Francisco Miranda <br />
                        Diretor do IBI (Instituto Bíblico Internacional) <br />
                        sac@teologia24horas.com.br
                </div>
            </div>
        </div>
    </div>
{% endblock %}
