{% extends '::base_ava_usuario_2.html.twig' %}
{% block body %}
    {% if cursosContratados %}
        <div class="row">
            <table class="table table-hover">
                {% for item in cursosContratados %}
                    <tr>
                        <td width="15%">
                            <a href="{{ path('ava_aluno_curso', { 'idCurso' : item['id']  , 'slug' : item['slug']  }) }}" title="Entrar" class="btn btn-success btn-block mt">
                                <i class="fa fa-video-camera"></i> Entrar
                            </a>
                        </td>
                        <td>
                            <h4 style="color: #777;">{{ item['titulo'] }}</h4>
                            <h4>
                                <small><span class="fa fa-calendar"></span> {{ item['duracao'] }} Dias de duração |
                                    <span class="fa fa-dashboard"></span> {{ item['hora_aula'] }} Horas/aulas |
                                    <span class="fa fa-star"></span> {{ item['credito'] }} Créditos
                                </small>
                            </h4>
                        </td>
                        {#<td valign="middle">#}
                            {#{% if item['status'] == 1 %}#}
                                {#Disponível#}
                            {#{% else %}#}
                                {#Indisponível#}
                            {#{% endif %}#}
                        {#</td>#}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}