{% extends '::base_ava_usuario_2.html.twig' %}
{% block body %}
    <div class="row">
        {% if contratos %}
        <div class="row">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Curso</th>
                        <th>Média</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in contratos %}
                        <tr>
                            <td>
                                <div class="mt20">{{ loop.index }}</div>
                            </td>
                            <td><h3>{{ item.idCurso.titulo }}</h3></td>
                            {% if  item.notas|length > 0 %}
                                <td>
                                    <div class="mt30">
                                        {{ item.notas[0].media|number_format(2, ",", ".") }}
                                    </div>
                                </td>
                                <td>
                                    <div class="mt30">
                                        {% if item.notas[0].media >= 7 %}
                                            <span class="label label-primary"><span class="fa fa-check"></span> Aprovado</span>
                                        {% else %}
                                            <span class="label label-danger"><span class="fa fa-close"></span> Reprovado</span>
                                        {% endif %}
                                    </div>
                                </td>
                            {% else %}
                                <td colspan="2">
                                    <div class="mt30">
                                        <span class="label label-warning"><span class="fa fa-warning"></span> Nota indisponível</span>
                                    </div>
                                </td>
                            {%  endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Atenção:</span>
                    Não existem notas disponíveis
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}