{% extends 'front.html.twig' %}
{% block body %}
    <section class="sub-banner sub-banner-course mt70">
        <div class="awe-static bg-sub-banner-course"></div>
        <div class="container">
            <div class="sub-banner-content">
                <h2 class="text-center"><span class='fa fa-graduation-cap'></span> {{ titulo }}</h2>
            </div>
        </div>
    </section>

    <!-- COURSE -->
    <section class="course-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="sidebar-course-intro">
                        <!-- breadcrumbs -->
                        <div class="breadcrumb mt30 mb20">
                            <a href="{{ path('home_homepage') }}">Home</a> /
                            <a href="{{ path('front_cursos') }}">Cursos</a> / {{ titulo }}
                        </div>
                        <div class="video-course-intro">
                            <div class="inner">
                                <div class="video embed-responsive embed-responsive-16by9">
                                    <iframe src="{{introducao.link}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="price">
                                <i class="fa fa-shopping-cart"></i> {{Curso.idTabelaPreco.valor|number_format(2, ',', '.')}}
                            </div>
                            <a href="{{ path('ava_aluno_contratar_carrinho_compra', { 'idCurso' : Curso.id, 'slug' : Curso.slug }) }}" class="btn-style-1" >
                            	<!--class="take-this-course  mc-btn btn-style-1"--> 
                                <i class="fa fa-shopping-cart"></i> Adquirir Curso
                            </a>
                        </div>
                        <div class="new-course">
                            <div class="item course-code">
                                <i class="icon md-barcode"></i>
                                <h4><a href="#">Curso</a></h4>
                                <p class="detail-course"># {{ Curso.idCursoCategoria.id }}.{{ Curso.id }}</p>
                            </div>
                            <div class="item course-code">
                                <i class="icon md-time"></i>
                                <h4><a href="#">Duração</a></h4>
                                <p class="detail-course">{{ Curso.duracao }} Dias</p>
                            </div>
                            <div class="item course-code">
                                <i class="icon md-img-check"></i>
                                <h4><a href="#">Status</a></h4>
                                <p class="detail-course">Disponível</p>
                            </div>
                        </div>
                        <hr class="line">
{#                         <div class="about-instructor">#}
{#                             <h4 class="xsm black bold">About Instructor</h4>#}
{#                             <ul>#}
{#                                 <li>#}
{#                                     <div class="image-instructor text-center">#}
{#                                         <img src="images/team-13.jpg" alt="">#}
{#                                     </div>#}
{#                                     <div class="info-instructor">#}
{#                                         <cite class="sm black"><a href="#">John Doe</a></cite>#}
{#                                         <a href="#"><i class="fa fa-star"></i></a>#}
{#                                         <a href="#"><i class="fa fa-envelope"></i></a>#}
{#                                         <a href="#"><i class="fa fa-check-square"></i></a>#}
{#                                         <p>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor eget imperdiet libero</p>#}
{#                                     </div>#}
{#                                 </li>#}
{#                                 <li>#}
{#                                     <div class="image-instructor">#}
{#                                         <img src="images/team-13.jpg" alt="">#}
{#                                     </div>#}
{#                                     <div class="info-instructor">#}
{#                                         <cite class="sm black"><a href="#">John Doe</a></cite>#}
{#                                         <a href="#"><i class="fa fa-envelope"></i></a>#}
{#                                         <a href="#"><i class="icon md-user-plus"></i></a>#}
{#                                         <p>Morbi nec nisi ante. Quisque lacus ligula, iaculis in elit et, interdum semper quam. Fusce in interdum tortor. Ut sollicitudin lectus dolor eget imperdiet libero</p>#}
{#                                     </div>#}
{#                                 </li>#}
{#                             </ul>#}
{#                         </div>#}
						<div class="widget widget_share">
                            <i class="icon md-forward"></i>
                            <h4 class="xsm black bold">Compartilhar Curso</h4>
                            <div class="share-body">
                                <a href="http://twitter.com/teologia24horas" class="twitter" title="twitter">
                                    <i class="icon md-twitter"></i>
                                </a>
                                <a href="https://www.facebook.com/IBITeologia24horas-1426385264349971/?ref=hl" class="facebook" title="facebook">
                                    <i class="icon md-facebook-1"></i>
                                </a>
                                <a href="https://plus.google.com/u/0/109842462788785565102" class="google-plus" title="google plus">
                                    <i class="icon md-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tabs-page">
                        <ul class="nav-tabs" role="tablist">
                            <li class="active"><a href="#introduction" role="tab" data-toggle="tab">Introdução</a></li>
                            <li><a href="#outline" role="tab" data-toggle="tab">Grade</a></li>
							{#<li><a href="#review" role="tab" data-toggle="tab">Review</a></li>#}
                            <li><a href="#student" role="tab" data-toggle="tab">Alunos</a></li>
							{#<li><a href="#conment" role="tab" data-toggle="tab">Conment</a></li>#}
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- INTRODUCTION -->
                            <div class="tab-pane fade in active" id="introduction">
                                <h4 class="sm black bold">Descrição</h4>
                                {{ Curso.descricao|raw }}
                                <h4 class="sm black bold">Área de Atuação</h4>
                                {{ Curso.areaAtuacao|raw }}
                                <h4 class="sm black bold">Público Alvo</h4>
                                {{ Curso.publicoAlvo|raw }}
                                <h4 class="sm black bold">Objetivo</h4>
                                {{ Curso.objetivo|raw }}
                                <h4 class="sm black bold">Tutoria</h4>
                                {{ Curso.tutoria|raw }}
                                <h4 class="sm black bold">Material Didático</h4>
                                {{ Curso.materialDidatico|raw }}
                                <h4 class="sm black bold">Tecnologia</h4>
                                {{ Curso.tecnologia|raw }}
                            </div>
                            <!-- OUTLINE -->
                            <div class="tab-pane fade" id="outline">
                                <!-- SECTION OUTLINE -->
                                <div class="section-outline">
                                	{% for item in Curso.disciplina %}
                                	 	<h4 class="tit-section xsm">{{ item.titulo }}</h4>
                                	 	<ul class="section-list">
                                	 	{% for aula in item.conteudoAula %}
                                	 		<li>
	                                            <div class="count"><span>{{ loop.index }}</span></div>
	                                            <div class="list-body">
	                                            	{% if aula.tipoConteudo == 1 and aula.tipoConteudo == 2 %}
	                                                <i class="icon md-camera"></i>
	                                                {% elseif aula.tipoConteudo == 3 %}
	                                                <i class="icon md-download-1"></i>
	                                                {% elseif aula.tipoConteudo == 4 %}
	                                                <i class="icon md-pencil"></i>
	                                                {% endif %}
	                                                <p><a href="#">{{ aula.titulo }}</a></p>
	                                                <div class="data-lessons">
	                                                    <span>{{ aula.duracao }}</span>
	                                                </div>
	                                            </div>
	                                        </li>
                                	 	{% endfor %}
                                	 	</ul>
                                	{% endfor %}
                                </div>
                                <!-- END / SECTION OUTLINE -->
                            </div>
                            <!-- STUDENT -->
                            <div class="tab-pane fade" id="student">
                                <h3 class="md black">{{ alunos|length }} Pessoas que compraram o curso</h3>
                                <div class="tab-list-student">
                                    <ul class="list-student">
                                        <!-- LIST STUDENT -->
                                        {% for item in alunos %}
                                        <li>
                                            <div class="image">
                                            	{% if item.foto == "" %}
                                            		{% if item.pfSexo == 1 %}
                                            		<img src="{{ asset('files/usuarios/user.png') }}" alt="{{ item.pfNome }}">
                                            		{% else %}
                                            		<img src="{{ asset('files/usuarios/user_woman.png') }}" alt="{{ item.pfNome }}">
                                            		{% endif %}
                                            	{% else %}
                                                <img src="{{ asset('files/usuarios/' ~ item.foto) }}" alt="{{ item.pfNome }}">
                                                {% endif %}
                                            </div>
                                            <div class="list-body">
                                                <cite class="xsm"><a href="#">{{ item.pfNome }}</a></cite>
												{#<span class="address">{{ item.endereco.cidade }}/{{ item.endereco.estado }}</span>#}
												{#<div class="icon-wrap">#}
													{#<a href="#"><i class="icon md-email"></i></a>#}
													{#<a href="#"><i class="icon md-user-plus"></i></a>#}
												{#</div>#}
                                            </div>
                                        </li>	 
                                        {% endfor %}
                                        <!-- END / LIST STUDENT -->
                                    </ul>
                                </div>
{#                                 <div class="load-more">#}
{#                                     <a href="">#}
{#                                     <i class="icon md-time"></i>#}
{#                                     Visualizar mais pessoas</a>#}
{#                                 </div>#}
                            </div>
                            <!-- END / STUDENT -->
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "AmbienteAlunoBundle:Curso:cadastro.html.twig"  %}
    {% include "HomeBundle:Home:cursos2.html.twig" %}
{% endblock %}