/*.navbar-default:after{
    background:#363435;
}
 Hover Menu 
.navbar-default .navbar-nav>li>a:hover{
    background:#709F42!important;
}

.navbar-default .item_sub:hover ul li a{
    background:#16a085;
}
.navbar-default .item_sub:hover > a,
.navbar-default .item_sub:hover ul li a:hover{
    background:#0e8b73;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
    background-color: #0e8b73;
}
.carrinho:hover > a{
    background:#0e8b73!important;
}

 Bodar Topo Carrinho e Notificações 
.carrinho:hover .itens_carrinho{
    border:1px #16a085 solid;
    border-top:none;
}

 Botão Personalizado 
.btn-custom{
    background-color: #e98d21;
    border-color: #e98d21;
    color:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #E46F19;
    border-color: #E46F19;
    color:#fff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #16a085;
    border-color: #16a085;
}

 Bg Sobre Tutor 
.sobre_tutor{
    background:#16a085;
}
.sobre_tutor:after{
    border-color: rgba(26, 117, 206, 0);
    border-bottom-color: #16a085;
}


 Rodapé 
 Ícones 
.rodape .siga a i{
    color:#16a085;
}

@media(min-width:320px) and (max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        background-color:#16a085;

    }
}
@media(min-width:768px) and (max-width:991px){
    .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
        font-size: 16px !important;
    }
}*/