* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
}
.macbook{
    background-image: url(/landpage/img/macbook1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    top:20px;
}
.faixa-amarela{
    position: relative;
    float: left;
    padding-top: 2px;
    margin:0;
    width: 100%;
    background-color: #FFCC29;
    text-align: center;
}
.faixa-amarela  label{
    text-align: left !important;
}
.grupo_coluna, .coluna {
    position: relative;
    float: left;
    margin:0px;
    width: 100%;
}
.grupo_coluna_titulo {
    padding: 10px 0px 3px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFF;
    width: auto;
}
.grupo_coluna {
    padding: 10px 0px;
    border-radius: 5px;
    background-color: #FFF;
}
.coluna {
    padding: 20px 0px 10px 0px;
    border-radius: 5px;
    background-color: #00aff0;
    height: 210px;
}
small {
    font-family: 'Roboto';
    font-size: 10px;
}
.brand {
    background-image: url("/landpage/img/bg01.png");
}
.brand2{
    background-image: url("/landpage/img/bg02.png");
}
.brand3{
    background-image: url("/landpage/img/bg03.png");
}
@media (max-width: 767px){
    .brand, .brand2, .brand3{
        background-repeat: no-repeat;
        background-size: cover;

        padding: 5% 10%;
        position: relative;
        float: left;
        margin: 0 10%;

        width: 80%;
    }
    .brand {
        background-image: url("/landpage/img/bg01.png");
    }
    .brand2{
        background-image: url("/landpage/img/bg02.png");
    }
    .brand3{
        background-image: url("/landpage/img/bg03.png");
    }
    .macbook{
        height: 465px;
    }
    .titulo-landpage{
        font-size: 300%;
        padding: 30px 10px;
        text-align: center;
    }
    .chamada-landpage{
        font-size: 150%;
        padding: 30px 10px;
        text-align: center;
    }
    .subtitulo-landpage{
        font-size: 120%;
        padding: 30px 10px;
        text-align: center;
    }
    .normal-landpage{
        
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .brand, .brand2, .brand3 {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;

        padding: 10px 40px 33px;
        position: relative;
        top: 0px;
        left: 115px;

        width: 380px;
        height: auto;
    }
    .box-sm{
        position: relative;
        float: left;
        margin-top: 28px; 
        margin-left: 63px; 
        width: 597px;
        height: 374px;
    }
    .macbook{
        height: 465px;
    }
    .titulo-landpage{
        font-size: 59px;
        padding: 30px 10px;
        text-align: center;
    }
    .chamada-landpage{
        font-size: 30px;
        padding: 30px 10px;
        text-align: center;
    }
    .subtitulo-landpage{
        font-size: 20px;
        padding: 30px 10px;
        text-align: center;
    }
    .normal-landpage{
        
        font-size: 14px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .brand, .brand2, .brand3 {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;

        padding: 15px 50px 34px;
        position: relative;
        top: 0px;
        left: 200px;

        width: 370px;
        height: auto;
    }
    .box-md{
        position: relative;
        float: left;
        margin-top: 50px; 
        margin-left: 85px; 
        width: 773px;
        height: 486px;
    }
    .macbook{
        height: 630px;
    }
    .titulo-landpage{
        
        font-size: 30px;
    }
    .chamada-landpage{
        
        font-size: 25px;
    }
    .subtitulo-landpage{
        
        font-size: 18px;
    }
    .normal-landpage{
        
        font-size: 12px;
    }
}
@media (min-width: 1200px) and (max-width: 1920px){
    .brand, .brand2, .brand3 {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;

        padding: 25px 65px 40px;
        position: relative;
        top: 0px;
        left: 220px;

        width: 500px;
        height: auto;
    }
    .box-lg{
        position: relative;
        float: left;
        margin-top: 70px; 
        margin-left: 105px; 
        width: 934px;
        height: 586px;
    }
    .macbook{
        height: 900px;
    }
    .titulo-landpage{
        
        font-size: 50px;
    }
    .chamada-landpage{
        
        font-size: 25px;
    }
    .subtitulo-landpage{
        
        font-size: 18px;
    }
    .normal-landpage{
        
        font-size: 14px;
    }
}

.mt {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mtButton {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt70 {
    margin-top: 70px;
}

.mt_box {
    margin-top: 80px;
}

.mb {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.form ul {
    margin: 0px;
    padding:0px;
    list-style: none;
}

.form li {
    color: #333;
}