.primeira_etapa {
    background: #a9cf46;
}
.primeira_etapa .apresentacao {
    background: none;
}
.apresentacao .chamada strong, .apresentacao .chamada h3{
    color: #FFF;
}
.apresentacao .chamada p {
    color: #000;
}
.apresentacao .chamada h3 {
    font-size: 36px;
}
.apresentacao .chamada p, .apresentacao .chamada strong {
    font-size: 20px;
}
.apresentacao .chamada span {
    color: #000;
}
.btn_cadastro {
    background: #709f42;
    color: #ffffff;
    text-decoration: none;
}
.btn_cadastro:hover {
    background: #ffffff;
    color: #709f42;
    text-decoration: none;
}
.box {
    position: relative;
    float: left;
    margin: 0px;
    padding: 20px 0px;
    width: 100%;

    background: #FFF;
    border-radius: 5px;
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;

}
.primeira_etapa .apresentacao {
    text-align: center;
}
/* Hover Menu */
.usuario .navbar-default .navbar-nav>li>a:hover{
    color:#333 !important;
    background:#f2f2f2 !important;
}
