
/* latin */
@font-face {
  font-family: 'Roboto';
  src: url(font/Roboto-Thin.ttf) format('truetype');
  font-style: normal;
  font-weight: 100;
  //unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  src: url(font/Roboto-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
  //unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
