{% extends "AdminBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('admin_curso_forum_visualizar', { 'idCurso' : idCurso, 'id': entity.idForum.id  })}}"><span class="fa fa-search"></span> Visualizar Fórum</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_listar', {'idCurso' : idCurso })}}"><span class="fa fa-search"></span> Listar Fórum</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_item_listar', { 'idForum' : entity.idForum.id }) }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
{% endblock %}