{% extends "AdminBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Aluno</td>
            <td>{{ entity.idContrato.idPessoa.pfNome }}</td>
        </tr>
        <tr>
            <td>Curso</td>
            <td>{{ entity.idContrato.idCurso.titulo }}</td>
        </tr>
        <tr>
            <td>Fórum</td>
            <td>{{ entity.idForum.tema }}</td>
        </tr>
        <tr>
            <td>Post</td>
            <td>{{ entity.comentario }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('admin_curso_forum_visualizar', { 'idCurso' : idCurso, 'id': entity.idForum.id  })}}"><span class="fa fa-search"></span> Visualizar Fórum</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_listar', {'idCurso' : idCurso })}}"><span class="fa fa-search"></span> Listar Fórum</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_item_listar', { 'idForum' : entity.idForum.id }) }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_item_atualizar', { 'idForum' : entity.idForum.id, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('admin_curso_forum_item_delete', { 'idForum' : entity.idForum.id, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}