{% extends '::base_ava_usuario_2.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            {#<div class="form-group mt20">
                <a href="http://www.buscacep.correios.com.br/servicos/dnec/index.do" class="iframe" target="_blank" ><img src="{{ asset('ava/img/busca.gif') }}"  /></a>
            </div>#}
            {{ form_start(form) }}
            {% if errors %}
                <div class="mt20 mb20">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Atenção</h4> 
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        {#function getEndereco(cep) {
            if (cep != "") {
                $.ajax({
                    url: "/admin/Pessoa/Endereco/getCEP/",
                    type: 'post',
                    data: {
                        "cep": cep
                    },
                    beforeSend: function () {
                        $(".carregando").show('slow');
                    },
                    success: function (data) {
                        $(".endereco").html(data.endereco);
                        $("input[name='ava_endereco[bairro]']").val(data.bairro);
                        $("input[name='ava_endereco[numero]']").val();
                        $("input[name='ava_endereco[complemento]']").val();

                        alterarCampos(data.pais, data.uf, data.cidade);

                        $(".pais").val(data.pais);
                    },
                    complete: function () {
                        $(".carregando").hide();
                    },
                    error: function () {
                        console.log('Não foi possível efetuar requisição');
                    }
                });
                return false;
            } else {
                $("#dados").hide('slow');
            }
        }#}
        function alterarCampos(pais, estado, cidade) {
            if (pais != 'Brasil') {
                $(".endereco").html('');
                //$("input[name='ava_endereco[cep]']").val('');
                //$("input[name='ava_endereco[bairro]']").val('');
                $('.uf').replaceWith('<input type="text" name="ava_endereco[estado]" class="form-control mb uf" placeholder="Insira o Estado" />');
                $('.cidade').replaceWith('<input type="text" name="ava_endereco[cidade]" class="form-control mb cidade" placeholder="Insira a Cidade" />');
                return;
            }
            $('.uf').replaceWith('<select name="ava_endereco[estado]" class="form-control mb uf"><option value="">[Selecione o Estado]</option></select>');
            $('.cidade').replaceWith('<select name="ava_endereco[cidade]" class="form-control mb cidade"><option value="">[Selecione a cidade]</option></select>');

            carregarEstados(pais, estado, cidade);
        }
        function carregarEstados(pais, estado, cidade) {
            if (pais != 'Brasil') {
                return;
            }
            $.ajax({
                url: "/admin/Pessoa/Endereco/getUF/",
                type: 'post',
                data: {
                    "param": pais
                },
                beforeSend: function () {
                    $(".carregando").show('slow');
                },
                success: function (data) {
                    var options = "";
                    if (estado) {
                        $.each(data, function (key, value) {
                            if (estado === value.uf) {
                                options += '<option value="' + value.uf + '" selected>' + value.estado + '</option>';
                            }
                            carregarCidade(estado, cidade);
                        });
                    } else {
                        $.each(data, function (key, value) {
                            options += '<option value="' + value.uf + '">' + value.estado + '</option>';
                        });
                        carregarCidade(data[0].uf, cidade);
                    }
                    $(".uf").html(options);
                },
                complete: function () {
                    $(".carregando").hide();
                },
                error: function () {
                    console.log('Não foi possível efetuar requisição');
                }
            });
            return false;
        }
        function carregarCidade(uf, cidade) {
            $.ajax({
                url: "/admin/Pessoa/Endereco/getCidades/",
                type: 'post',
                data: {
                    "param": uf
                },
                beforeSend: function () {
                    $(".carregando").show('slow');
                },
                success: function (data) {
                    var options = "";
                    $.each(data, function (key, value) {
                        if (cidade === value.cidade) {
                            console.log(cidade);
                            options += '<option value="' + value.cidade + '" selected>' + value.cidade + '</option>';
                        } else {
                            options += '<option value="' + value.cidade + '">' + value.cidade + '</option>';
                        }
                    });
                    $(".cidade").html(options);
                },
                complete: function () {
                    $(".carregando").hide();
                },
                error: function () {
                    console.log('Não foi possível efetuar requisição');
                }
            });
            return false;
        }
        $(document).ready(function () {
            var pais = $('.pais option:selected').val();

            alterarCampos(pais);

            $('.pais').change(function () {
                var pais = $('.pais option:selected').val();

                alterarCampos(pais);
            });

            $('body').on('change', '.uf', function () {
                var uf = $('.uf option:selected').val();

                carregarCidade(uf);
            });

            {#$('.cep').on('focusout', function () {
                var cep = $("input[name='ava_endereco[cep]']").val();

                getEndereco(cep);
            });#}

            $(".iframe").colorbox({iframe: true, escKey: false, width: "80%", height: "80%", overlayClose: false});
        });
    </script>
{% endblock %}


