{% extends '::base_ava_usuario_2.html.twig' %}

{% block body %}
    <div class="row">
        <div class="mt20">
            <div class="col-lg-10 col-sm-10 col-xs-11 col-md-11">
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Importante </h4> 
                    <ol>
                        <li>Se você deseja trocar o seu email de login em nossa plataforma, informe abaixo, o seu novo email.</li>
                        <li>Quando você confirmar, o seu login e todos os e-mails serão enviados para este endereço especificado abaixo.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt20">
            <div class="col-lg-10 col-sm-10 col-xs-11 col-md-11">
                {{ form_start(form) }}
                {% if errors %}
                    <div class="mb20">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            <ol>
                                {% for item in errors %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}


