{% extends '::base_ava_usuario_2.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="mt20">
                <div class="alert alert-info">
                    <i class='icon-exclamation'></i> <strong>Importante</strong> <br />
                    Sua senha existe para que ninguém tenha acesso a seus arquivos pessoais.<br />
                    Para garantir sua segurança, crie uma senha difícil de adivinhar.<br />
                    <ul>
                        <li>Máximo de 8 caracteres</li>
                        <li>Não utilize informações óbvias (nome, data de nascimento ou número da identidade, por exemplo)</li>
                        <li>Não é permitido usar o e-mail como senha</li>
                        <li>Não informe sua senha a ninguém.</li>
                    </ul>
                </div>
            </div>
            <div class="mt20">
                {{ form_start(edit_form) }}
                {% if errors %}
                    <div class="mb20">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(edit_form) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}


