{% extends '::base_ava_usuario_2.html.twig' %}

{% block body %}
    <div class="row">
        <div class="mt20">
            <div class="col-lg-2 col-sm-2 col-xs-1 col-md-1">
                {% if usuario['foto'] %}
                    <a href="#" class="thumbnail">
                        <img src="/files/usuarios/{{ usuario['foto'] }}" />
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-10 col-sm-10 col-xs-11 col-md-11">
                {{ form_start(edit_form) }}
                {% if errors %}
                    <div class="mb20">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(edit_form) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}


