{% extends '::base_ava_usuario_2.html.twig' %}
{% block section_top %}{% endblock %}
{% block body %}
    <div id="mensagem" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Atualização de Cadastro</h4>
                </div>
                <div class="modal-body">
                    <p>
                        O seu cadastro foi atualizado com sucesso. 
                    </p>
                    <p>
                        A partir de agora, o seu novo login é <span id="email_atualizado">#</span><br />
                        Entre através da nossa Área Exclusiva, localizado no <strong style="color: #ec3237;">cabeçalho do site</strong>.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('ambiente_usuario_homepage_gerenciar_logout') }}" class="btn btn-warning">
                        <span class="fa fa-sign-out"></span> Sair
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="mt20">
                {{ form_start(form) }}
                {% if errors %}
                    <div class="mb20">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(form) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_end(form) }}
                {% set ava = app.session.get('ava') %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        {#function getEndereco(cep) {
            if (cep != "") {
                $.ajax({
                    url: "/admin/Pessoa/Endereco/getCEP/",
                    type: 'post',
                    data: {
                        "cep": cep
                    },
                    beforeSend: function () {
                        $(".carregando").show('slow');
                    },
                    success: function (data) {
                        $(".endereco").html(data.endereco);
                        $("input[name='ava_perfil[bairro]']").val(data.bairro);
                        $("input[name='ava_perfil[numero]']").val();
                        $("input[name='ava_perfil[complemento]']").val();

                        alterarCampos(data.pais, data.uf, data.cidade);

                        $(".pais").val(data.pais);
                    },
                    complete: function () {
                        $(".carregando").hide();
                    },
                    error: function () {
                        console.log('Não foi possível efetuar requisição');
                    }
                });
                return false;
            } else {
                $("#dados").hide('slow');
            }
        }#}
        function alterarCampos(pais, estado, cidade) {
            if (pais != 'Brasil') {
                $(".endereco").html('');
                //$("input[name='ava_perfil[cep]']").val('');
                //$("input[name='ava_perfil[bairro]']").val('');
                $('.uf').replaceWith('<input type="text" name="ava_perfil[estado]" class="form-control mb uf" placeholder="Insira o Estado" />');
                $('.cidade').replaceWith('<input type="text" name="ava_perfil[cidade]" class="form-control mb cidade" placeholder="Insira a Cidade" />');
                return;
            }
            $('.uf').replaceWith('<select name="ava_perfil[estado]" class="form-control mb uf"><option value="">[Selecione o Estado]</option></select>');
            $('.cidade').replaceWith('<select name="ava_perfil[cidade]" class="form-control mb cidade"><option value="">[Selecione a cidade]</option></select>');

            carregarEstados(pais, estado, cidade);
        }
        function carregarEstados(pais, estado, cidade) {
            if (pais != 'Brasil') {
                return;
            }
            $.ajax({
                url: "/admin/Pessoa/Endereco/getUF/",
                type: 'post',
                data: {
                    "param": pais
                },
                beforeSend: function () {
                    $(".carregando").show('slow');
                },
                success: function (data) {
                    var options = "";
                    if (estado) {
                        $.each(data, function (key, value) {
                            if (estado === value.uf) {
                                options += '<option value="' + value.uf + '" selected>' + value.estado + '</option>';
                            }
                            carregarCidade(estado, cidade);
                        });
                    } else {
                        $.each(data, function (key, value) {
                            options += '<option value="' + value.uf + '">' + value.estado + '</option>';
                        });
                        carregarCidade(data[0].uf, cidade);
                    }
                    $(".uf").html(options);
                },
                complete: function () {
                    $(".carregando").hide();
                },
                error: function () {
                    console.log('Não foi possível efetuar requisição');
                }
            });
            return false;
        }
        function carregarCidade(uf, cidade) {
            $.ajax({
                url: "/admin/Pessoa/Endereco/getCidades/",
                type: 'post',
                data: {
                    "param": uf
                },
                beforeSend: function () {
                    $(".carregando").show('slow');
                },
                success: function (data) {
                    var options = "";
                    $.each(data, function (key, value) {
                        if (cidade === value.cidade) {
                            console.log(cidade);
                            options += '<option value="' + value.cidade + '" selected>' + value.cidade + '</option>';
                        } else {
                            options += '<option value="' + value.cidade + '">' + value.cidade + '</option>';
                        }
                    });
                    $(".cidade").html(options);
                },
                complete: function () {
                    $(".carregando").hide();
                },
                error: function () {
                    console.log('Não foi possível efetuar requisição');
                }
            });
            return false;
        }
        $(document).ready(function () {
            var pais = $('.pais option:selected').val();

            alterarCampos(pais);

            $('.pais').change(function () {
                var pais = $('.pais option:selected').val();

                alterarCampos(pais);
            });

            $('body').on('change', '.uf', function () {
                var uf = $('.uf option:selected').val();

                carregarCidade(uf);
            });

            {#$('.cep').on('focusout', function () {
                var cep = $("input[name='ava_perfil[cep]']").val();

                getEndereco(cep);
            });#}

            $(".iframe").colorbox({iframe: true, escKey: false, width: "80%", height: "80%", overlayClose: false});
        });
    </script>
{% endblock %}