{% extends '::front.html.twig' %}
{% block body %}
    <div class="mt70">
        <div class="container">
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
                    <div class="mt20">
                        <div class="alert alert-info">
                            <i class='icon-exclamation'></i> <strong>Importante</strong> <br />
                            Sua senha existe para que ninguém tenha acesso a seus arquivos pessoais.<br />
                            Para garantir sua segurança, crie uma senha difícil de adivinhar.<br />
                            <ul>
                                <li>Máximo de 8 caracteres</li>
                                <li>Não utilize informações óbvias (nome, data de nascimento ou número da identidade, por exemplo)</li>
                                <li>Não é permitido usar o e-mail como senha</li>
                                <li>Não informe sua senha a ninguém.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt20">
                        <form id="frm" method="post" action="{{ path('gerenciar_senha_redefinir', {'id' : id}) }}" >
                            {% if errors %}
                                <div class="mb20">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4>Atenção</h4> 
                                        <ul>
                                            {% for item in errors %}
                                                <li>{{ item }}</li>
                                                {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input name="senha" type="password" class="form-control" id="confirma_senha" placeholder="Informe a senha">
                            </div>
                            <div class="form-group">
                                <label for="confirma_senha">Confirmar Senha:</label>
                                <input name="confirma_senha" type="password" class="form-control" id="confirma_senha" placeholder="Repita a senha">
                            </div>
                            <div class="form-group">
                                <label for="dica_senha">Dica de Senha:</label>
                                <input name='dica_senha' type="text" class="form-control" id="dica_senha" placeholder="Informe a dica de senha">
                            </div>
                            <button name='submit' type="submit" value="submit" class="btn btn-primary"><span class='fa fa-pencil'></span> Atualizar Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block boleto %}
{% endblock%}

