{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Matricula</td>
                                    <td>{{ entity.matricula }}</td>
                                </tr>
                                <tr>
                                    <td>Datacadastro</td>
                                    <td>{{ entity.dataCadastro|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Datacontratacao</td>
                                    <td>{{ entity.dataContratacao|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Valorcontratado</td>
                                    <td>{{ entity.valorContratado }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica_show', { 'id' : idPessoa }) }}">
                <span class="fa fa-search"></span> Retornar para pessoa
            </a>
            <a class="btn btn-default" href="{{ path('Contrato_edit', { 'idPessoa' : idPessoa, 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
