{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Nome do Curso</td>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Slug</td>
                                    <td>{{ entity.slug }}</td>
                                </tr>
                                <tr>
                                    <td>Destaque</td>
                                    <td>{{ entity.destaque|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Quantidade de Parcelas</td>
                                    <td>{{ entity.quantidadeParcela }}</td>
                                </tr>
                                <tr>
                                    <td>Valor</td>
                                    <td>{{ entity.valor|number_format(2, ',', '.')  }}</td>
                                </tr>
                                <tr>
                                    <td>Apresentação</td>
                                    <td>{{ entity.apresentacao }}</td>
                                </tr>
                                <tr>
                                    <td>Chamada</td>
                                    <td>{{ entity.chamada|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Descrição</td>
                                    <td>{{ entity.descricao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Objetivo</td>
                                    <td>{{ entity.objetivo|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Área de Atuação</td>
                                    <td>{{ entity.areaAtuacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Publico Alvo</td>
                                    <td>{{ entity.publicoAlvo|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Material Didático</td>
                                    <td>{{ entity.materialDidatico|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Certificação</td>
                                    <td>{{ entity.certificacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Avaliação</td>
                                    <td>{{ entity.avaliacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Tutoria</td>
                                    <td>{{ entity.tutoria|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Tecnologia</td>
                                    <td>{{ entity.tecnologia|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
            <a class="btn btn-default" href="{{ path('Curso_Ofertado') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="btn btn-primary mb20" href="{{ path ("Curso_Ofertado_Ligacao_new", {"idCursoOfertado": entity.id}) }}">
                <span class="fa fa-plus"></span> Adicionar Curso ao Pacote
            </a>
            {% if cursos %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Posição</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for curso in cursos %}
                                        <tr>

                                            <td>
                                                {{ curso.idCurso.titulo }}
                                            </td>
                                            <td>
                                                {{ curso.ordem }}
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Curso_Ofertado_Ligacao_edit", {"idCursoOfertado": entity.id , "id": curso.id }) }}"><span class="fa fa-edit"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="btn btn-primary mb20" href="{{ path('Pacote_Item_new', { 'idCursoOfertado': entity.id }) }}">
                <span class="fa fa-plus"></span> Adicionar Item
            </a>
            {% if itens %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Valor</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in itens %}
                                        <tr>
                                            <td>
                                                {{ item.titulo }}  
                                            </td>
                                            <td>
                                                {{ item.valor|number_format(2, ',', '.') }}  
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Pacote_Item_edit", {"idCursoOfertado": entity.id , "id": item.id }) }}"><span class="fa fa-edit"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a class="btn btn-primary mb20" href="{{ path('Pacote_Imagem_new', { 'idCursoOfertado': entity.id }) }}">
                <span class="fa fa-image"></span> Adicionar Imagem
            </a>
            {% if imagens %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for imagem in imagens %}
                                        <tr>
                                            <td>
                                                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                                    {{ imagem.returnTipo() }}
                                                    <img src="/files/cursos/{{ imagem.imagem }}" class="thumbnail mt" width="300px      "/>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Pacote_Imagem_edit", {"idCursoOfertado": entity.id , "id": imagem.id }) }}"><span class="fa fa-edit"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
