{% extends "AdminBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso })}}"><span class="fa fa-search"></span> Visualizar Curso</a>
    <a class="btn btn-default" href="{{ path('Curso')}}"><span class="fa fa-search"></span> Listar Cursos</a>
    <a class="btn btn-default" href="{{ path('Disciplina_show', { 'idCurso' : idCurso, 'id' : idDisciplina})}}"><span class="fa fa-search"></span> Visualizar Disciplina</a>
    <a class="btn btn-default" href="{{ path('Disciplina_Aula_show', { 'idCurso' : idCurso, 'idDisciplina' : idDisciplina, 'id' : idAula })}}"><span class="fa fa-search"></span> Visualizar Aula</a>
    <a class="btn btn-default" href="{{ path('admin_aula_questao_listar', { 'idAula' : idCurso}) }}"><span class="fa fa-list-ul"></span> Listar Questões</a>
{% endblock %}