{% extends "AdminBundle:Default:list.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block kit_grid_thead_column %}
    <th>Opções</th>
{% endblock %}
{% block kit_grid_tbody_column %}
    <td>
        <div class="btn-group">
            <a class="btn btn-default"
               href="{{ path ("admin_aula_questao_atualizar", { 'idAula' : idAula, "id": item['item.id']}) }}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="btn btn-default" href="{{ path ("admin_aula_questao_visualizar", { 'idAula' : idAula, "id": item['item.id']}) }}">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
    </td>
{% endblock %}