{% extends "AdminBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Tema</td>
            <td>{{ entity.questao }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso })}}"><span class="fa fa-search"></span> Visualizar Curso</a>
    <a class="btn btn-default" href="{{ path('Curso')}}"><span class="fa fa-list"></span> Listar Cursos</a>
    <a class="btn btn-default" href="{{ path('Disciplina_show', { 'idCurso' : idCurso, 'id' : idDisciplina})}}"><span class="fa fa-search"></span> Visualizar Disciplina</a>
    <a class="btn btn-default" href="{{ path('Disciplina_Aula_show', { 'idCurso' : idCurso, 'idDisciplina' : idDisciplina, 'id' : idAula })}}"><span class="fa fa-search"></span> Visualizar Aula</a>
    <a class="btn btn-default" href="{{ path('admin_aula_questao_listar', { 'idAula' : idAula}) }}"><span class="fa fa-list-ul"></span> Listar Questões</a>
    <a class="btn btn-default" href="{{ path('admin_aula_questao_atualizar', { 'idAula' : idAula, 'id' : entity.id}) }}"><span class="fa fa-edit"></span> Atualizar Registro</a>
{% endblock %}