{% include 'AmbienteAlunoBundle:layout:header.html.twig' %}
{% block titulo %}
    <section class="sub-banner sub-banner-course mt70">
        <div class="awe-static bg-sub-banner-course"></div>
        <div class="container">
            <div class="sub-banner-content">
                <h2 class="text-center"><span class='fa fa-graduation-cap'></span> {{ titulo }}</h2>
            </div>
        </div>
    </section>
{% endblock %}
{% block nav %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

{% endblock %}
{% set usuario = app.session.get('ava') %}
{% if usuario['nome'] %}
    {% include('@Home/Home/cursos2.html.twig') %}
{% endif %}
{% include 'HomeBundle:Home:footer.html.twig' %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.owl.carousel.js')}}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.appear.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/perfect-scrollbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/scripts.js') }}"></script>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set.
                        _.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?2mCyvBqMBtHbyTUQfh6O3b2zXAjYJ94n';
            z.t = +new Date;
            $.
                    type = 'text/javascript';
            e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
{% endblock %}