{% block footer %}
    <div class="offset-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-1 col-sm-6 col-xs-4">
                    <img src="{{ asset('home/img/teologia-logo.png') }}" alt="">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-8">
                    <h4 class="social-title"><strong>FAÇA PARTE DA NOSSA REDE</strong> <br> Curta, siga, e deixe sua opinião!</h4>
                    <div class="rede_social">
                        <a href="//twitter.com/teologia24horas" target="_blank">
                            <img src="{{ asset('home/img/1423190581_Twitter.png') }}" alt="">
                        </a>
                        <a href="//www.youtube.com/teologia24horas" target="_blank">
                            <img src="{{ asset('home/img/1423190586_YouTube.png') }}" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="{{ asset('home/img/1423190572_Skype.png') }}" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="{{ asset('home/img/1423190654_LinkedIn.png') }}" alt="">
                        </a>
                        <a href="http://instagram.com/teologia24horas" target="_blank">
                            <img src="{{ asset('home/img/1423257048_Instagram.png') }}" alt="">
                        </a>
                        <a href="//www.facebook.com/teologia24horas" target="_blank">
                            <img src="{{ asset('home/img/1423190669_Facebook.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top: 50px;">
                    <div id="fb-root"></div>
                    <div class="fb-like" data-href="https://www.facebook.com/pages/Teologia24horas/417114088445163" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" id="links-footer-container">
                    <a href="https://teologia24horas.zendesk.com/hc/pt-br" class="links-footer" target="_blank">Perguntas Frequentes </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                    <a href="#" class="links-footer">Consultar Certificado </a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                    <a href="#" class="links-footer">Abertura de Núcleos</a> <span class="links-footer hidden-xs">|</span><br class="visible-xs">
                    <a href="#" class="links-footer">Programa Afiliados</a><br class="visible-xs">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-md-6 col-sm-12">
                <h3>Contato</h3>
                <p style="font-size: 14px;">
                    IBI Serviços Educacionais Ltda / IBI (Instituto Bíblico Internacional) <br>
                    Plataforma Virtual de Ensino Teologia24horas <br>
                    CPNJ 14.767.521/0001-83 <br>
                    Rua NC 4 Qd. 40 Lt. 20 - CEP 77.064-719 <br>
                    Bela Vista - Palmas - Tocantins <br>
                    Atendimento: Segunda à Sexta das 9h às 12h e das 14h às 17h <br>
                    63. 3571-8061 / <span class="fa fa-envelope-o"></span> sac@teologia24horas.com.br</a> <br>
                </p>
                <h3>Comunicado</h3>
                <p style="font-size: 10px;">
                    Antes de receber alguma pessoa que diz fazer parte do IBI (Instituto Bíblico Internacional), entre em contato conosco. <br>
                    Infelizmente algumas pessoas alegam fazer parte do nosso ministério, quando não fazem. <br>
                    Este comunicado não tem intenção de prejudicar quem quer que seja. <br>
                    Estamos apenas zelando por um ministério construído com integridade e fidelidade aos princípios da Palavra de Deus. <br>
                    Que o Senhor de toda terra abençoe a todos e faça prosperar todos que servem o Verbo (Jesus) em Espírito e em Verdade. <br>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="text-center">Somos Associados</h3>
                <img src="{{ asset('home/img/logo-abed.png') }}" alt="">
                <img class="mt20" src="{{ asset('home/img/logo-aetal.png') }}" alt="">
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul>
                    <h3 style="color: #373535;">Nossos números</h3>
                    <li>0 Certificados emitidos</li>
                    <li>0 Núcleos presenciais</li>
                    <li>0 Grupos de estudos</li>
                    <li>0 Vídeos aulas</li>
                    <li>0 Horas/aulas</li>
                    <li>0 Professores</li>
                    <li>0 Monitores</li>
                    <li>0 Afiliados</li>
                    <li>0 Tutores</li>
                    <li>0 Alunos</li>
                    <li>0 Cursos</li>
                    <li>0 Aulas</li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div id="copyright-footer">
                    <span>© Copyright 2010-2015 - IBI Serviços Educacionais Ltda - <br class="visible-xs">Todos os direitos reservados</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.appear.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/perfect-scrollbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/library/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('ead/js/scripts.js') }}"></script>
    <script type="text/javascript">
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                    function () {
                        (b[l].q = b[l].q || []).push(arguments)
                    });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-45523521-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function (o) {
                z.set.
                        _.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?2mCyvBqMBtHbyTUQfh6O3b2zXAjYJ94n';
            z.t = +new Date;
            $.type = 'text/javascript';
            e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
{% endblock %}
</body>
</html>