<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- Google font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

    <title>{{ titulo }}</title>
    {% block style %}
        <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('master/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('ava/css/main.css') }}" rel="stylesheet" type="text/css" />

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

        <link href="{{ asset('ead/css/library/owl.carousel.css') }}" rel="stylesheet" type="text/css" >
        <link href="{{ asset('ead/css/md-font.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('ead/css/style.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('admin/css/datepicker/datepicker3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('admin/js/plugins/colorbox-master/example1/colorbox.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
    {% endblock %}
    <script type="text/javascript"> !function(o,n){function i(o){return function(){return threads.push({m:o,args:Array.prototype.slice.call(arguments)}),threads}}var threads=o.threads=o.threads||[];if(!threads.initialize){if(threads.invoked)return void(o.console&&console.error&&console.error("threads snippet included twice."));threads.invoked=!0;for(var c=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"],p=0;p<c.length;p++){var l=c[p];threads[l]=i(l)} threads.load=function(o){var i=n.createElement("script"),c="https:"===n.location.protocol?"https://":"http://";i.type="text/javascript",i.async=!0,i.src=c+"cdn.threads.io/analytics/"+o+"/threads.min.js";var p=n.getElementsByTagName("script")[0];p.parentNode.insertBefore(i,p)},threads.SNIPPET_VERSION="1.1.0", threads.load("TwNkgS"), threads.page()}}(window,document); </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% set usuario = app.session.get('ava') %}
{% block menu %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="fa fa-bar"></span>
                            <span class="fa fa-bar"></span>
                            <span class="fa fa-bar"></span>
                        </button>
                        <a class="navbar-brand" style="height:80px;" title="Teologia24horas" href="{{ path('ambiente_usuario_homepage_home') }}">
                            <div class="navbar-brand-ibi"></div>
                            <img style="position: absolute;top: 5px;left: 30px;" src="{{ asset('home/img/Logo IBI 2015.png') }}" width="200px" alt="English Now">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right" id="navbar" style="margin-top: 7px">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="foto dropdown-toggle" href="#">
                                    <span>Olá{% if usuario['nome'] != "" %}, <strong>{{ usuario['nome'] }} </strong>{% endif %}</span>
                                    <img class="img-circle" src="/files/usuarios/{{ usuario['foto'] }}" class="img-circle" style="height: 45px;">
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('ambiente_usuario_homepage_home') }}"><i class="fa fa-user"></i> Ambiente do Aluno</a></li>
                                    {% if usuario['id'] %}
                                        <li class="divider" role="presentation"></li>
                                        <li><a href="{{ path('gerenciar_usuario_editar', {'id' :  usuario['id'] }) }}"><i class="fa fa-pencil"></i> Perfil</a></li>
                                        <li><a href="{{ path('gerenciar_senha') }}"><i class="fa fa-lock"></i> Alterar Senha</a></li>
                                        <li><a href="{{ path('gerenciar_foto') }}"><i class="fa fa-picture-o"></i> Foto</a></li>
                                        <li><a href="{{ path('gerenciar_endereco') }}"><i class="fa fa-map-marker"></i> Endereço</a></li>
                                    {% endif %}
                                    <li class="divider" role="presentation"></li>
                                    <li><a href="{{ path('ambiente_usuario_homepage_gerenciar_logout') }}"><i class="fa fa-sign-out"></i> Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}