{% extends '::base_ava_usuario.html.twig' %}
{% block bread %}
    <div class="apresentacao">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 mt20">
                    <div class="mb">
                        <iframe src="//player.vimeo.com/video/120193669" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 mt20 ">
                    <div class="destaque">
                        <div class="cabecalho">
                            <h2><span class="fa fa-video-camera"></span> Seu Bônus</h2>
                        </div>
                        <div class="titulo">
                            CURSO DE INTRODUÇÃO <br />
                            À TEOLOGIA SISTEMÁTICA
                        </div>
                        <div class="subtitulo" style="margin: 0px 0px 10px 0px;">
                            ESTE CURSO FAZ PARTE DA GRADE CURRICULAR <br />
                            DO CURSO DE TEOLOGIA SISTEMÁTICA
                        </div>
                        <div class="conteudo">
                            Como prometido, está disponível o Curso de Introdução à Teologia Sistemática<br />
                            onde você vai aprender a desenvolver o Método
                            IUT (Imotável, Universal e Tridimensional), <br />
                            os 3 passos para contribuir de uma forma RÁPIDA e PRÁTICA <br />
                            com o desenvolvimento das pessoas em sua volta, a partir <br />
                            do seu conhecimento teológico.
                        </div>
                        <div class="titulo simples">
                            GRATUITO
                        </div>
                        <div class="detalhe mb">
                            <ul>
                                <li><span class="fa fa-calendar"></span> 28 Dias de duração</li>
                                <li><span class="fa fa-dashboard"></span> 85 Horas/Aula</li>
                                <li><span class="fa fa-star"></span> 5 Créditos</li>
                            </ul>
                        </div>
                        <div class="mb" style="margin-top: 15px;">
                            <a href="{{ path('ava_aluno_curso', { 'idCurso' : 1 , 'slug' : 'introducao-teologia-sistematica' }) }}" class="btn btn-warning"> ACESSAR O CURSO</a>
                        </div>
                        <div class="observacao">
                            Obs: Este curso tem início imediato
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
{% block body %}
    {% set error = app.session.flashbag.get('info') %}
    {% if error %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in error %}
                                {{ item|raw }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="mt">
                Olá, {{ usuario['nome'] }}, graça e paz, seja bem vindo(a) ao Teologia24horas.<br /><br />

                <i>Espero que esteja bem em todas as coisas, e que tenha saúde, assim como vai bem a sua alma"<br /> (III João 1:2)</i><br /><br />

                Em PRIMEIRO LUGAR quero agradecer você pela efetivação de sua inscrição em nossa Plataforma Virtual de Ensino Teológico, e pelo voto de confiança em nossa instituição, para nós é um grande privilégio termos sido escolhido para prestar-lhe este serviço que exige absoluta competência e responsabilidade. <br /><br />

                Em SEGUNDO LUGAR quero dar boas vindas ao ambiente do aluno, porque é a partir daqui, que você terá acesso aos seus cursos, como também o Curso de INTRODUÇÃO à Teologia Sistemática, TOTALMENTE GRATUITO como havia lhe prometido, o qual já está a sua disposição logo acima, bastando apenas, você complementar os seus dados no seu perfil.<br /><br />

                É um grande prazer receber você como aluno(a) da Plataforma Virtual de Ensino Teológico do IBI (Instituto Bíblico Internacional), saiba que você está fazendo parte de uma das melhores Instituições de Ensino Teológico do mundo, que se preocupa em transmitir a você, a melhor experiência técnica e pedagógica, através de um conteúdo teológico educacional, com qualidade e debaixo da unção do Espírito Santo.<br /><br />

                Essa ferramenta tem como objetivo principal ser um espaço/ lugar/ local/ambiente de inspiração, instrução e edificação do conhecimento teológico, por meio do desenvolvimento de atividades educativas, através do uso da tecnologia de informação e comunicação.<br /><br />

                Através do AVA (Ambiente Virtual de Aprendizagem) do Teologia24horas, estaremos proporcionando para você, o melhor conteúdo teológico, com o objetivo de lhe proporcionar a melhor experiência no processo de ensino e aprendizagem, 24h por dia, 7 dias por semana, 30 dias por mês e 365 dias por ano, onde são desenvolvidas atividades acadêmicas, valorizando a interação e o trabalho colaborativo, através do qual compartilharmos com todos aqueles que desejam uma vida compromissada com a Palavra de Deus e, principalmente, com o Deus da Palavra.<br /><br />

                Somos um INSTITUTO TEOLÓGICO de orientação evangélica, mas com uma visão INTERDENOMINACIONAL, com o objetivo de ser PARCEIRO das denominações evangélicas no desenvolvimento eclesiástico no Brasil e no mundo.<br /><br />

                Somos associado a ABED (Associação Brasileira de Educação a Distância), e filiados AETAL (Associação Evangélica de Educação Teológica na América Latina).<br /><br />

                Estou feliz pela relação de confiança que conseguimos estabelecer e estamos abertos para qualquer sugestão que possa melhorar ainda mais a prestação dos nossos serviços educacionais.<br /><br />

                Nós preparamos os melhores cursos de teologia sistemática, para desenvolver plenamente a sua vocação ministerial com excelência e alcançar o seu completo desenvolvimento teológico, através de uma educação teológica de qualidade.<br /><br />

                Sem mais pelo momento, desejo que a sua trajetória, em direção ao conhecimento chegue com excelência e coroada de êxitos.<br /><br />

                "Pois sabemos que aquele que busca a sabedoria encontra um tesouro e, com ele, uma porta aberta para enfrentar os desafios inerentes às mudanças e as transformações contemporâneas".<br /><br />

                Desejo desde já, que Deus derrame sobre sua vida e o seu ministério, as mais infinitas bênçãos.<br /><br />

                Seu amigo de sempre, Francisco Miranda<br />
                <strong>Diretor do Teologia24horas</strong><br />
                franciscomiranda@teologia24horas.com.br<br />
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#msg').modal({
                show: true
            });
        });
    </script>
{% endblock %}