{% extends '::front.html.twig' %}
{% block bread %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4">
                <div class="mt100 mb70">
                    {% set error = app.session.flashbag.get('error') %}
                    {% if error %}
                        <div id="msg" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Atenção</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            {% for item in error %}
                                                {{ item|raw }} <br />
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-wrap">
                        <h3><span class="fa fa-user"></span> Ambiente Exclusivo</h3>
                        <form role="form" method="post" id="login-form" >
                            <div class="form-group">
                                <label for="email" class="sr-only">Email:</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Inserir o e-mail">
                            </div>
                            <div class="form-group">
                                <label for="key" class="sr-only">Senha:</label>
                                <input type="password" name="senha" id="key" class="form-control" placeholder="Inserir a Senha">
                            </div>
                            <button type="submit" name="submit" id="btn-login" class="btn btn-success btn-lg btn-block" value="Log in" > Entrar</button>
                        </form>
                    </div>
                </div>
            </div> <!-- /.col-xs-6 -->
            <div class="col-xs-4">
                <div class="mt100">
                    <h3><span class="fa fa-plus"></span> Faça sua inscrição</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form.email)}}
                    {{ form_widget(form.submit)}}    
                    {{ form_end(form) }}
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock %}
{% block rede_social %}{% endblock %}
{% block javascript %}
    {{ parent()}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#msg').modal({
                show: true
            });
        });
    </script>
{% endblock %}