.mt {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt70 {
    margin-top: 70px;
}

.mt_box {
    margin-top: 80px;
}

.mb {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.form ul {
    margin: 0px;
    padding:0px;
    list-style: none;
}

.form li {
    color: #a94442;
}