{# empty Twig template #}
<html>
    <head>
        <title>{{ titulo }}</title>
    </head>
    <body>
        <p>
            Olá, graça e paz, aqui é o seu amigo de sempre, Francisco Miranda do IBI/Teologia24horas.
        </p>
        {% block body %}
        {% endblock %}
        {% block rodape %}
            <p>
                Desde já, informo que você poderá entrar em contato comigo 
                quando quiser, para tirar dúvidas, pedir dicas ou informações 
                sobre Teologia Sistemática. 
            </p>
            <p>
                Será um prazer contribuir com seu desenvolvimento teológico, 
                na certeza de que você contribuirá com o desenvolvimento de outras pessoas.
            </p>
            <p>
                Seu amigo de sempre, Francisco Miranda do IBI/Teologia24horas<br />
                Um grande abraço, e até a próxima! 
            </p>
            <p>
                <strong>Ps 1.: </strong>Para garantir que você irá receber nossos e-mails, 
                cadastre o nosso e-mail em sua lista de contatos, 
                ou marque-nos como confiável.
            </p>
            <p>
                <strong>Ps 2.: </strong> Você está recebendo este email, pois em algum momento 
                você se inscreveu em nossa lista. Essa mensagem não é SPAM. 
                Aliás, sou uma pessoa que abomina SPAM. 
            </p>
            <p>
                <strong>IBI Serviços Educacionais Ltda</strong><br />
                Rua NC 4 Qd. 40 Lt. 20 <br />
                Bela Vista - CEP 77.064-719<br />
                Palmas - Tocantins - Brasil<br />
                sac@teologia24horas.com.br <br />
                <a href="www.teologia24horas.com.br">www.teologia24horas.com.br</a>
            </p>
            <p>
                Faça parte da nossa rede, curta, siga, e deixe sua opinião! <br />
                Faça parte da nossa comunidade --> <a href="https://www.facebook.com/pages/Teologia24horas/417114088445163?ref=ts&fref=ts">Curtir no Facebook</a> <br />
                Assista nossas orientações em vídeo --> <a href="https://www.youtube.com/channel/UCKLQW0-y62eRAIs2jUC6Spw">Inscrever-se no Youtube</a><br />
                Orientações rápidas sobre a prática da Teologia Sistemática --> <a href="https://twitter.com/Teologia24horas">Seguir no Twitter</a><br />
                Estamos também no Google Plus --> <a href="https://plus.google.com/u/0/+Teologia24horas/posts">Seguir no Google Plus </a><br />
            </p>
        {% endblock %}
    </body>
</html>