{% extends 'AdminBundle:Email:base.html.twig' %}
{# empty Twig template #}
{% block body %}
    <p>
        É MUITO IMPORTANTE... Que você leia esse e-mail até o final...
    </p>
    <p>
        Estou aqui para lhe agradecer pela confirmação do seu email no Teologia24horas, <br />
        o maior portal teológico do Brasil.
    </p>
    <p>
        Acredito que você já deve está acessando o Teologia24horas, porque já fez <br />
        a sua confirmação de e-mail. 
    </p>
    <p>
        Porém, estou passando por aqui apenas para garantir que você não tenha <br />
        nenhum problema no seu acesso a nossa plataforma.
    </p>
    <p>
        Mais uma vez, o meu muito obrigado pelo seu interesse em aprender <br />
        mais sobre teologia sistemática, e por querer fazer parte da minha lista de relacionamentos.
    </p>
    <p>
        Fique tranquilo(a), pois não vou inundar sua caixa de emails com coisas sem sentido. 
    </p>
    <p>
        Quero fazer deste nosso canal de comunicação algo especial, onde <br />
        eu possa lhe enviar conteúdos que possam agregar valor a sua vida e ministério.<br />
        Como também informar que já está a sua disposição <strong>TOTALMENTE GRATUITO</strong>, <br />
        o curso de Introdução à Teologia Sistemática, que havia lhe prometido através <br />
        do maior portal teológico do Brasil. <br />
        Tenho certeza que será um grande "divisor de águas" em sua vida e no seu ministério. 
    </p>
    <p>
        Através deste curso você conhecerá 3 passos para contribuir de uma <br />
        forma rápida e prática com o desenvolvimento das pessoas em sua volta...
    </p>
    <p>
        Você entenderá também que é uma pessoa com capacidade para impactar <br />
        pessoas e contribuir com o desenvolvimento de cada uma delas, <br />
        através da Palavra que é Espírito e Vida.
        <br /><br />
        <strong>
            Você quer mesmo tornar-se um teólogo excelente?<br />
            Se você deseja tornar-se um teólogo com excelência, clique aqui! 
        </strong>
    </p>
    <p>
        Este curso não é um atalho para o sucesso... <br />
        Mas com certeza é o caminho mais seguro para você alcançar o sucesso da sua missão de vida.
    </p>
    <p>
        Falando em missão de vida, você saberia me dizer qual é a sua? 
        Ficou na dúvida? <br />
    </p>
    <p>
        Bom, todos nós temos uma única missão/propósito/chamado... <br />
        Você saberia me dizer qual é? <br />
        Não saberia me responder...? <br />
        Tudo bem, eu lhe respondo. 
    </p>
    <p>
        Primeiro lugar não podemos confundir missão/propósito/chamado, <br />
        com vocações/talentos/dons, são duas coisas completamente diferentes.
    </p>
    <p>
        Pois bem, todo ser humano tem como missão/propósito/chamado de vida que é de aceitar <br />
        ou rejeitar o Senhorio de Cristo em sua vida.<br />
        Quando entendemos isso, descobrimos que a nossa missão é de ser igual a Jesus...<br />
        Em Jo 20:21...Jesus disse: ...assim como o Pai me enviou, Eu enviou a vós...).<br />
    </p>
    <p>
        Mas cabe aqui uma pergunta, como Jesus foi enviado? <br />
        Se não entendermos isso, perderemos o foco...
    </p>
    <p>
        Para você ter uma ideia, segundo uma pesquisa internacional, mais de <br />
        60% dos pastores no mundo não têm formação teológica adequada. Agora <br />
        imagine qual deve ser a porcentagem entre os cristãos - aqueles que <br />
        não são pastores? Muito, mas muito maior!
    </p>
    <p>
        Também pergunto... Você já imaginou se, pelo menos, 50% dos evangélicos <br />
        no Brasil tivessem uma boa formação teológica, mesmo que fosse ao<br />
        menos o Básico em Teologia?
    </p>
    <p>
        Você consegue imaginar o "poder" que nós teríamos de levar a mensagem<br />
        com muito mais clareza a todos que precisam de algum esclarecimento<br />
        sobre Deus e sua vontade para o homem?
    </p>
    <p>
        Pois é, grande parte dos evangélicos não conseguem explicar nem porque são cristãos. <br />
        Imagine evangelizar, pregar, ensinar...
    </p>
    <p>
        É por isso que estou colocando a sua disposição para que juntos possamos aprender <br />
        cada vez mais e podermos nos tornar cristãos conscientes, <br />
        capacitados para toda boa obra e disponível para anunciar a mensagem bíblica <br />
        sadia e equilibrada em qualquer hora e lugar do Brasil e do mundo.
    </p>
    <p>
        Será um prazer contribuir com seu desenvolvimento teológico, <br />
        na certeza de que você contribuirá com o desenvolvimento de outras pessoas.
    </p>
{% endblock %}