{% extends 'AdminBundle:Email:base.html.twig' %}
{# empty Twig template #}
{% block body %}
    <p>
        Recebi com muita alegria a sua inscrição em nossa Plataforma de Ensino Teológico.
    </p>
    <p>
        Para darmos continuidade a nossa parceria, e você garantir o seu bônus, é necessário a confirmação do seu email.
    </p>
    <p>
        Se você deseja tornar-se um teólogo de excelência, clique no link abaixo e confirme a sua inscrição: <br />
        <a href="{{ dominio }}LandPage/email-confirmado/{{ entity.identificador }}">Quero confirmar a minha inscrição</a>
    </p>
    <p>
        Fazendo assim, você terá acesso TOTALMENTE GRATUITO, ao Curso de Introdução à Teologia Sistemática, onde compreenderá a sua missão/propósito/chamado como...  
    </p>
    <p>
        Um ADORADOR (a sua responsabilidade com Deus). <br />
        Mas o que é ser um adorador?
    </p>
    <p>
        Um DIÁCONO (a sua responsabilidade para consigo mesmo). <br />
        Mas o que é ser um diácono?
    </p>
    <p>
        Um EVANGELISTA (a sua responsabilidade com o próximo). <br />
        Mas o que é ser um evangelista?
    </p>
    <p>
        Se você deseja tornar-se um teólogo de excelência, clique no link abaixo e confirme a sua inscrição: <br />
        <a href="{{ dominio }}LandPage/email-confirmado/{{ entity.identificador }}">Quero confirmar a minha inscrição</a>
    </p>
    <p>
        Se você se inscreveu no IBI/Teologia24horas através da nossa LandPage, Website, Facebook ou pelo nosso programa de Afiliados, por favor, confirme a sua inscrição e nos autorize a usar o seu e-mail para futuros contatos.
    </p>
    <p>
        É simples, fácil e rápido! 
    </p>
    <p>
        Caso você não tenha solicitado estas informações, simplesmente ignore essa *mensagem* e você não receberá mais.
    </p>
    <p>
        Se você deseja tornar-se um teólogo de excelência, clique no link abaixo e confirme a sua inscrição: <br />
        <a href="{{ dominio }}LandPage/email-confirmado/{{ entity.identificador }}">Quero confirmar a minha inscrição</a>
    </p>
    <p>
        Será um prazer contribuir com seu desenvolvimento teológico, na certeza de que você contribuirá com o desenvolvimento de outras pessoas.
    </p>
{% endblock %}
{% block observacao %}
    <p>
        P.S.: Após a sua confirmação, cada email que você receber, <br />
        incluirá, no seu final, um link que poderá ser usado para remover o seu email <br />
        da nossa lista de contato.
    </p>
{% endblock %}