{% extends 'AdminBundle:Email:base.html.twig' %}
{# empty Twig template #}
{% block body %}
    <p>
        Segue abaixo os dados para efetuar acesso à <strong>Área Exclusiva do Teologia24Horas:</strong>
    </p>
    <p>
    <strog>Usuário: </strog>{{ entity.email }} <br />
    <strog>Dica de Senha: </strog>{{ entity.dicaSenha }} <br /><br />
    <strong>Redefinir a Senha: </strong> <a href="{{dominio}}AVA/Usuario/Perfil/senha/redefinir-{{ entity.id }}" target="_Blank" >Clique aqui</a>. <br/>
</p>
{% endblock %}
{% block observacao %}
{% endblock %}