{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(edit_form) }}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible mt" role="alert">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(edit_form) }}
                        </div>
                    {% endif %}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('admin/js/utils/model.js') }}" type="text/javascript"></script>
<script src="{{ asset('admin/js/utils/controller.js') }}" type="text/javascript"></script>
<script src="{{ asset('admin/js/utils/localizacao.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/intl-tel/build/js/intlTelInput.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    function getEndereco(localizacao) {
        if (localizacao != "") {
            $.ajax({
                url: "/admin/Pessoa/Endereco/getCEP/",
                type: 'post',
                data: {
                    "id": localizacao
                },
                beforeSend: function () {
                    $(".carregando").show('slow');
                },
                success: function (data) {
                    alterarCampos(data.pais, data.uf, data.cidade);
                },
                complete: function () {
                    $(".carregando").hide();
                },
                error: function () {
                    console.log('Não foi possível efetuar requisição');
                }
            });
            return false;
        } else {
            $("#dados").hide('slow');
        }
    }
    function alterarCampos(pais, estado, cidade) {
        if (pais != 'Brasil') {
            $('.uf').replaceWith('<input type="text" name="ava_perfil[estado]" class="form-control mb uf" placeholder="Insira o Estado" />');
            $('.cidade').replaceWith('<input type="text" name="ava_perfil[cidade]" class="form-control mb cidade" placeholder="Insira a Cidade" />');
            $("input[name='ava_perfil[estado]']").val(estado);
            $("input[name='ava_perfil[cidade]']").val(cidade);

            return;
        }
        $('.uf').replaceWith('<select name="ava_perfil[estado]" class="form-control mb uf"><option value="">[Selecione o Estado]</option></select>');
        $('.cidade').replaceWith('<select name="ava_perfil[cidade]" class="form-control mb cidade"><option value="">[Selecione a cidade]</option></select>');

        carregarEstados(pais, estado, cidade);
    }
    function carregarEstados(pais, estado, cidade) {
        if (pais != 'Brasil') {
            return;
        }
        $.ajax({
            url: "/admin/Pessoa/Endereco/getUF/",
            type: 'post',
            data: {
                "param": pais
            },
            beforeSend: function () {
                $(".carregando").show('slow');
            },
            success: function (data) {
                var options = "";
                if (estado) {
                    $.each(data, function (key, value) {
                        if (estado === value.uf) {
                            options += '<option value="' + value.uf + '" selected>' + value.estado + '</option>';
                        }
                        carregarCidade(estado, cidade);
                    });
                } else {
                    $.each(data, function (key, value) {
                        options += '<option value="' + value.uf + '">' + value.estado + '</option>';
                    });
                    carregarCidade(data[0].uf, cidade);
                }
                $(".uf").html(options);
            },
            complete: function () {
                $(".carregando").hide();
            },
            error: function () {
                console.log('Não foi possível efetuar requisição');
            }
        });
        return false;
    }
    function carregarCidade(uf, cidade) {
        $.ajax({
            url: "/admin/Pessoa/Endereco/getCidades/",
            type: 'post',
            data: {
                "param": uf
            },
            beforeSend: function () {
                $(".carregando").show('slow');
            },
            success: function (data) {
                var options = "";
                $.each(data, function (key, value) {
                    if (cidade === value.cidade) {
                        console.log(cidade);
                        options += '<option value="' + value.cidade + '" selected>' + value.cidade + '</option>';
                    } else {
                        options += '<option value="' + value.cidade + '">' + value.cidade + '</option>';
                    }
                });
                $(".cidade").html(options);
            },
            complete: function () {
                $(".carregando").hide();
            },
            error: function () {
                console.log('Não foi possível efetuar requisição');
            }
        });
        return false;
    }
    $(document).ready(function () {
        var id = {{ id }};

        getEndereco(id);

        $('.pais').change(function () {
            var pais = $('.pais option:selected').val();

            alterarCampos(pais);
        });

        $('body').on('change', '.uf', function () {
            var uf = $('.uf option:selected').val();

            carregarCidade(uf);
        });

        var pais = $('.pais option:selected').val();

        alterarCampos(pais);
        {#$('.cep').on('focusout', function () {
            var cep = $("input[name='ava_perfil[cep]']").val();

            getEndereco(cep);
        });#}

        $(".celular").intlTelInput({
            allowExtensions: true,
            autoFormat: true,
            autoHideDialCode: false,
            autoPlaceholder: false,
            defaultCountry: "auto",
            geoIpLookup: function(callback) {
                $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "";
                    callback(countryCode);
                });
            },
            nationalMode: false,
            numberType: "MOBILE",
            //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            getExtension: true,
            preferredCountries: ['br', 'pt', 'es'],
            utilsScript: "/js/intl-tel/lib/libphonenumber/build/utils.js"
        });
    });
    </script>
{% endblock %}