{% extends '::base.html.twig' %}

{% block body -%}
    <div id="mensagem" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Atualização de Cadastro</h4>
                </div>
                <div class="modal-body">
                    <p>
                        O seu cadastro foi atualizado com sucesso. 
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#modificar" class="btn btn-primary">
                        <span class="fa fa-user"></span> Perfil do Aluno
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form) }}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible mt" role="alert">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
        function updateUsuario(cpf, email) {
            if (cpf != "" && email != "") {
                $.ajax({
                    url: "/admin/Pessoa/Fisica/AtualizaPessoaForAdmin/",
                    type: 'post',
                    data: {
                        "cpf": cpf,
                        "email": email
                    },
                    beforeSend: function () {
                        $(".carregando").show('slow');
                    },
                    success: function (data) {
                        if (data.status != 2)
                        {
                            $("a[href='#modificar']").attr('href', '/admin/Pessoa/Fisica/visualizar-' + data.status)
                            $('#mensagem').modal({
                                'show': true,
                                'keyboard': false,
                                'backdrop': 'static'
                            });
                        }
                    },
                    complete: function () {
                        $(".carregando").hide();
                    },
                });
                return false;
            } else {
                $("#dados").hide('slow');
            }
        }
        $(document).ready(function () {
            $('#admin_pessoa_fisica_pfCpf').on('focusout', function () {
                var cpf = $(this).val();
                var email = {{ idEmailMarketing }};
                //alert('cpf: ' + cpf + ' - email: ' + email);
                updateUsuario(cpf, email);
            });
        });
    </script>
{% endblock %}
