{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <h3>
                                            {{ entity.pfNome }}
                                        </h3>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th width="20%">Código</th>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>

                                <tr>
                                    <th>CPF</th>
                                    <td>{{ entity.pfCpf }}</td>
                                </tr>
                                <tr>
                                    <th>Data de Nascimento</th>
                                    <td>{{ entity.pfDataNascimento|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <th>Sexo</th>
                                    <td>{{ entity.returnSexo() }}</td>
                                </tr>
                                <tr>
                                    <th>País</th>
                                    <td>{{ entity.pais }}</td>
                                </tr>
                                <tr>
                                    <th>Cidade/Estado</th>
                                    <td>{{ entity.cidade }}/{{ entity.estado }}</td>
                                </tr>
                                <tr>
                                    <th>Celular</th>
                                    <td>{{ entity.celular }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        {{ entity.email }} <br />
                                        <a class="btn btn-default" href="{{ path('Mensagem_new', {'idPessoa' : entity.id }) }}" target="_blank"><span class="fa fa-envelope-o"></span> Enviar Mensagem</a>
                                        <a class="btn btn-default" href="{{ path('EmailMarketing_edit_email', {'idPessoa' : entity.id }) }}" target="_blank"><span class="fa fa-pencil"></span> Alterar E-mail</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Dica de Senha</th>
                                    <td>{{ entity.dicaSenha }}</td>
                                </tr>
                                <tr>
                                    <th>Senha</th>
                                    <td>{{ entity.senha }}</td>
                                </tr>
                                <tr>
                                    <th>Biografia</th>
                                    <td>{{ entity.biografia }}</td>
                                </tr>
                                <tr>
                                    <th>Foto</th>
                                    <td>{{ entity.foto }}</td>
                                </tr>
                                <tr>
                                    <th>Data do Cadastro</th>
                                    <td>{{ entity.datahoraCadastro|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Última Atualização</th>
                                    <td>{{ entity.datahoraAtualizacao|date('d/m/Y H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Tags</th>
                                    <td>
                                        <div class="carregando"></div>
                                        <div style="margin-top: 5px">
                                            {% if entity.tags|length > 0 %}
                                                {% for tag in entity.tags %}
                                                    <a class="tag" id="{{ tag.id }}"><h5 class="tag"><span class="label label-danger">{{ tag.idTag.titulo }} <span class="fa fa-close"></span></span></h5></a>
                                                        {% endfor %}
                                                    {% else %}
                                                <h5><span class="label label-default"><span class="fa fa-exclamation-circle"></span> Não possui tags</span></h5>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Adicionar Tags</th>
                                    <td>
                                        <form method="post" action="{{ path('Pessoa_Tag_Save_By_Pessoa') }}" >
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input name="pessoa" type="hidden" value="{{ entity.id }}" />
                                                            <div class="checkbox">
                                                                {% for item in tags %}
                                                                    <label><input type="checkbox" name="tag[]" value="{{ item.id }}" /> {{ item.titulo }}</label><br />
                                                                    {% endfor %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="submit" class="btn btn-default" value="Salvar"><span class="fa fa-save"></span> Salvar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-danger" href="{{ path('Pessoa_Fisica_delete', { 'id': entity.id }) }}">
                <span class="fa fa-close"></span> Excluir Registro
            </a>
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
            <a class="btn btn-default" href="{{ path('NucleoPessoa_new', { 'idPessoa': entity.id }) }}">
                <span class="fa fa-edit"></span> Participar de um núcleo
            </a>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            {% if entity.Nucleos|length > 0 %}
                                <thead>
                                    <tr>
                                        <td colspan="3">
                                            <h3>Núcleo</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Opção
                                        </th>
                                    </tr>
                                </thead>
                                {% for nucleo in entity.nucleos %}
                                    <tr>
                                        <td>{{ nucleo.titulo }}</td>
                                        <td>{{ nucleo.returnStatus() }}</td>
                                        <td>
                                            <a class="btn btn-default" href="{{ path('Nucleo_show', { 'idPessoa': entity.id, 'id': nucleo.id }) }}">
                                                <span class="fa fa-search"></span> Visualizar Núcleo
                                            </a>
                                            <a class="btn btn-default" href="{{ path('Nucleo_edit', { 'idPessoa': entity.id, 'id': nucleo.id }) }}">
                                                <span class="fa fa-pencil"></span> Alterar Núcleo
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2">Não existe núcleo cadastrado</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Nucleo_new', { 'idPessoa': entity.id }) }}">
                <span class="fa fa-plus"></span> Criar Núcleo
            </a>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td colspan="2">
                                        <h3>Contratos </h3>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="10%">Contrato ({{ entity.contrato|length - 1 }})</th>
                                    <th width="90%">Curso</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in entity.contrato %}
                                    <tr>
                                        <td>
                                            {{ item.id }}
                                        </td>
                                        <td>
                                            <div class="box box-solid">
                                                <div class="box-header">
                                                    <h3 class="box-title">{{ item.idCurso.titulo}}</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <div class="box-group" id="accordion">
                                                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                                        <div class="panel box box-primary">
                                                            <div class="box-header">
                                                                <h4 class="box-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ item.id }}">
                                                                        <span class="fa fa-barcode"></span> Faturas Disponíveis
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse_{{ item.id }}" class="panel-collapse collapse">
                                                                <div class="box-body">
                                                                    <table class="table table-responsive">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Código</th>
                                                                                <th>Valor</th>
                                                                                <th>Vencimento</th>
                                                                                <th>Data de Pagamento</th>
                                                                                <th>Valor Pago</th>
                                                                                <th>Status</th>
                                                                                <th>Opção</th>
                                                                                <th>Impressão</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% if item.Fatura %}
                                                                                <tr>
                                                                                    <td>{{ item.fatura.id }}</td>
                                                                                    <td>{{ item.fatura.valor|number_format(2, ',', '.') }} </td>
                                                                                    <td>{{ item.fatura.vencimento|date('d/m/Y') }}</td>
                                                                                    <td>
                                                                                        {% if item.fatura.status != 1 %}
                                                                                            {{ item.fatura.pagamentoData|date('d/m/Y') }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>
                                                                                        {% if item.fatura.status != 1 %}
                                                                                            {{ item.fatura.pagamentoValor|number_format(2, ',', '.') }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>{{ item.fatura.returnStatus }}</td>
                                                                                    <td>
                                                                                        <a href="{{ path('Contrato_Fatura_edit', { 'id': item.fatura.id }) }}" class="iframe btn btn-default"><span class="fa fa-edit"></span> Baixar Fatura</a>
                                                                                    </td>
                                                                                    <td>
                                                                                        {% if item.fatura.status == 1%}
                                                                                            <a href="{{ path('gerar_boleto', { 'idFatura': item.fatura.id }) }}" target="_blank" class="btn btn-default"><span class="fa fa-print"></span> Imprimir</a>
                                                                                        {% else %}
                                                                                            <div class="mt">
                                                                                                <span class="label label-primary"><span class="fa fa-exclamation"></span> Indisponível</span>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                            {% else %}
                                                                                <tr>
                                                                                    <td colspan="9">
                                                                                        <a href="{{ path('Contrato_Fatura_new', { 'idContrato': item.id }) }}" class="iframe btn btn-default"><span class="fa fa-plus"></span> Nova Fatura</a>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel box box-success">
                                                            <div class="box-header">
                                                                <h4 class="box-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_nota_{{ item.id }}">
                                                                        <span class="fa fa-briefcase"></span> Lançar Nota
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse_nota_{{ item.id }}" class="panel-collapse collapse">
                                                                <div class="box-body">
                                                                    {% if item.notas|length > 0 %}
                                                                        <table class="table table-responsive table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Média
                                                                                    </th>
                                                                                    <th>
                                                                                        Status
                                                                                    </th>
                                                                                    <th>
                                                                                        Opção
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for nota in item.notas %}
                                                                                    <tr>
                                                                                        <td>{{ nota.media|number_format(2, ',', '.') }}</td>
                                                                                        <td><div style="margin-top: 5px"> {% if nota.media >= 7 %}<span class="label label-primary"><span class="fa fa-check"></span> Aprovado</span> {% else %}<span class="label label-danger"><span class="fa fa-close"></span> Reprovado</span> {% endif %}</div></td>
                                                                                        <td>
                                                                                            <a href="{{ path('ContratoNota_edit', { 'id' : nota.id, 'idContrato' : item.id }) }}" class="btn btn-default"><span class="fa fa-pencil"></span> Alterar Nota</a>
                                                                                            <a href="{{ path('ContratoNota_delete', { 'id' : nota.id, 'idContrato' : item.id }) }}" class="btn btn-default"><span class="fa fa-close"></span> Excluir Nota</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                        </table>
                                                                    {% endif %}
                                                                    <a href="{{ path('ContratoNota_new', { 'idContrato' : item.id }) }}" class="btn btn-default"><span class="fa fa-plus"></span> Adicionar Nota</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <a href="{{ path('Contrato_delete', {'id' : item.id }) }}" class="btn btn-danger"><span class="fa fa-close"></span> Excluir Contrato</a>
                                                    <a href="{{ path('Contrato_edit', {'id' : item.id }) }}" class="btn btn-primary"><span class="fa fa-pencil"></span> Alterar Contrato</a>
                                                </div><!-- /.box-body -->
                                            </div><!-- /.box -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Contrato_new', { 'idPessoa': entity.id }) }}">
                <span class="fa fa-plus"></span> Contratar Curso
            </a>
            <a class="btn btn-default" href="{{ path('Pessoa_Fisica') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
    {% set msg = app.session.flashbag.get('msg') %}
    {% if msg %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in msg %}
                                {{ item|raw }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/utils/model.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/utils/controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/utils/tag.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tag").on('click', function (event) {
                event.preventDefault();

                var id = $(this).attr('id');

                var controller = new Controller();
                controller.removeTag(id);

                $("#" + id).remove();

            })
            $(".iframe").colorbox({iframe: true, escKey: false, width: "80%", height: "65%", overlayClose: false, onClosed: reloadPage});
        });
    </script>
{% endblock %}
