{% extends "AdminBundle:Default:view.html.twig" %}
{% block view %}
    <thead>
        <tr>
            <th width="20%">Campo</th>
            <th width="80%">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Código</td>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Notificação</td>
            <td>{{ entity.texto }}</td>
        </tr>
        <tr>
            <td>Data de Criação</td>
            <td>{{ entity.datahoraCadastro|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Data de Atualização</td>
            <td>{{ entity.datahoraAtualizacao|date("d/m/Y H:i:s") }}</td>
        </tr>
    </tbody>
{% endblock %}
{% block links %}
    <a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso })}}"><span class="fa fa-search"></span> Visualizar Curso</a>
    <a class="btn btn-default" href="{{ path('Curso')}}"><span class="fa fa-search"></span> Listar Cursos</a>
    <a class="btn btn-default" href="{{ path('admin_curso_notificacao_listar', { 'idCurso' : idCurso}) }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
    <a class="btn btn-default" href="{{ path('admin_curso_notificacao_atualizar', { 'idCurso' : idCurso, 'id' : entity.id }) }}">
        <span class="fa fa-edit"></span> Alterar Registro
    </a>
    <a href="#" class="btn btn-danger confirm-link" data-link="{{ path('admin_curso_notificacao_delete', { 'idCurso' : idCurso, 'id' : entity.id }) }}" >
        <span class="fa fa-remove"></span> Excluir Registro
    </a>
{% endblock %}