<a href="{{ path('Disciplina_Aula_new', {"idCurso": idCurso, "idDisciplina" : entity.id }) }}" class="btn btn-primary mt20">
    <span class="fa fa-plus"></span> Novo Conteúdo
</a>
{% if entity.conteudoAula %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entity.conteudoAula %}
            <tr>

                <td>
                    {{ item.titulo }}
                </td>
                <td>
                    {{ item.returnTipoConteudo|raw }}
                </td>
                <td>
                    {{ item.returnStatus }}
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path ("Disciplina_Aula_show", {"idCurso": idCurso, "idDisciplina" : entity.id , "id": item.id }) }}"><span class="fa fa-search"></span></a>
                    <a class="btn btn-default" href="{{ path ("Disciplina_Aula_edit", {"idCurso": idCurso, "idDisciplina" : entity.id , "id": item.id }) }}"><span class="fa fa-edit"></span></a>
                    {% if item.status == 1 %}
                    <a class="btn btn-danger" href="{{ path ("Disciplina_Aula_delete", {"idCurso": idCurso, "idDisciplina" : entity.id , "id": item.id }) }}"><span class="fa fa-close"></span></a>
                    {% else %}
                    <a class="btn btn-success" href="{{ path ("Disciplina_Aula_restaurar", {"idCurso": idCurso, "idDisciplina" : entity.id , "id": item.id }) }}"><span class="fa fa-check"></span></a>
                    {% endif %}
                    {% if item.tipoConteudo == 4 %}
                    <a class="btn btn-default" href="{{ path ("admin_aula_questao_listar", {"idAula": item.id }) }}"><span class="fa fa-list-ul"></span> Questões</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}