<table class="table table-hover">
    <thead>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="20%">Código</td>
            <td width="80%">{{ entity.id }}</td>
        </tr>
        <tr>
            <td>Curso</td>
            <td>{{ entity.idCurso.titulo }}</td>
        </tr>
        <tr>
            <td>Disciplina</td>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <td>Descrição</td>
            <td>{{ entity.descricao|raw }}</td>
        </tr>
        <tr>
            <td>Semana</td>
            <td>{{ entity.returnSemana() }}</td>
        </tr>
        <tr>
            <td>Aula</td>
            <td>{{ entity.returnAula() }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ entity.returnStatus() }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-default" href="{{ path('Disciplina_new', { 'idCurso' : idCurso }) }}">
    <span class="fa fa-plus"></span> Novo Registro
</a>
<a class="btn btn-default" href="{{ path('Disciplina_edit', { 'idCurso' : idCurso, 'id': entity.id }) }}">
    <span class="fa fa-edit"></span> Alterar Registro
</a>
<a class="btn btn-primary" href="{{ path('Curso_show', { 'id' : idCurso }) }}">
    <span class="fa fa-search"></span> Retornar para o Curso
</a>