{% extends '::base_list.html.twig' %}
{% block search -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path('Disciplina_new', {"idCurso": idCurso }) }}" class="btn btn-primary">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
            <a class="btn btn-primary" href="{{ path('Curso_show', { 'id' : idCurso }) }}">
                <span class="fa fa-search"></span> Retornar para o Curso
            </a>
        </div>
    </div>
{% endblock %}
{% block body -%}
    {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}
        {% block kit_grid_thead_column %}
            <th>Opções</th>
            {% endblock %}
            {% block kit_grid_tbody_column %}
            <td>
                <a class="btn btn-default" href="{{ path ("Disciplina_edit", {"idCurso": idCurso, "id": item['item.id']}) }}"><span class="fa fa-edit"></span></a>
                <a class="btn btn-default" href="{{ path ("Disciplina_show", {"idCurso": idCurso, "id": item['item.id']}) }}"><span class="fa fa-search"></span></a>
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}

