{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Gerenciar Disciplina</a></li>
                            <li><a href="#tab2" role="tab" data-toggle="tab">Gerenciar Aula</a></li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in" id="tab1">
                                {% include 'AdminBundle:Disciplina:disciplina.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                {% include 'AdminBundle:Disciplina:aula.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
