{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Idcursoofertado</td>
                                    <td>{{ entity.idCursoOfertado }}</td>
                                </tr>
                                <tr>
                                    <td>Datainicial</td>
                                    <td>{{ entity.dataInicial|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Datafinal</td>
                                    <td>{{ entity.dataFinal|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Endcep</td>
                                    <td>{{ entity.endCep }}</td>
                                </tr>
                                <tr>
                                    <td>Endcomplemento</td>
                                    <td>{{ entity.endComplemento }}</td>
                                </tr>
                                <tr>
                                    <td>Endnumero</td>
                                    <td>{{ entity.endNumero }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_Evento') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Ofertado_Evento_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
