{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensagem list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Conteudo</th>
                <th>Datahoracadastro</th>
                <th>Datahoraatualizacao</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Mensagem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.conteudo }}</td>
                <td>{% if entity.datahoraCadastro %}{{ entity.datahoraCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datahoraAtualizacao %}{{ entity.datahoraAtualizacao|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Mensagem_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('Mensagem_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('Mensagem_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
