{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th width="20%">Código</th>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th>Titulo</th>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <th>Conteudo</th>
                                    <td>{{ entity.conteudo|raw }}</td>
                                </tr>
                                <tr>
                                    <th>Datahoracadastro</th>
                                    <td>{{ entity.datahoraCadastro|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Datahoraatualizacao</th>
                                    <td>{{ entity.datahoraAtualizacao|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                                {% if entity.MensagemPessoa|length > 0 %}
                                    <tr>
                                        <th>Destinatários (Alunos) </th>
                                        <td>
                                            {% if entity.MensagemPessoa %}
                                                <table class="table table-mailbox">
                                                    <thead>
                                                    <h3>Dados dos contatos</h3>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                Aluno
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                        </tr>
                                                        {% for item in entity.MensagemPessoa %}
                                                            <tr>
                                                                <td>
                                                                    {{ item.idPessoa.pfNome }}
                                                                </td>
                                                                <td>
                                                                    {{ item.idPessoa.email }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if entity.MensagemEmailMarketing|length > 0 %}
                                    <tr>
                                        <th>Email Confirmado </th>
                                        <td>
                                            {% if entity.MensagemEmailMarketing %}
                                                <table class="table table-mailbox">
                                                    <thead>
                                                    <h3>Dados dos contatos</h3>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                Email
                                                            </th>
                                                        </tr>
                                                        {% for item in entity.MensagemEmailMarketing %}
                                                            <tr>
                                                                <td>
                                                                    {{ item.idEmailMarketing.email }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        {% if entity.mensagemTag %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>A mensagem foi enviada para as seguintes tags</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {% for item in entity.mensagemTag %}
                                                {% if item.status == 1 %}
                                                    <span class="label label-default"><span class="fa fa-tag"></span> {{ item.idTag.titulo}} </span> &nbsp;
                                                {% else %}
                                                    <span class="label label-danger"><span class="fa fa-close"></span> {{ item.idTag.titulo}} </span> &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% else %}
                            Não existem mensagens enviadas para tags
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <form action="{{ path('Mensagem_Tag_Array') }}" method="POST">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="pais">País:</label>
                                            <select class="form-control pais" name="pais">
                                                <option value="">[Selecione o País]</option>
                                                {% for item in paises %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="estado">Estado:</label>
                                            <select class="form-control estado" name="estado">
                                                <option value="">[Selecione o Estado]</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="cidade">Cidade:</label>
                                            <select class="form-control cidade" name="cidade">
                                                <option value="">[Selecione o Cidade]</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="nucleo">Núcleo:</label>
                                            <select class="form-control" name="nucleo">
                                                <option value="">[Selecione o núcleo]</option>
                                                {% for item in nucleos %}
                                                    <option value="{{ item.id }}">{{ item.titulo }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Enviar Tagas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="all" id="all" value="all" /> Selecionar Todas
                                            <input type="hidden" name="idMensagem" value="{{ entity.id }}" />
                                        </td>
                                    </tr>
                                    {% for item in tags %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="item" name="aceitar[]" value="{{ item.id }}" /> {{ item.titulo }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Bloquear Tags </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="all" id="all2" value="all" /> Recusar tags
                                        </td>
                                    </tr>
                                    {% for item in tags %}
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="item2" name="recusar[]" value="{{ item.id }}" />
                                                {{ item.titulo }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="mt">
                                <button type="submit" class="btn btn-default" value="enviar"><span class="fa fa-envelope-o"></span> Enviar para Tags</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('admin_home') }}">
                <span class="fa fa-envelope-o"></span> Caixa de Mensagens
            </a>
            <a class="btn btn-default" href="{{ path('Mensagem_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Mensagem
            </a>
        </div>
    </div>
    {% set msg = app.session.flashbag.get('msg') %}
    {% if msg %}
        <div id="msg" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Atenção</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            {% for item in msg %}
                                {{ item|raw }} <br />
                            {% endfor %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/utils/model.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/utils/controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('admin/js/utils/localizacao.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var controller = new Controller();

            $('.pais').change(function () {
                var pais = $('.pais option:selected').val();

                controller.getEstados('.estado', pais);
            });

            $('.estado').change(function () {
                var estado = $('.estado option:selected').val();

                controller.getCidades('.cidade', estado);
            });

            $('#all2').on('ifChecked', function () {
                $('.item2').iCheck('check');
            });
            $('#all2').on('ifUnchecked', function () {
                $('.item2').iCheck('uncheck');
            });
        });
    </script>
{% endblock %}