.carousel-control {
    left: -50px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 200px;
}
.carousel-control.right {
    right: -50px;
}

.container-slide {
    position:relative;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    background: #000000;
}

.carousel-indicators li {
    background: #cecece;
}

.container-slide .destaque h2, .container-slide .destaque h4 {
    color: #37A3F2;
}

.container-slide .destaque h2 {
    font-size: 40px;
}

.container-slide .destaque h4 {
    margin:0px;
    padding:5px 0px;
    font-size: 14px;
}

.carousel-indicators .active {
    background: #428bca;
}

.separador_plus{
    position: relative;
    float: left;
    margin: 40px -30px 0 -19px;
    padding: 0;
    z-index: 20;
    font-size: 60px;
    color: #00A85A;
}

.item {
    position: relative;
    float: left;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    width: 100%;
    height: 530px;
}

.middle {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;

    top: 50%;
    transform: translateY(-50%); 
}

.item {
    border: 1px solid #37A3F2;
    background: #fefefe;
}

.item img {
    display: block;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.item a:hover {
    text-decoration: none;
}

.slider .item:hover{
    border: 3px solid #709f42;
}

.slide_titulo_curso, .slide_subtitulo_curso, .slide_preco_curso, .slide_comprar_curso, .slide_comprar_curso_off {
    padding: 0px 5px;
    color: #555;
    text-align: center;
}
.slide_preco_curso {
    color: #00ad5f;
}
.slide_subtitulo_curso {
    margin-top: 20px !important;
}

.slide_comprar_curso, .slide_comprar_curso_off {
    padding: 10px;
    font-size: 30px;
    color: #FFF;
}

.slide_comprar_curso, .slide_comprar_curso_off:hover {
    background: #709f42;
}

.slide_comprar_curso:hover, .slide_comprar_curso_off{
    background: #37A3F2;
}

/* jssor slider bullet navigator skin 03 css */
/*
.jssorb03 div           (normal)
.jssorb03 div:hover     (normal mouseover)
.jssorb03 .av           (active)
.jssorb03 .av:hover     (active mouseover)
.jssorb03 .dn           (mousedown)
*/
.slider, .jssorb03 {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 1170px;
}
.jssorb03 {
    float: right;
    top: 535px;
}
.slider {
    float: left;
    cursor: move;
    height: 540px; 
    overflow: hidden;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
{
    background: url(/landpage/img/b05.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l              (normal)
.jssora03r              (normal)
.jssora03l:hover        (normal mouseover)
.jssora03r:hover        (normal mouseover)
.jssora03ldn            (mousedown)
.jssora03rdn            (mousedown)
*/
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(/landpage/img/a14.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03ldn { background-position: -243px -33px; }
.jssora03rdn { background-position: -303px -33px; }

.detalhe_curso {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.detalhe_curso a {
    color: #000 !important;
}
.detalhe_curso a:hover {
    color: #709f42 !important;
    text-decoration: underline;
}