body {
    background: #f2f2f2; 
}
.center {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: auto; 
    margin-top: auto;
}
.mt {
    margin-top: 20px;
}
.mt50 {
    margin-top: 50px;
}
