.apresentacao, .conteudo .destaque
{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 30px 0px;
    background: #11538C;
    border-bottom: 1px solid #FFF;
}

.apresentacao iframe {
    width: 100%;
    height: 370px;
}
.apresentacao .chamada p, 
.apresentacao .chamada strong, 
.apresentacao .chamada h3, 
.apresentacao .chamada span,
.btn_cadastro, .linkCadastro,
.sobre, 
.conteudo .chamada, 
.conteudo .destaque, 
.conteudo .destaque_simples,
.conteudo .slider_cursos
{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.apresentacao .chamada {
    text-align: center;
}
.apresentacao .chamada p, .apresentacao .chamada strong {
    font-size: 14px;
}
.apresentacao .chamada span {
    font-size: 10px;
}
.apresentacao .chamada h3 {
    font-size: 20px;
}
.sobre h2 {
    font-size: 41px;
}
.sobre h3 {
    font-size: 20px;
}
.sobre h4 {
    font-size: 16px;
}
.apresentacao .chamada p{
    margin: 0px;
}
.apresentacao .chamada h3 {
    margin: 5px 0px;
}
.apresentacao .chamada p, .apresentacao .chamada span {
    color: #37A3F2;
}
.apresentacao .chamada strong, 
.conteudo .chamada strong, 
.apresentacao .chamada h3, 
.sobre strong,
.conteudo .destaque_simples strong
{
    color: #FFF;
    font-weight: bold;
}

.btn_cadastro, .linkCadastro {
    width: 100%;

    background: #37A3F2;
    color: #FFF;
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
}

.btn_cadastro {
    padding: 5px 0px;
}

.linkCadastro {
    padding: 5px 30px;
}

.btn_cadastro:hover, .linkCadastro:hover {
    background: #11538C;
    color: #ffffff;
    text-decoration: none;
}

.apresentacao .rede {
    background: #FFF;
    padding: 10px 5px;
}
/* Apresentação */
.sobre, .conteudo .chamada, .conteudo .destaque, .conteudo .destaque_simples {
    position: relative;
    float: left; 
    margin: 0px;
    padding: 0px;
    width: 100%;    

    text-align: center;
}
.conteudo .chamada, .conteudo .destaque, .conteudo .destaque_simples {
    font-style: normal !important;
}
.conteudo .chamada p {
    font-size: 10px;
}
.conteudo .destaque_simples p {
    font-size: 12px;
}
.conteudo .destaque p {
    font-size: 12px;
}
.conteudo .destaque {
    padding: 20px 0px;
    color: #FFF;
}
/* banners sobre o curso de teologia */
.destaque-home-wrapper{
    width: 20%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.destaque-home-wrapper img{
    width:98%;
}
.black-font{
    color:#121212 !important;
}
.white-font{
    color:#ffffff !important;
}
.green-font{
    color:#A6CE39 !important;
}
.blue-font{
    color:#00AEEF !important;
}
.orange-font{
    color:#FFCB08 !important;
}
.slider_cursos {
    padding: 30px 0px;
    background: #000000;
}
.slider-title{
    font-size: 20px;
    font-weight: 100;
}
.slider-preco{
    color: #A6CE39;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -2px;
}
.slider-container{
    padding: 8px;
    background-color: #fff;
    border: 1px solid #eeeeee;
    cursor: pointer;
}
.slider-container:hover{
    border: 3px solid #A6CE39;
}
p.parag-section {
    font-size: 13px !important;
}
.carregando {
    background: url(/admin/img/ajax-loader.gif);
    display: none;
    width: 48px;
    height: 48px;
}