.carousel {
    margin-bottom: 0;
    padding-bottom: 10px;
}
/* The controlsy */
.carousel-control {
    left: -50px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 200px;
}
.carousel-control.right {
    right: -50px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
.box_fase{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 370px;
    height: 170px;
    background-color: #E6E7E9;
    text-align: center;
    border-radius: 15px;
}
.box_fase table{
    width: 100%;
    height: 100%;
}
.box_fase td{
    padding: 5px 20px;
}
.box_fase h1{
    margin:0;
    padding: 0;
    font-size: 55px;
}
.separador_plus{
    position: relative;
    float: left;
    margin: 40px -30px 0 -19px;
    padding: 0;
    z-index: 20;
    font-size: 60px;
    color: #00A85A;
}
.matricule{
    margin: 40px 30% 0 30%;
    width: 40%;
    padding: 10px 10%;
    background-color: #00A85A; 
    text-transform: uppercase; 
    color: #FFF; 
    font-weight: bold;
    font-size: 30px;
}