{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Curso Ofertado</td>
                                    <td>{{ entity.idCurso.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Arquivo</td>
                                    <td>{{ entity.imagem }}</td>
                                </tr>
                                <tr>
                                    <td>Imagem</td>
                                    <td><div class="col-xs-6 col-md-3"><img src="/files/cursos/{{ entity.imagem }}" width="300px"/></div></td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Curso_show', { "id": idCurso}) }}">
                <span class="fa fa-search"></span> Retornar para o Curso
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Imagem_new', { 'idCurso' : idCurso }) }}">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
            <a class="btn btn-default" href="{{ path('Curso_Imagem_edit', { 'idCurso' : idCurso, 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
