body
{
    background-color: #FFF;
   /*font-family: Roboto,sans-serif; */
}
img[src*="-icon.png"]{
    width: 40px;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 0px;
    float: left;
}
img[src*="teologia-pessoas"]{
    max-width: 800px;
    width: 100%;
}
img[src*="satisfacao-total"], img[src*="dinheiro-de-volta"]{
    max-width:200px;
}
img[src*="teologia-logo"]{
    height: 85px;
    margin-top: 50px;
    margin-bottom: 25px;
}
label {
    margin-right: 10px;
}
.no-padding{
	padding:0px !important;
}
.no-margin{
	margin:0px !important;
}
.mt {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt70 {
    margin-top: 70px !important;
}
.mt90 {
    margin-top: 90px !important;
}
.mt100 {
    margin-top: 100px !important;
}
.mb {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mb70 {
    margin-bottom: 70px !important;
}

/* Topo */
.navbar-default{
    background:#37A3F2;
    padding-bottom: 10px;
}
.navbar-default:after{
    background:#37A3F2;
}
/* Hover Menu */
.navbar-default .navbar-nav>li>a:hover{
    color:#FFF !important;
    background:#11538C !important;
}

.navbar-default .item_sub:hover ul li a{
    background:#16a085;
}
.navbar-default .item_sub:hover > a,
.navbar-default .item_sub:hover ul li a:hover{
    background:#0e8b73;
}

.navbar-default .navbar-toggle {
    background: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
    background-color: #000;
}



/* Logo IBI */
.navbar-header .navbar-brand
{
    display: inline-block;
    height: 80px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 270px;
}

.navbar-brand img {
    position: absolute;
    top: 5px;
    left: 30px;
}

.navbar-brand-ibi{
    position: relative;
    float: left;
    width: 260px;
    height: 100px;
    top: -20px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    background: #FFF;

    border: 3px #37A3F2 solid;
    border-radius: 0 0 15px 15px;
}
.navbar-brand-ibi:hover{
    box-shadow: 0 1px 14px 0 #99a3ad,inset 0 0 40px #eee;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover
{
    background: 0 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    moz-transition: all .2s ease-in-out;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0,0,0,.6);
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.navbar-default .navbar-nav>.active>a.sub_item,.navbar-default .navbar-nav>.active>a.sub_item:focus,.navbar-default .navbar-nav>.active>a.sub_item:hover
{
    padding-bottom: 15px;
}

.navbar-default .navbar-nav>li>a
{
    color: #fff;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form
{
    border: 0;
}

.nav>li>a.foto
{
    padding: 5px 10px;
}

.navbar-default .navbar-nav>.dropdown>a .caret
{
    border-bottom-color: #000000;
    border-top-color: #000000;
}

.navbar-default .navbar-nav>.dropdown>a:focus .caret,.navbar-default .navbar-nav>.dropdown>a:hover .caret
{
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a.foto:hover
{
    color:#FFF !important;
    background:#000000 !important;
}

.caret span{
    color: #000000 !important;
}
.caret span:hover {
    color: #FFF!important;
}
#login-nav input { margin-bottom: 15px; }

/*.carrinho:hover > a{
    background:#0e8b73!important;
}

 Bodar Topo Carrinho e Notificações 
.carrinho:hover .itens_carrinho{
    border:1px #16a085 solid;
    border-top:none;
}*/

/* Botão Personalizado */
/*.btn-custom{
    background-color: #e98d21;
    border-color: #e98d21;
    color:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #E46F19;
    border-color: #E46F19;
    color:#fff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #16a085;
    border-color: #16a085;
}*/

/* Bg Sobre Tutor */
/*.sobre_tutor{
    background:#16a085;
}
.sobre_tutor:after{
    border-color: rgba(26, 117, 206, 0);
    border-bottom-color: #16a085;
}*/


/* Rodapé */
/* Ícones */
/*.rodape .siga a i{
    color:#16a085;
}*/

/*IDS*/
#menu-top-links{
    width: 45%;
    float:right;
}
#menu-top-links>li>a, .navbar-header a{
    color:#ffffff !important;
    font-weight: 100;
}
#menu-top-links>li>a:hover, #menu-top-links>li>a:active, #menu-top-links>li>a:focus{
    color:#ffffff !important;
    border-bottom:5px solid #ffffff;
    font-weight: 100;
    background-color:#231F20 !important;
}
#copyright-footer{
    background-color: #37A3F2;
    width: 60%;
    margin-left: 20%;
    border-radius: 6px 6px 0px 0px;
    padding: 5px;
    border: none;
}
#copyright-footer span{
    color:#FFF;
    font-size: 10px;
    text-align: center;
    display: block;
}
#banner-home{
    background: url(../imgs/home-banner.jpg) no-repeat center top;
    height: 635px;
    background-size: 100%;
}
#chamada-home{
    min-height: 350px;
    margin-top: 40px;
    background-color: #ffffff;
    padding: 10px 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #cccccc;
}
#chamada-home p{
    text-align:center;
    font-size:18px;
}
#chamada-home h3{
    font-size: 20px;
    color: #00AEEF;
    font-weight: 700;
    text-align: center;
}
#chamada-home h4{
    text-align: center;
}
#chamada-home span{
    font-size: 9px;
}
#chamada-home label{
    font-size: 11px;
}
#chamada-home input[type="text"]{
    border: 1px solid #000000;
    border-radius: 2px;
    height: 35px;
    padding-left: 10px;
    width: 100%;
    outline: none;
    border-radius: 6px;
}
#chamada-parag-email{
    line-height: 12px;
    font-size: 7px !important;
    font-weight: bold;
}
#title-boleto{
    font-size: 55px;
    color: #000000;
}
#email-boleto{
    border: 1px solid #ccc;
    height: 35px;
    padding-left: 10px;
    border-radius: 3px;
    margin-left: 15px;
    outline:none;
    color:#000000;
    width: 40%;
}
#imprimir-btn{
    border: none;
    height: 35px;
    padding: 5px 20px;
    background-color:#4EA655;
}
#network-btn{
    width:100%;
    height:65px;
    font-size:30px;
}
#quem-somos-body{
    background-color:#f7f7f7;
}
#quem-somos-body>.container{
    background-color:#ffffff;
}
#links-footer-container{
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #37A3F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.links-footer{
    font-size: 22px;
    color:#FFFFFF;
}
.links-footer:hover{
    color:#11538C;
    text-decoration: none;
}
.orange-section-bg{
    position: relative;
    float: left;
    width: 100%;
    border-radius: 5px;
    background-color: #37A3F2;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: -webkit-baseline-middle;
}
.offset-bg{
    background-color:#FFF;
}
.offset-bg .rede_social img {
    width: 39px;
}
.social-title{
    margin-top: 50px;
    font-size: 17px;
    z-index: 999;
    color: #000000;
}
.social-links{
    color: #000000;
    display: block;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}
/*FOOTER*/
footer{
    background-color: #11538C;
    min-height: 250px;
    color:#ffffff;
    padding-top: 30px;
}
footer img[src*="logo"]{
    width: 80%;
    max-width: 180px;
    margin-left: 10%;
}
footer h3{
    font-size: 20px;
    font-weight: normal;
    color: #37A3F2;
}
footer a{
    color:#ffffff;
    text-decoration: underline;
}
footer a{
    color:#ffffff;
    text-decoration: underline;
}
footer p{
    color: #FFF;
    font-size:11px;
}
footer ul{
    list-style: none;
    background-color: #37A3F2;
    border-radius: 10px;
    padding: 9px 20px;
}
footer ul, footer li, footer h3 {
    color: #FFF;
}
footer ul>h3{
    margin-top: 5px;
}

@media(min-width:320px) and (max-width:767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        background-color:#000000;
    }
}
@media(min-width:768px) and (max-width:991px){
    .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
        font-size: 16px !important;
    }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 530px){
    footer img[src*="logo"]{
        width: 60%;
        max-width:inherit;
        margin-left: 20%;
    }
    .destaque-home-wrapper {
        width: 100% !important;
    }
}
@media screen and (max-width: 768px){
    #banner-home{
        background-size:cover;
    }
    footer ul{
        clear: both;
        margin-top: 20px;
    }
    .navbar-nav {
        margin: 21.5px -15px !important;
    }
    img[src*="satisfacao-total"], img[src*="dinheiro-de-volta"]{
        width: 50%;
    }
    #copyright-footer {
        width: 100%;
        margin-left: 0;
    }
    #title-boleto{
        font-size:35px;
    }
    #network-btn{
        width:80%;
        height:60px;
        font-size:30px;
    }
    .destaque-home-box h3 {
        font-size: 16px;
    }
    .box-missao-qs {
        min-height: 1px !important;
        border: 1px solid #eeeeee;
    }
    .box-missao-qs p{
        height: auto;
    }
    .destaque-home-wrapper {
        width: 50%;
    }
    .destaque-border {
        height: 280px;
    }
    .separator-plus {
        left: 94%;
        display:none !important;
    }
}

@media screen and (min-width: 768px) and (max-width:990px){
    #banner-home {
        background-size: 170%;
    }
    #title-boleto{
        font-size:30px;
    }
    .box-missao-qs {
        min-height: 1px !important;
        border: 1px solid #eeeeee;
    }
    .box-missao-qs p{
        height: auto;
    }
    .destaque-home-wrapper{
        width:33.3333333%;
    }
    .destaque-home-wrapper:nth-child(4){
        margin-left: 16.666666%;
    }
    img[src*="teologia-logo"]{
        float:right;
    }
    #menu-top-links {
        width: 60%;
    }
}
@media  screen and (max-width: 400px){
    .navbar-header .navbar-brand img {
        max-width: 90%;
    }
}
.list_footer {
	color: #FFF !important;
}