{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Identificador</td>
                                    <td>{{ entity.identificador }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="{{ path('Mensagem_email_new', {'idEmailMarketing' : entity.id }) }}" target="_blank"><span class="fa fa-envelope-o"></span> {{ entity.email }}</a></td>
                                </tr>
                                <tr>
                                    <td>Tags</td>
                                    <td>
                                        <div style="margin-top: 5px;">
                                        {% if entity.pessoa %}
                                            <span class="label label-primary"><span class="fa fa-plus"></span> Cadastrado</span> <br />
                                        {% endif %}
                                        {% for tag in entity.tags %}
                                            <span class="label label-primary"><span class="fa fa-plus"></span> {{ tag.idTag.titulo }}</span> <br />
                                        {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-default" href="{{ path('EmailMarketing') }}">
                        <span class="fa fa-list-alt"></span> Retornar para listagem
                    </a>
                    <a class="btn btn-default" href="{{ path('EmailMarketing_edit', { 'id': entity.id }) }}">
                        <span class="fa fa-edit"></span> Alterar Registro
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            {% if entity.Pessoa %}
                {% set Pessoa = entity.Pessoa %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="20%">Código</td>
                                        <td width="80%">{{ Pessoa.id }}</td>
                                    </tr>
                                    {% if Pessoa %}
                                        <tr>
                                            <td>Nome</td>
                                            <td>{{ Pessoa.pfNome }}</td>
                                        </tr>
                                        <tr>
                                            <td>CPF</td>
                                            <td>{{ Pessoa.pfCpf }}</td>
                                        </tr>
                                        <tr>
                                            <td>Celular</td>
                                            <td>{{ Pessoa.celular }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tags</td>
                                            <td>
                                                <div style="margin-top: 5px;">
                                                {% if Pessoa.tags %}
                                                    {% for tag in Pessoa.tags %}
                                                        <span class="label label-primary"><span class="fa fa-plus"></span> {{ tag.idTag.titulo }}</span> <br />
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="label label-default"><span class="fa fa-exclamation-circle"></span> Não possui tags</span>
                                                {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>Razão Social: </td>
                                            <td>{{ Pessoa.pjRazaoSocial }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nome Fantasia: </td>
                                            <td>{{ Pessoa.pjNomeFantasia }}</td>
                                        </tr>
                                        <tr>
                                            <td>CNPJ: </td>
                                            <td>{{ Pessoa.pjCnpj }}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {% if Pessoa.tipoPessoa == 1%}
                            <a class="btn btn-default" href="{{ path('Pessoa_Fisica_show', { "id" : Pessoa.id }) }}">
                                <span class="fa fa-plus"></span> Visualizar Perfil 
                            </a>
                        {% else %}
                            <a class="btn btn-default" href="{{ path('Pessoa_Juridica_show', { "id" : Pessoa.id }) }}">
                                <span class="fa fa-plus"></span> Visualizar Perfil 
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <a class="btn btn-default" href="{{ path('Pessoa_Fisica_new', { "idEmailMarketing" : entity.id }) }}">
                            <span class="fa fa-plus"></span> Adicionar Pessoa Física
                        </a>
                        {#<a class="btn btn-default" href="{{ path('EmailMarketing') }}">
                            <span class="fa fa-plus"></span> Adicionar Pessoa Jurídica
                        </a>#}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
