{% extends 'front.html.twig' %}
{% block body %}
    <section class="sub-banner sub-banner-course mt70">
        <div class="awe-static bg-sub-banner-course"></div>
        <div class="container">
            <div class="sub-banner-content">
                <h2 class="text-center"><span class='fa fa-graduation-cap'></span> {{ titulo }}</h2>
            </div>
        </div>
    </section>

    <!-- COURSE -->
    <section class="course-top">
        <div class="container">
            <div class="row">
                <div class="breadcrumb mt30 mb20">
                    <a href="{{ path('home_homepage') }}">Home</a> / {{ titulo }}
                </div>
                {{ conteudo.texto|raw }}
            </div>
        <div>
    </section>
    {% include "AmbienteAlunoBundle:Curso:cadastro.html.twig"  %}
    {% include "HomeBundle:Home:cursos2.html.twig" %}
{% endblock %}