{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.idBairro }}</td>
                                </tr>
                                <tr>
                                    <td>Bairro</td>
                                    <td>{{ entity.bairro }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Cep_Bairro') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
        </div>
    </div>
{% endblock %}
