{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Tipopessoa</td>
                                    <td>{{ entity.tipoPessoa }}</td>
                                </tr>
                                <tr>
                                    <td>Pjcnpj</td>
                                    <td>{{ entity.pjCnpj }}</td>
                                </tr>
                                <tr>
                                    <td>Pjinscestadual</td>
                                    <td>{{ entity.pjInscEstadual }}</td>
                                </tr>
                                <tr>
                                    <td>Pjinscmunicipal</td>
                                    <td>{{ entity.pjInscMunicipal }}</td>
                                </tr>
                                <tr>
                                    <td>Pjrazaosocial</td>
                                    <td>{{ entity.pjRazaoSocial }}</td>
                                </tr>
                                <tr>
                                    <td>Pjnomefantasia</td>
                                    <td>{{ entity.pjNomeFantasia }}</td>
                                </tr>
                                <tr>
                                    <td>Pjcontato</td>
                                    <td>{{ entity.pjContato }}</td>
                                </tr>
                                <tr>
                                    <td>Pjsite</td>
                                    <td>{{ entity.pjSite }}</td>
                                </tr>
                                <tr>
                                    <td>Celular</td>
                                    <td>{{ entity.celular }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ entity.email }}</td>
                                </tr>
                                <tr>
                                    <td>Dicasenha</td>
                                    <td>{{ entity.dicaSenha }}</td>
                                </tr>
                                <tr>
                                    <td>Senha</td>
                                    <td>{{ entity.senha }}</td>
                                </tr>
                                <tr>
                                    <td>Biografia</td>
                                    <td>{{ entity.biografia }}</td>
                                </tr>
                                <tr>
                                    <td>Datacadastro</td>
                                    <td>{{ entity.dataCadastro|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Pessoa_Juridica') }}">
                <span class="fa fa-list-alt"></span> Retornar para listagem
            </a>
            <a class="btn btn-default" href="{{ path('Pessoa_Juridica_edit', { 'id': entity.id }) }}">
                <span class="fa fa-edit"></span> Alterar Registro
            </a>
        </div>
    </div>
{% endblock %}
