{% extends '::base_list.html.twig' %}
{% block search -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="{{ path('Tabela_Preco_new') }}" class="btn btn-primary">
                <span class="fa fa-plus"></span> Novo Registro
            </a>
        </div>
    </div>
{% endblock %}
{% block body -%}
    {% embed kitpages_data_grid.grid.default_twig with {'grid': grid} %}
        {% block kit_grid_thead_column %}
            <th>Opções</th>
        {% endblock %}
        {% block kit_grid_tbody_column %}
            <td>
                <a class="btn btn-default" href="{{ path ("Tabela_Preco_edit", {"id": item['item.id']}) }}"><span class="fa fa-edit"></span></a>
                <a class="btn btn-default" href="{{ path ("Tabela_Preco_show", {"id": item['item.id']}) }}"><span class="fa fa-search"></span></a>
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}

