{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Valor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="20%">Código</td>
                                <td width="80%">{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <td>Núcleo</td>
                                <td>{{ entity.idNucleo.titulo }}</td>
                            </tr>
                            <tr>
                                <td>Aluno</td>
                                <td>{{ entity.idPessoa.pfNome }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ entity.returnStatus() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default"
               href="{{ path('Nucleo_show', {'id' : entity.idNucleo.id, 'idPessoa' : entity.idNucleo.idPessoa.id }) }}">
                <span class="fa fa-home"></span> Retornar para o núcleo
            </a>
            <a class="btn btn-default" href="{{ path('Pessoa_show', { 'id': entity.idPessoa.id }) }}">
                <span class="fa fa-user"></span> Retornar para o perfil do aluno
            </a>
            <a class="btn btn-default"
               href="{{ path('NucleoPessoa_delete', { 'id': entity.id, 'idPessoa' : entity.idPessoa.id }) }}">
                <span class="fa fa-close"></span> Remover aluno do núcleo
            </a>
        </div>
    </div>
{% endblock %}
