.content {
    background: #f2f2f2;
}
.content_body{
    position:relative;
    float:left;
    width: 100%;
    background-color: #FFF;
    padding: 0px 10px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}