.ofertar, .cursoOfertado, .cursoOfertado .conteudo, .conteudo .botao {
    position: relative;
    padding: 0px;
    width: 100%;
    float: left;
}

.ofertar {
    margin: 0px 0px 0px 0px;
    top: -6px;
    height: 370px;
    background: #000 !important;
}

.cursoOfertado {
    margin: 35px 0px 0px 0px;  
}

.cursoOfertado img {
    border: 10px #FFF solid;
    width: 270px;
}

.cursoOfertado .conteudo {
    background: #FFF;
}

.conteudo {
    font-size: 18px;
}

.conteudo {
    text-align: center;
}

.content {
    background: #f2f2f2;
}
.content_body {
    top: -5px;
    background: #FFF;
}
.content_body, .content_cronograma, .content_especificacao {
    position: relative;
    float:left;
    margin: 0px;
    padding: 0px 40px;
    width: 100%;
}

.content_cronograma {
    background: #f2f2f2;
}

.content_cronograma {
    background: #d2d3d5;
}
.content_cronograma .titulo {
    background: url(../img/img_titulo_cronograma.png) no-repeat;
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.conteudo .destaque {
    padding: 1px 0px 5px 0px;
    margin: 5px 0px;
    background: #ec3237;
    color: #FFF;
}

.conteudo .botao {
    width: 100%;
    padding: 5px 0px;
    background: #a9cf46;
    color: #FFF;
}

.conteudo .botao:hover {
    background: #99bd38;
    text-decoration: none;
}

