.mt {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt_box {
    margin-top: 80px !important;
}

.mb {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.navbar-default .navbar-nav>.dropdown>a .caret
{
    border-bottom-color: #000000;
    border-top-color: #000000;
}

.navbar-default .navbar-nav>.dropdown>a:focus .caret,.navbar-default .navbar-nav>.dropdown>a:hover .caret
{
    border-bottom-color: #000;
    border-top-color: #000;

}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a.foto:hover
{
    color:#000 !important;
    background:#FFF !important;
    border-radius: 5px;
    padding: 5px 10px;
}

.dropdown-menu {
    border-radius: 5px;
    border: none;
    background: #FFF !important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 2px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-primary {
    background: #00aff0 !important;
    border: 1px solid #00aff0 !important;
}

.btn-primary:hover {
    background: #0297cf !important;
    border: 1px solid #0297cf !important;
    color: #FFF !important;
}

.btn-success {
    background: #37ABF2 !important;
    border: 1px solid #37ABF2 !important;
}

.btn-success:hover {
    background: #14548E !important;
    border: 1px solid #14548E !important;
    color: #FFF !important;
}

.btn-warning {
    background: #37A3F2 !important;
    border: 1px solid #37A3F2 !important;
}

.btn-warning:hover {
    background: #14548E !important;
    border: 1px solid #14548E !important;
    color: #FFF !important;
}

.form ul {
    margin: 0px;
    padding:0px;
    list-style: none;
}

.form li {
    color: #a94442;
}

.body {
    background: #E6E7E9;
}

.row {
    padding: 0px 20px !important;
}

a.tab {
    color: #555 !important;
}

.form ul {
    margin: 0px;
    padding:0px;
    list-style: none;
}

.form li {
    color: #a94442;
}

.carregando {
    background: url(/admin/img/ajax-loader.gif);
    display: none;
    width: 48px;
    height: 48px;
}

#dados {
    display: none;
}

/*.bairro, .endereco, .cidade, .uf, .linha {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px 5px 0px 0px;
    width: auto;
}*/

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
.corpo_interna{
    background-color: #FFF;
    border: 1px solid #ddd;
    padding: 20px;
}
body{
    background-color: #FFF !important;
}
.subfooter {
    padding: 20px 0px 0px 0px;
    background: #FFF;
}
.redessociais, .redessociais li, .redessociais ul {
    position:relative;
    float: left;
    margin: 0;
    padding: 0;
}
.redessociais{
    width: 100%;
}

.redessociais a {
    color: #555;
    font-size: 13px;
    text-align: center;
}

.redessociais li{
    width: 25%;
    list-style: none;
}
.redessociais img{
    width: 40px;
    margin: 0px;
}
.menubottom{
    position:relative;
    float: left;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #F1F1F1;
    border-radius: 20px 20px 0 0;
    font-size: 24px;
}
.menubottom ul{
    position:relative;
    float: left;
    margin: 15px 0;
    padding: 0 150px;
    width: 100%;
    list-style: none;
    text-align: center;
}
.menubottom li{
    position:relative;
    float: left;
    padding: 10px 0;
    margin: 0;
    width: auto;
    font-size: 22px;
}
.creditos{
    position:relative;
    float: left;
    margin: 0 24%;
    padding: 5px 20px;
    width: auto;
    height: auto;
    background-color: #F1F1F1;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
body {
    background: #e6e7e9 !important;
}
.sugestao_curso, .sugestao_curso_fundo, .sugestao_curso_texto {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}
.sugestao_curso {
    width: 100%;
    height: 400px;
    background: #000;
}
.sugestao_curso_fundo {
    width: 100%;
    height: 400px;
    background: #000;

    color: #FFF;

    background: url(/ava/img/bg_black.png) repeat;
}

.sugestao_curso_texto .titulo, 
.sugestao_curso_texto .chamada, 
.sugestao_curso_texto .texto, 
.sugestao_curso_texto .detalhe, 
.sugestao_curso_texto .destaque, 
.sugestao_curso_texto .link, 
.sugestao_curso_texto .observacao {
    position: relative;
    float: left;
    margin: 0px;
    width: 100%;
    color: #FFF;
    text-align: center !important;
} 

.sugestao_curso_texto .titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.sugestao_curso_texto .chamada {
    margin-bottom: 10px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    background: url(/ava/img/bg_orange.png) repeat;
}
.sugestao_curso_texto .texto {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.sugestao_curso_texto .detalhe ul {
    list-style: none;
}
.sugestao_curso_texto .detalhe li {
    position: relative;
    float: left;
    margin: 0px 35px;
    padding: 0px;
    font-size: 18px;
}
.sugestao_curso_texto .destaque {
    font-size: 45px;
    font-weight: bold;
    color: #01a85a;
}
.sugestao_curso_texto .link {
    margin-bottom: 5px;
}
.sugestao_curso_texto .link a {
    background: url(/ava/img/bg_green.png) repeat;
    color: #FFF;
    padding: 0px 100px;
    width: 80%;
    font-size: 20px;
    text-decoration: none;
} 

.sugestao_curso_texto .link a:hover {
    background: #14548E;
} 

.itemCurso {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.itemCurso {
    border: 1px solid #555;
    background: #fefefe;
}

.itemCurso img {
    width: 100%;
}

.itemCurso a:hover {
    text-decoration: none;
}

.itemCurso_titulo_curso h3 {
    font-size: 22px !important;
}

.itemCurso_titulo_curso, .itemCurso_subtitulo_curso, .itemCurso_preco_curso, .itemCurso_comprar_curso {
    padding: 0px 5px;
    color: #555;
    text-align: center;
}
.itemCurso_preco_curso {
    color: #00ad5f;
}
.pendente{
    color: #ec3237 !important;
}
.itemCurso_subtitulo_curso {
    margin-top: 20px !important;
}

.itemCurso_comprar_curso {
    padding: 10px;
    font-size: 30px;
    color: #FFF;
}

.itemCurso_comprar_curso {
    background: #37ABF2;
}

.itemCurso_comprar_curso:hover {
    background: #99bd38;
}

.botaoCursoComprado {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: #FFF;
    background: #ff6600;
}

.botaoCursoComprado:hover {
    background: #e15a00;
}

.container-slide {
    width: 100%;
    padding: 40px 0px 10px 0px;
    background: #d2e287;
}

/*meu css*/
.body_ava{
    background:#FFF;
    /*    margin: 18px 0 10px 0;*/
}
.body_ava .user-ava{
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.alpha{
    margin-left:0 !important;
}
.omega{
    margin-right:0 !important;
}
.padding-alpha{
    padding-left:0 !important;
}
.padding-omega{
    padding-right:0 !important;
}
.info-user{
    margin-top: 21px;
    font-size: 10px;
}
.clock{
    color:#33b495;
    font-size: 83px;
}
.player-user{
    color:#479ced;
    font-size: 83px;
}
.chart-user{
    color:#ff795c;
    font-size: 83px;
}
.next-curso, .anterior-curso, .indice-curso{
    background:#b4c833;
    font-size: 30px;
    color:#FFF;
    margin-top: 20px;
    margin-left: 9px;
}
.next-curso:hover, .anterior-curso:hover, .indice-curso:hover {
    background: #99bd38;
    text-decoration: none !important;
}
.indice-curso{
    background:#46a3ff !important;
    margin-left: 0 !important;
}
.anterior-curso{
    background:#ff6600 !important;
}
span.title-chat{
    font-size: 12px;
    font-weight: bold;
}
.padding-top{
    padding-top: 10px;
}
.padding-bottom{
    padding-bottom: 10px;
}

.calendario{
    border: 1px solid #848484;
    margin: 13px 0;
}
.calendario *{
    color:#090909;
}
.calendario .data{
    border: 0;
}
table.calendario td{
    text-align: center;
}
.dias-write td{
    
    height: 88px;
    text-align: center;
}
.dias-write td div{
    width:30px;
    font-size:12px;
    text-align: center;
    padding:0 !important;
    margin:0;
/*    -moz-transform:rotate(-90deg);
    -webkit-transform: rotate(-90deg);*/
/*    position: relative;*/
    top: 17px;
    float: left;
    left: -15px;
}
.green-color{
    background:#99cc33;
    text-align: center;
}
.ciano-color{
    background:#00ccff;
    text-align: center;
}
.ciano-color-cor{
    color:#00ccff;
    text-align: center;
}
.red-color{
    background:#ec3237;
    text-align: center;
}
.red-write{
    color:#ce4844;
    text-align: center;
}
.yellow-color{
    background:#ffcc00;
    text-align: center;
}
.black-color{
    background:#000;
    color:#fff;
    text-align: center;
}
.red-color{
    background:#ec3237;
    color:#fff;
    text-align: center;
}
.white-color{
    background:#FFF;
    color:#fff;
    text-align: center;
}
.ui-progressbar {
    position: relative;
    margin-bottom: 0px !important;
    top: 7px !important;
}
.progress-label {
    position: absolute;
    left: 50%;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.aulas-content{
    font-size:15px;	
}
.backpadrao, .backpadrao tr{
    background: #e6e7e9;
}
/*passo2*/
.user-question{
    text-align: center;
    font-size: 22px;
}
.user-question img{
    -webkit-border-radius: 100%;
    border-radius: 100%;	
    margin: 10px 0 0 0;
}
.user-question span{
    font-size: 30px !important;
    font-weight:bold;
}
.pergunta div{
    padding-top: 10px;
}

.box-avaliacao{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 1px 1px #7D7D7D;
    box-shadow: 0 0 1px 1px #7D7D7D;
}
.bg-warning-aling{
    text-align:center;
    padding: 3px;
}

.btn-pergunta{
    color: #707E46 !important;
    font-weight: bold;
}
.funcao-perguntas{
    display: table;
    padding-bottom: 5px;
}
.funcao-perguntas i{
    font-size: 23px;
    padding: 0 4px ;
}
.funcao-perguntas span, .funcao-perguntas a{
    color:#E1E1E1; 
    font-size: 17px;
}
.funcao-perguntas a{
    text-decoration:underline !important;	
}
.comments{
    border-bottom:1px solid #E1E1E1;
}
.comments-childrem{
    margin-top: 15px;
    width: 93.333333%;
    margin-left: 7.7777777%;
}
.comments-childrem .date-years{
    padding-left: 412px;
}
.label-avaliacao{
    padding: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
.box-avaliacao{
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;	
}
.box-form{
    padding-bottom:50px; 
    margin-bottom:50px; 
    border-bottom:1px solid #d5d5d5;
}
.box-title{
    padding: 10px 0; 
    border-bottom: 1px solid #d5d5d5; 
    margin-bottom: 20px;	
}
.usuario_home, .aluno_home {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 610px;

    
}
.usuario_home {
    background: url('/home/img/home.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.aluno_home {
    background: url('/home/img/home_aluno.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.aluno_home h1 {
    font-size: 100px;
    text-align: left;
    padding-left: 40px; 
}

.usuario_home .bg_white, .aluno_home .bg_white {
    position: relative;
    float: left;
    margin: 20px;
    padding: 10px;

    width: 520px;
    height: 570px;

    background: url('/home/img/bg_white.png');
    background-size: 100%;
    background-repeat: repeat;
}

.apresentacao {
    padding: 20px 0px 10px 0px;
}
.apresentacao .destaque {
    padding: 0px 0px 7px 0px;
}
.apresentacao, 
.apresentacao .destaque, 
.apresentacao .destaque .titulo,
.apresentacao .destaque .subtitulo,
.apresentacao .destaque .link,
.apresentacao .destaque .conteudo,
.apresentacao .destaque .detalhe,
.apresentacao .destaque .observacao {
    position: relative;
    float: left;
    margin: 0px;
    width: 100%;

    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
    z-index: 999 !important;
}
.apresentacao, .apresentacao .titulo {
    background: #11538C;
    color: #FFF;
}
.apresentacao .subtitulo {
    background: #37A3F2;
    color: #FFF;
}
.apresentacao .destaque, 
.apresentacao .simples, 
.apresentacao .detalhe,
.apresentacao .link,
.apresentacao .observacao
{
    background: #FFF;
    color: #000;
}
.apresentacao .conteudo {
    padding-top: 5px;
    font-size: 9px;
}
.apresentacao .subtitulo, 
.apresentacao .titulo, 
.apresentacao .conteudo {
    padding: 3px 0px;
}
.apresentacao .titulo {
    font-size: 18px;
    font-weight: bold;
}
.apresentacao .cabecalho {
    padding: 3px 20px;
    text-align: left;
}
.apresentacao .cabecalho h2 {
    margin: 0px;
    padding: 10px 0px;
}
.apresentacao .detalhe ul, .apresentacao .detalhe li{
    position: relative;
    float: left;
}
.apresentacao .detalhe ul {
    padding: 0px;
}
.apresentacao .detalhe li {
    padding: 0px 12px;
}
.apresentacao .detalhe ul, .apresentacao .detalhe li{
    margin: 0px;
    list-style: none;
}
.apresentacao .detalhe ul {
    width: 100%;
}
.apresentacao .observacao {
    font-size: 10px;
}
.destaque .link {
    padding: 10px;
    font-size: 14px;
    background: #37A3F2;
    width: 300px;
}
/*.destaque .link:hover {
    background: #000 !important;
    text-decoration: none !important;
    color: #FFF !important;
}
.destaque .link a:hover {
    color: #FFF !important;
}*/
.apresentacao iframe {
    width: 100%;
    height: 360px;
}

.rotate {
    text-align: center !important;
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}