{% extends "AdminBundle:Default:form.html.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block body_footer %}
    <a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso })}}"><span class="fa fa-search"></span> Visualizar Curso</a>
    <a class="btn btn-default" href="{{ path('Curso')}}"><span class="fa fa-search"></span> Listar Cursos</a>
    <a class="btn btn-default" href="{{ path('admin_curso_forum_listar', { 'idCurso' : idCurso}) }}"><span class="fa fa-list-ul"></span> Listar Registros</a>
{% endblock %}