{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Campo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="20%">Código</td>
                                    <td width="80%">{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>Tabela de Preços</td>
                                    <td>{{ entity.idTabelaPreco.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Responsável</td>
                                    <td>{{ entity.idPessoa.pfNome }}</td>
                                </tr>
                                <tr>
                                    <td>Titulo</td>
                                    <td>{{ entity.titulo }}</td>
                                </tr>
                                <tr>
                                    <td>Órdem</td>
                                    <td>{{ entity.ordem }}</td>
                                </tr>
                                <tr>
                                    <td>Slug</td>
                                    <td>{{ entity.slug }}</td>
                                </tr>
                                <tr>
                                    <td>Duracao</td>
                                    <td>{{ entity.duracao }} dias</td>
                                </tr>
                                <tr>
                                    <td>Horas/Aula</td>
                                    <td>{{ entity.horaAula }}</td>
                                </tr>
                                <tr>
                                    <td>Crédito(s)</td>
                                    <td>{{ entity.credito }}</td>
                                </tr>
                                <tr>
                                    <td>Destaque</td>
                                    <td>{{ entity.destaque|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Apresentação</td>
                                    <td>{{ entity.apresentacao }}</td>
                                </tr>
                                <tr>
                                    <td>Chamada</td>
                                    <td>{{ entity.chamada|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Descrição</td>
                                    <td>{{ entity.descricao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Objetivo</td>
                                    <td>{{ entity.objetivo|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Área de Atuação</td>
                                    <td>{{ entity.areaAtuacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Publico Alvo</td>
                                    <td>{{ entity.publicoAlvo|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Material Didático</td>
                                    <td>{{ entity.materialDidatico|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Certificação</td>
                                    <td>{{ entity.certificacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Avaliação</td>
                                    <td>{{ entity.avaliacao|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Tutoria</td>
                                    <td>{{ entity.tutoria|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Tecnologia</td>
                                    <td>{{ entity.tecnologia|raw }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ entity.returnStatus() }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-default" href="{{ path('Curso') }}">
                        <span class="fa fa-list-alt"></span> Retornar para listagem
                    </a>
                    <a class="btn btn-default" href="{{ path('Curso_edit', { 'id': entity.id }) }}">
                        <span class="fa fa-edit"></span> Alterar Registro
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <a href="{{ path('Disciplina_new', {"idCurso": entity.id }) }}" class="btn btn-primary mb20">
                <span class="fa fa-plus"></span> Nova Disciplina
            </a>
            {% if entity.Disciplina|length > 0 %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Aula</th>
                                        <th>Semana</th>
                                        <th>Status</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in entity.disciplina %}
                                        <tr>

                                            <td>
                                                {{ item.titulo }}
                                            </td>
                                            <td>
                                                {{ item.returnAula }}
                                            </td>
                                            <td>
                                                {{ item.returnSemana }}
                                            </td>
                                            <td>
                                                {{ item.returnStatus }}
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Disciplina_show", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-search"></span></a>
                                                <a class="btn btn-default" href="{{ path ("Disciplina_edit", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-edit"></span></a>
                                                    {% if item.status == 1 %}
                                                    <a class="btn btn-danger" href="{{ path ("Disciplina_delete", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-close"></span></a>
                                                    {% else %}
                                                    <a class="btn btn-success" href="{{ path ("Disciplina_restaurar", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-check"></span></a>
                                                    {% endif %}
                                                <a class="btn btn-primary" href="{{ path ("Disciplina_Aula_new", {"idCurso": entity.id , "idDisciplina": item.id }) }}"><span class="fa fa-plus"></span> Conteúdo</a>
{#                                                <a class="btn btn-primary" href="{{ path ("Avaliacao_Questao_Disciplina_new", {"idDisciplina": item.id }) }}"><span class="fa fa-plus"></span> Exercício da Aula</a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-primary mb20" href="{{ path('Curso_Imagem_new', { 'idCurso': entity.id }) }}">
                <span class="fa fa-image"></span> Adicionar Imagem
            </a>
            {% if entity.Imagem|length > 0 %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for imagem in entity.imagem %}
                                        <tr>
                                            <td>
                                                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                                    {{ imagem.returnTipo() }}
                                                    <img src="/files/cursos/{{ imagem.imagem }}" class="thumbnail mt" width="300px"/>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Curso_Imagem_edit", {"idCurso": entity.id , "id": imagem.id }) }}"><span class="fa fa-edit"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-primary mb20" href="{{ path('Curso_Item_new', { 'idCurso': entity.id }) }}">
                <span class="fa fa-plus"></span> Adicionar Item
            </a>
            {% if entity.Item|length > 0 %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Valor</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in entity.item %}
                                        <tr>
                                            <td>
                                                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                                    {{ item.titulo }}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                                    {{ item.valor|number_format(2, ',', '.') }}
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="{{ path ("Curso_Item_edit", {"idCurso": entity.id , "id": item.id }) }}"><span class="fa fa-edit"></span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
