<table class="table table-hover">
    <thead>
    <tr>
        <th>Campo</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="20%">Código</td>
        <td width="80%">{{ entity.id }}</td>
    </tr>
    <tr>
        <td>Tipo de Conteúdo</td>
        <td>{{ entity.returnTipoConteudo()|raw }}</td>
    </tr>
    <tr>
        <td>Titulo</td>
        <td>{{ entity.titulo }}</td>
    </tr>
    <tr>
        <td>Resumo</td>
        <td>{{ entity.resumo }}</td>
    </tr>
    <tr>
        <td>Posição</td>
        <td>{{ entity.ordem }}</td>
    </tr>
    {% if entity.tipoConteudo != 4 %}
    <tr>
        <td>Link</td>
        <td>
            {{ entity.link }}
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="{{ entity.link }}"></iframe>
            </div>
        </td>
    </tr>
    <tr>
        <td>Duracao</td>
        <td>{{ entity.duracao }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Status</td>
        <td>{{ entity.returnStatus() }}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-default" href="{{ path('Disciplina_Aula_edit', { 'idCurso' : idCurso, 'idDisciplina' : idDisciplina , 'id': entity.id }) }}">
    <span class="fa fa-edit"></span> Alterar Registro
</a>
<a class="btn btn-default" href="{{ path('Disciplina_show', { 'idCurso' : idCurso, 'id' : idDisciplina }) }}">
    <span class="fa fa-list-alt"></span> Retornar para a Disciplina
</a>
<a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso }) }}">
    <span class="fa fa-list-alt"></span> Retornar para o Curso
</a>
{% if entity.tipoConteudo == 4 %}
<a class="btn btn-default" href="{{ path('admin_aula_questao_listar', { 'idAula' : entity.id }) }}">
    <span class="fa fa-list-ul"></span> Questões da Avaliação
</a>
{% endif %}