{% extends '::base.html.twig' %}
{% block style %}
    {{ parent() }}
    <link href="{{ asset('admin/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form_start(form) }}
                    {% if errors %}
                        <div class="alert alert-danger alert-dismissible mt" role="alert">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Atenção</h4> 
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-default" href="{{ path('Disciplina_show', { 'idCurso' : idCurso, 'id' : idDisciplina }) }}">
                <span class="fa fa-list-alt"></span> Retornar para a Disciplina
            </a>
            <a class="btn btn-default" href="{{ path('Curso_show', { 'id' : idCurso }) }}">
                <span class="fa fa-list-alt"></span> Retornar para o Curso
            </a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('admin/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name='admin_adminbundle_aula[ordem]'").TouchSpin({
                verticalbuttons: true
            });
        });
    </script>
{% endblock%}