{% extends 'AdminBundle:Default:view.html.twig' %}

{% block view -%}
    <!-- TAB NAVIGATION -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Gerenciar Aula</a></li>
        <li><a href="#tab2" role="tab" data-toggle="tab">Acessos das Aulas</a></li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
        <div class="active tab-pane fade in" id="tab1">
            {% include 'AdminBundle:Aula:aula.html.twig' %}
        </div>
        <div class="tab-pane fade" id="tab2">
            {% include 'AdminBundle:Aula:acesso.html.twig' %}
        </div>
    </div>
{% endblock %}
